.carousel-inner
  height: 300px

.carousel-caption h4
  color: #fff
  margin-bottom: 0

.carousel-caption
  position: absolute
  right: 15%
  bottom: 20px
  left: 15%
  padding-bottom: 10px

.carousel-indicators
  display: none !important
