<div class="row">
  <div *ngIf="maxViewableSlideCount < pageContentColumns().length" class="d-flex align-items-center mb-3 col">
    <div class="flex-shrink-0">
      <button aria-label="Previous slide" class="text-dark border-0 bg-transparent p-0 mr-1">
        <app-svg (click)="back()"
                 class="icon"
                 icon="i-back-round">
        </app-svg>
        <span class="sr-only">Previous slide</span></button>
      <button aria-label="Next slide" class="text-dark border-0 bg-transparent p-0">
        <app-svg (click)="forward()"
                 class="icon"
                 icon="i-forward-round">
        </app-svg>
        <span class="sr-only">Next slide</span></button>
    </div>
  </div>
</div>
<div class="row">
  <div *ngFor="let column of viewableColumns(); let columnIndex = index;" [class]="slideClasses()"
       [id]="actions.columnIdentifierFor(columnIndex,'slide')">
    <app-card-editor
      [rowIndex]="rowIndex"
      [columnIndex]="columnIndex"
      [pageContent]="pageContent"
      [contentPath]="contentPath"
      [relativePath]="relativePath">
    </app-card-editor>
  </div>
</div>
