<div ng-class="{'busy': itemAlert.busy}">
    <div class="modal" id="expense-detail-dialog" tabindex="-1" role="dialog" data-backdrop="true" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit <em>Expense Item</em> {{selected.expenseItemIndex + 1}} of {{selected.expenseClaim().expenseItems.length}}</h4>
                </div>
                <div class="modal-body">
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="expense-date">Expense Date</label>

                                    <div class="input-group">
                                        <input ng-disabled="!editable()" ng-model="selected.expenseItem().expenseDate" type="text" class="form-control input-sm" value="{{selected.expenseItem().expenseDate}}"
                                               ng-click="expenseDateCalendar.open($event)"
                                               uib-datepicker-popup is-open="expenseDateCalendar.opened"
                                               ng-required="true" close-text="Close" id="expense-date"/>
                                        <span class="input-group-btn"><button ng-disabled="!editable()" class="btn btn-default btn-sm" ng-click="expenseDateCalendar.open($event)">
                                        <i class="glyphicon glyphicon-calendar"></i></button></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="expenseType">Expense Type</label>
                                    <select ng-model="selected.expenseItem().expenseType" ng-change="expenseTypeChange()" id="expenseType" class="form-control input-sm"
                                            ng-disabled="!editable()"
                                            ng-options="expenseType.name for expenseType in expenseTypes track by expenseType.value">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div ng-if="selected.expenseItem().expenseType.travel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="from">From</label>
                                        <input ng-disabled="!editable()" ng-model="selected.expenseItem().travel.from" type="text" ng-change="setExpenseItemFields()" class="form-control input-sm" id="from"
                                               placeholder="Enter from location here">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="to">To</label>
                                        <input ng-disabled="!editable()" ng-model="selected.expenseItem().travel.to" type="text" ng-change="setExpenseItemFields()" class="form-control input-sm" id="to"
                                               placeholder="Enter to location here">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <br>

                                    <div class="form-group checkbox-group">
                                        <label ng-class="{'ui-state-active': selected.expenseItem().travel.returnJourney}" for="is-return">Return Journey </label>
                                        <input ng-disabled="!editable()" ng-model="selected.expenseItem().travel.returnJourney" ng-change="setExpenseItemFields()" type="checkbox" id="is-return">
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                    <label for="miles">Distance</label>

                                    <div class="input-group">
                                        <input ng-disabled="!editable()" ng-model="selected.expenseItem().travel.miles" type="text" ng-model-options="{debounce:1000}" ng-change="setExpenseItemFields()" class="form-control input-sm" id="miles"
                                               placeholder="Enter miles here">
                                        <span class="input-group-addon">miles</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label for="description">Expense Description</label>
                                    <input ng-if="!selected.expenseItem().expenseType.travel" ng-disabled="!editable() || selected.expenseItem().expenseType.travel" ng-change="setExpenseItemFields()" ng-model="selected.expenseItem().description"
                                           type="text" class="form-control input-sm" id="description"
                                           placeholder="Enter expense description here">
                                </div>
                                <div class="form-group">
                                    <a ng-if="selected.expenseItem().expenseType.travel" target="_blank" id="map-url" ng-href="https://www.google.co.uk/maps/dir/{{selected.expenseItem().travel.from}}/{{selected.expenseItem().travel.to}}" ng-bind="'Show ' + selected.expenseItem().description + ' on google maps'"></a>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <label for="cost">Cost</label>

                                <div class="input-group">
                                    <span class="input-group-addon">£</span>
                                    <input ng-disabled="!editable() || selected.expenseItem().expenseType.travel"
                                           placeholder="Enter cost here" ng-model="selected.expenseItem().cost" id="cost" ng-model-options="{debounce:1000}" type="text" class="form-control input-sm" aria-label="Amount">
                                </div>
                            </div>
                        </div>

                        <div ng-if="!selected.expenseItem().expenseType.travel">
                            <div ng-if="uploadedFile || selected.expenseItem().receipt" class="form-group">
                                <label for="receipt">Description for attached receipt: </label>
                                <a target="_blank" id="receipt" ng-href="{{receiptUrl(selected.expenseItem())}}" ng-bind="receiptTitle(selected.expenseItem())"></a>
                                <input ng-if="allowAddExpenseItem()" ng-model="selected.expenseItem().receipt.title" type="text" value="" class="form-control input-sm" id="receiptTitle"
                                       placeholder="Enter a title for this receipt">
                            </div>
                            <div ng-if="allowAddExpenseItem()" class="form-group">
                                <span class="hidden-input"><input id="hidden-input" type="file" value="Replace" ngf-select="onFileSelect($file)" title="Replace this image"></span>

                                <input ng-if="selected.expenseItem().receipt" ng-disabled="selected.saveInProgress" type="submit" value="Remove receipt" ng-click="removeReceipt()" title="Remove Receipt"
                                       ng-class="selected.saveInProgress ? 'disabled-button-form': 'button-form'">
                                <input ng-if="selected.expenseItem().receipt" ng-disabled="selected.saveInProgress" type="submit" value="Replace receipt" title="Replace receipt on this expense"
                                       ng-class="selected.saveInProgress ? 'disabled-button-form': 'button-form'" ng-click="addReceipt()">
                                <input ng-hide="selected.expenseItem().receipt" ng-disabled="selected.saveInProgress" type="submit" value="Add receipt" title="Add receipt to this expense"
                                       ng-class="selected.saveInProgress ? 'disabled-button-form': 'button-form'" ng-click="addReceipt()">
                            </div>

                            <div ng-if="uploadedFile" class="form-group">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width:{{uploadedFile.progress}}%;">{{uploadedFile.progress}}% uploaded</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input ng-if="allowEditExpenseItem() || allowAddExpenseItem()" ng-disabled="selected.saveInProgress" type="submit" value="Save Expense Item" ng-click="saveExpenseClaim()" title="Save expense item" ng-class="selected.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                    <input ng-if="!confirmAction && allowDeleteExpenseItem()" ng-disabled="selected.saveInProgress" type="submit" value="Delete Expense Item" ng-click="deleteExpenseItem()" title="Delete expense Item" ng-class="selected.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                    <input ng-if="confirmAction.delete && allowDeleteExpenseItem()" ng-disabled="selected.saveInProgress" type="submit" value="Confirm Delete of Expense Item" ng-click="confirmDeleteExpenseItem()" title="Confirm delete of this expense item" ng-class="selected.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-confirm'">
                    <input type="submit" value="Cancel Change" ng-click="cancelExpenseChange()" ng-disabled="selected.saveInProgress" title="Cancel Expense Claim changes and close this dialog" ng-class="selected.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                </div>
            </div>
        </div>
    </div>
</div>
