<div class="bg-success p-4 p-md-5 col-md-9 col-lg-8 col-xl-7" data-v-4142aaec=""><h2 class="mb-3 px-1 px-md-0"
                                                                                     data-v-4142aaec="">
  Find a Wellbeing Walk
</h2>
  <form data-v-4142aaec="">
    <div class="d-md-flex px-1 px-md-0" data-v-4142aaec="">
      <div id="typeahead-11895" role="combobox" aria-haspopup="listbox" aria-owns="result-list-44149"
           aria-expanded="false" aria-label="Start typing to search for a place" class="w-100 mb-2 mb-md-0"
           data-v-274f1e68="" data-v-4142aaec="">
        <div class="input-group" data-v-274f1e68=""><!----> <input id="typeahead-input-65131" type="text"
                                                                   role="searchbox" aria-multiline="false"
                                                                   aria-autocomplete="list"
                                                                   aria-controls="result-list-65131"
                                                                   aria-activedescendant="selected-option-65131"
                                                                   placeholder="Search for a place"
                                                                   aria-label="Search for a place" value=""
                                                                   class="form-control " data-v-274f1e68=""> <!---->
        </div>
        <div id="result-list-65131" role="listbox" class="list-group shadow vbt-autcomplete-list"
             style="display: none; width: 428.328px;" data-v-274f1e68=""></div>
      </div>
      <button type="submit" disabled="disabled" class="btn ml-md-2 shadow btn-primary disabled" data-v-4142aaec="">
        Search
      </button>
    </div>
  </form>
</div>
<div *ngIf="!currentWalkId">
  <div *ngIf="showPagination">
    <div class="d-flex pb-0">
      <input [(ngModel)]="filterParameters.quickSearch" #quickSearch
             (ngModelChange)="onSearchChange($event)"
             name="quickSearch"
             class="form-control rounded mr-3"
             type="text" placeholder="Quick Search">
      <select [(ngModel)]="filterParameters.selectType"
              (ngModelChange)="refreshWalks('change filterParameters.selectType')" name="selectType"
              class="form-control rounded mr-3">
        <option *ngFor="let filter of walksFilter()" [ngValue]="filter.value"
                [selected]="filter.selected">{{filter.description}}</option>
      </select>
      <select [(ngModel)]="filterParameters.ascending"
              (ngModelChange)="refreshWalks('change filterParameters.ascending')" name="ascending"
              class="form-control rounded">
        <option selected [value]="true">Sort (date ascending)</option>
        <option [value]="false">Sort (date descending)</option>
      </select>
    </div>
    <div class="d-flex mt-3">
      <ng-content></ng-content>
      <div class="form-group mb-0 flex-grow-1">
        <div *ngIf="notifyTarget.showAlert" class="alert {{notifyTarget.alertClass}}">
          <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
          <strong>{{notifyTarget.alertTitle}}</strong>
          {{notifyTarget.alertMessage}}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!showPagination">
    <div class="d-lg-flex pb-0">
      <div class="form-group mr-lg-3 mb-lg-0">
        <input [(ngModel)]="filterParameters.quickSearch" #quickSearch
               (ngModelChange)="onSearchChange($event)"
               name="quickSearch"
               class="form-control rounded mr-3"
               type="text" placeholder="Quick Search">
      </div>
      <div class="form-group mr-lg-3 mb-lg-0">
        <select [(ngModel)]="filterParameters.selectType"
                (ngModelChange)="refreshWalks('change filterParameters.selectType')" name="selectType"
                class="form-control rounded mr-3">
          <option *ngFor="let filter of walksFilter()" [ngValue]="filter.value"
                  [selected]="filter.selected">{{filter.description}}</option>
        </select>
      </div>
      <div class="form-group mr-lg-3 mb-lg-0">
        <select [(ngModel)]="filterParameters.ascending"
                (ngModelChange)="refreshWalks('change filterParameters.ascending')" name="ascending"
                class="form-control rounded">
          <option selected [value]="true">Sort (date ascending)</option>
          <option [value]="false">Sort (date descending)</option>
        </select>
      </div>
      <div class="form-group mb-0 flex-grow-1">
        <div *ngIf="notifyTarget.showAlert" class="alert {{notifyTarget.alertClass}}">
          <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
          <strong>{{notifyTarget.alertTitle}}</strong>
          {{notifyTarget.alertMessage}}
        </div>
      </div>
    </div>
  </div>
</div>
