<app-page>
  <app-social-carousel [notifyTarget]="notifyTarget"></app-social-carousel>
  <app-social-search *ngIf="showSearch"
                     [filterParameters]="filterParameters"
                     [notifyTarget]="notifyTarget">
    <pagination class="pagination rounded" [boundaryLinks]=true [rotate]="true" [maxSize]="5"
                [totalItems]="filteredSocialEvents?.length" [(ngModel)]="pageNumber"
                (pageChanged)="pageChanged($event)"></pagination>
  </app-social-search>
  <app-social-list-cards [notifyTarget]="notifyTarget" [filteredSocialEvents]="filteredSocialEvents">
  </app-social-list-cards>
</app-page>
