<div class="modal" ng-controller="WalkSlotsController" id="add-slots-dialog" tabindex="-1" role="dialog" data-backdrop="true" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add slots to <em>walks</em> programme</h4>
            </div>
            <div class="modal-body">
                <uib-tabset>
                    <uib-tab ng-click="selectBulk(true)">
                        <uib-tab-heading>Create slots in bulk</uib-tab-heading>
                        <div class="thumbnail thumbnail-admin-edit">
                            <div class="green-bullets-no-rule">
                                <ul>This facility allows you to add any number of empty <em>Sunday</em> walk slots to the programme that will then entice walk leaders to come forward and lead!
                                    <li>You can choose the date up until you want slots created using the calendar below.</li>
                                    <li>An email can optionally be sent to the group informing them of the new slots that can now be filled.</li>
                                </ul>

                                <div class="form-inline">
                                    <label for="add-slots-until">Add available slots until:</label>
                                    <div class="input-group">
                                        <input ng-disabled="!allow.addSlots()" ng-model="slot.until" type="text" ng-click="slot.open($event)" class="form-control input-sm"
                                               day-format="dd" month-format="MMM" year-format="yyyy"
                                               uib-datepicker-popup="dd-MMM-yyyy" is-open="slot.opened" min="minDate" uib-datepicker-options="dateOptions"
                                               ng-required="true" close-text="Close" id="add-slots-until"/>
                                        <span class="input-group-btn">
                                                    <button ng-disabled="!allow.addSlots()" class="btn btn-default btn-sm" ng-click="slot.open($event)"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab ng-click="selectBulk(false)">
                        <uib-tab-heading>Create non-standard slot</uib-tab-heading>
                        <div class="thumbnail thumbnail-admin-edit">
                            <div class="green-bullets-no-rule">
                                <ul>This facility allows you to an empty walk slot to the programme that will then entice walk leaders to come forward and lead!
                                    <li>This is different to the <em>Create slots in bulk</em> facility is you are able to specify any day, rather than just on a Sunday.</li>
                                </ul>

                                <div class="form-inline">
                                    <label for="add-single-slot">Add a slot on:</label>
                                    <div class="input-group">
                                        <input ng-disabled="!allow.addSlot()" ng-model="slot.single" type="text" ng-click="slot.open($event)" class="form-control input-sm"
                                               day-format="dd" month-format="MMM" year-format="yyyy"
                                               uib-datepicker-popup="dd-MMM-yyyy" is-open="slot.opened" min="minDate" uib-datepicker-options="dateOptions"
                                               ng-required="true" close-text="Close" id="add-single-slot"/>
                                        <span class="input-group-btn">
                                                    <button ng-disabled="!allow.addSlot()" class="btn btn-default btn-sm" ng-click="slot.open($event)"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
                <div class="form-group modal-alert">
                    <div ng-hide="!slotsAlert.showAlert" class="alert {{slotsAlert.alertClass}}"><i class="glyphicon {{slotsAlert.alert.icon}}"></i>
                        <strong>{{slotsAlert.alertTitle}}</strong> {{slotsAlert.alertMessage}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Close" ng-click="closeWalkSlotsDialog()" title="Close this form" class="button-form">
                <input ng-if="allow.addSlots()" ng-disabled="!slot.validDate(slot.until)" type="submit" value="Add slots" ng-click="addWalkSlots()" title="Add more available slots on the walks programme" ng-class="slot.validDate(slot.until) ? 'button-form green-confirm' : 'disabled-button-form button-form-left'">
                <input ng-if="allow.addSlot()" ng-disabled="!slot.validDate(slot.single)" type="submit" value="Add slot" ng-click="addWalkSlot()" title="Add new slot on the walks programme" ng-class="slot.validDate(slot.single) ? 'button-form green-confirm' : 'disabled-button-form button-form-left'">
                <input ng-if="confirmAction.addSlots" type="submit" value="Confirm add slots" ng-click="confirmAddWalkSlots()" title="Confirm to add more available slots on the walks programme" class="button-form green-confirm">
                <input ng-if="confirmAction.addSlot" type="submit" value="Confirm add slot" ng-click="confirmAddWalkSlots()" title="Confirm to add new slot on the walks programme" class="button-form green-confirm">
                <input ng-if="confirmAction" type="submit" value="Cancel" ng-click="cancelConfirmableAction()" title="Cancel this action" class="button-form amber-confirm">
            </div>
        </div>
    </div>
</div>
