<div ng-class="{'busy': walkAlert.busy}">
    <div class="modal" id="walk-dialog" tabindex="-1" role="dialog" data-backdrop="true" aria-labelledby="modal-label"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{walkEditMode.title}} <em>walk</em> ({{userEdits.status | asWalkEventType:
                        'description'}})</h4>
                </div>
                <div class="modal-body">
                    <uib-tabset>
                        <uib-tab>
                            <uib-tab-heading>Date and Location</uib-tab-heading>
                            <div class="thumbnail thumbnail-admin-edit">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="walk-date">Walk Date</label>

                                            <div class="input-group">

                                                <input ng-disabled="!allow.adminEdits()" ng-model="currentWalk.walkDate"
                                                       type="text" class="form-control input-sm"
                                                       day-format="dd" month-format="MMM" year-format="yyyy"
                                                       ng-click="userEdits.walkDateCalendar.open($event)"
                                                       uib-datepicker-popup="dd-MMM-yyyy"
                                                       is-open="userEdits.walkDateCalendar.opened" min="minDate"
                                                       uib-datepicker-options="dateOptions"
                                                       ng-required="true" close-text="Close" id="walk-date"/>
                                                <span class="input-group-btn">
                                                    <button ng-disabled="!allow.adminEdits()"
                                                            class="btn btn-default btn-sm"
                                                            ng-click="userEdits.walkDateCalendar.open($event)"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="start-time">Start Time</label>
                                            <input ng-disabled="!allow.edits()" ng-model="currentWalk.startTime"
                                                   type="text" class="form-control input-sm" id="start-time"
                                                   placeholder="Enter Start time here">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="distance">Distance</label>
                                            <input ng-disabled="!allow.edits()" ng-model="currentWalk.distance"
                                                   type="text" class="form-control input-sm" id="distance"
                                                   placeholder="Enter Distance here">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="nearest-town">Nearest Town</label>
                                            <input ng-disabled="!allow.edits()" ng-model="currentWalk.nearestTown"
                                                   type="text" class="form-control input-sm"
                                                   id="nearest-town"
                                                   placeholder="Enter nearest town here">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="walkType">Walk Type</label>
                                            <select ng-if="allow.detailView()" ng-disabled="!allow.edits()"
                                                    class="form-control input-sm"
                                                    placeholder="Enter walk type here"
                                                    ng-model="currentWalk.walkType"
                                                    ng-options="type for type in walkTypes"
                                                    class="form-control round spaced-controls" id="walkType">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="grid-reference">Grid Reference</label>
                                            <input ng-disabled="!allow.edits()" ng-model="currentWalk.gridReference"
                                                   type="text" class="form-control input-sm" id="grid-reference"
                                                   placeholder="Enter Grid Reference here">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="post-code">Postcode</label>
                                            <input ng-disabled="!allow.edits()" ng-model="currentWalk.postcode"
                                                   type="text" class="form-control input-sm" id="post-code"
                                                   placeholder="Enter Postcode here">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="grade">Grade</label>
                                            <select ng-if="allow.detailView()" ng-disabled="!allow.edits()"
                                                    class="form-control input-sm"
                                                    placeholder="Enter Grade here"
                                                    ng-model="currentWalk.grade"
                                                    ng-options="grade for grade in grades"
                                                    class="form-control round spaced-controls" id="grade">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>Maps and Routes</uib-tab-heading>
                            <div class="thumbnail thumbnail-admin-edit">
                                <div class="row">
                                    <div class="col-sm-6 round">
                                        <h1>Google Maps</h1>
                                        <p>The map below is a preview of where postcode <strong
                                            ng-bind="currentWalk.postcode"></strong> will appear on
                                            Google Maps. This map will be displayed in the detail view of the walk.</p>
                                        <input type="number" min="1" max="20" ng-if="false"
                                               ng-model="googleMapsConfig.zoomLevel">
                                        <iframe ng-if="currentWalk.postcode" class="map-thumbnail-image-dialog"
                                                frameborder="0"
                                                style="border:0;border-radius: 10px;"
                                                ng-src="{{trustSrc(googleMaps(currentWalk))}}" allowfullscreen></iframe>
                                    </div>
                                    <div class="col-sm-6">
                                        <h1>OS Maps</h1>
                                        <div class="green-bullets-no-rule">
                                            <ul>
                                                <li>The fields below are optional and unrelated to data that we send to
                                                    Ramblers.
                                                </li>
                                                <li>Using the fields below, our walks programme can be cross-reference
                                                    to any OS Map route that one of our members has planned or
                                                    recorded.
                                                </li>
                                                <li>When the URL is populated, a link will be provided on the detail
                                                    view of the walk. This assumes that the walk is saved as publically
                                                    viewable.
                                                </li>
                                                <li>An OS Map route can be added after the walk has been completed if
                                                    the route has not already been pre-planned by the walks leader and
                                                    another member records it on the day.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="form-group">
                                            <label for="related-links-route">OS Maps Route</label>
                                            <input ng-model="currentWalk.osMapsRoute"
                                                   type="text" value="" class="form-control input-sm"
                                                   id="related-links-route"
                                                   placeholder="Enter URL to OS Maps Route">
                                        </div>
                                        <div class="form-group">
                                            <label for="related-links-title">OS Maps Title</label>
                                            <input ng-model="currentWalk.osMapsTitle"
                                                   type="text" value="" class="form-control input-sm"
                                                   id="related-links-title"
                                                   placeholder="Enter optional title for OS Maps link">
                                        </div>
                                        <div class="form-group">
                                            <div ng-if="currentWalk.osMapsRoute">
                                                <br>
                                                <h3>Link Preview</h3>
                                                <img class="related-links-image"
                                                     src="assets/images/local/ordnance-survey.ico"
                                                     alt=""/>
                                                <a target="_blank"
                                                   ng-href="{{currentWalk.osMapsRoute}}" class="text1">
                                            <span class="related-links-title"
                                                  tooltip-placement="left"
                                                  uib-tooltip="Click to view the route for this walk on Ordnance Survey Maps">
                                          Maps: {{currentWalk.osMapsTitle || currentWalk.briefDescriptionAndStartPoint}}</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>Descriptions</uib-tab-heading>
                            <div class="thumbnail thumbnail-admin-edit">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="brief-description-and-start-point">Brief Description and Start
                                                Point</label>
                                            <textarea ng-disabled="!allow.edits()"
                                                      ng-model="currentWalk.briefDescriptionAndStartPoint" type="text"
                                                      class="form-control input-sm" rows="3"
                                                      id="brief-description-and-start-point"
                                                      placeholder="Enter Brief description and start point here"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="longer-description">Longer Description <a
                                                ng-hide="userEdits.longerDescriptionPreview"
                                                ng-click="previewLongerDescription()" ng-href=""><i
                                                class="glyphicon glyphicon-ok-circle markdown-preview-icon"></i> preview</a>
                                                <a ng-if="userEdits.longerDescriptionPreview"
                                                   ng-click="editLongerDescription()" ng-href=""><i
                                                    class="glyphicon glyphicon-pencil markdown-preview-icon"></i>
                                                    edit</a> </label>
                                            <p ng-if="userEdits.longerDescriptionPreview"
                                               ng-click="editLongerDescription()"
                                               btf-markdown="currentWalk.longerDescription" type="text"
                                               id="longer-description-formatted"></p>
                                            <textarea ng-if="!userEdits.longerDescriptionPreview"
                                                      ng-disabled="!allow.edits()"
                                                      ng-blur="previewLongerDescription()"
                                                      ng-model="currentWalk.longerDescription" type="text"
                                                      class="form-control input-sm" rows="5" id="longer-description"
                                                      placeholder="Enter Longer Description here"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>Walk Leader</uib-tab-heading>
                            <div class="thumbnail thumbnail-admin-edit">
                                <div class="row">
                                    <div ng-if="allow.adminEdits()" class="col-sm-12">
                                        <div class="form-group">
                                            <label for="walk-status">Walk Status</label>
                                            <select ng-disabled="!allow.adminEdits()"
                                                    ng-change="walkStatusChange('{{userEdits.status}}')"
                                                    class="form-control input-sm"
                                                    ng-model="userEdits.status"
                                                    ng-options="walkStatus.eventType as walkStatus.description for walkStatus in walkStatuses"
                                                    class="form-control round spaced-controls" id="walk-status">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div ng-if="allow.adminEdits()" class="col-sm-12">
                                        <div class="form-group">
                                            <label for="contact-member">Walk Leader</label>
                                            <select ng-if="allow.detailView()" ng-disabled="!allow.adminEdits()"
                                                    ng-change="walkLeaderMemberIdChanged()"
                                                    class="form-control input-sm"
                                                    ng-model="currentWalk.walkLeaderMemberId"
                                                    ng-options="member.$id() as member | fullNameWithAlias  for member in members"
                                                    class="form-control round spaced-controls" id="contact-member">
                                                <option value="">(no walk leader selected)</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="allow.adminEdits()" class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="display-name">Display Name</label>
                                            <input ng-disabled="true" ng-model="currentWalk.displayName"
                                                   type="text"
                                                   class="form-control input-sm" id="display-name"
                                                   placeholder="Name as displayed to the public and sent to Ramblers in CSV export file">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="contact-id">Contact Id</label>
                                            <input ng-model="currentWalk.contactId"
                                                   type="text"
                                                   class="form-control input-sm" id="contact-id"
                                                   placeholder="Sent to Ramblers in CSV export file">
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="!allow.adminEdits()" class="row">
                                    <div ng-if="!allow.adminEdits()" class="col-sm-12">
                                        <div class="form-group">
                                            <label for="display-name-readonly">Walk Leader</label>
                                            <input ng-disabled="true" ng-model="currentWalk.displayName" type="text"
                                                   class="form-control input-sm" id="display-name-readonly"
                                                   placeholder="Name as displayed to the public and sent to Ramblers">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="contact-phone">Contact Phone</label>
                                            <input ng-disabled="!allow.edits()" ng-model="currentWalk.contactPhone"
                                                   type="text" class="form-control input-sm" id="contact-phone"
                                                   placeholder="Enter contact phone here">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="contact-email">Contact Email</label>
                                            <input ng-if="allow.detailView()" ng-disabled="!allow.edits()"
                                                   ng-model="currentWalk.contactEmail" type="text"
                                                   class="form-control input-sm" id="contact-email"
                                                   placeholder="Enter contact email here">
                                            <input ng-if="!allow.detailView()" ng-disabled="true"
                                                   value="(login to see this)" type="text"
                                                   class="form-control input-sm"
                                                   id="contact-email-hidden">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>Related Links</uib-tab-heading>
                            <div class="thumbnail thumbnail-admin-edit">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row thumbnail thumbnail-campaign-settings third-party-panel">
                                            <div class="thumbnail-heading">Ramblers</div>
                                            <div class="form-group">
                                                <p ng-if="!insufficientDataToUploadToRamblers() && !ramblersWalkExists()">
                                                    This walk has not been
                                                    uploaded to Ramblers yet - check back when date is closer to
                                                    <b>{{currentWalk.walkDate | displayDate}}</b>.
                                                </p>
                                                <p ng-if="insufficientDataToUploadToRamblers()">
                                                    {{walkValidations()}}
                                                </p>
                                                <div ng-if="canUnlinkRamblers()">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <input type="submit" value="Unlink"
                                                                   ng-click="unlinkRamblersDataFromCurrentWalk()"
                                                                   title="Remove link between this walk and Ramblers"
                                                                   class="button-form">
                                                        </div>
                                                        <div class="col-sm-9">
                                                            You might need to unlink if the walk on Ramblers
                                                            Walks and Events Manager has been deleted or
                                                            replaced by a newer version and you want to re-link
                                                            it.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group force-to-bottom" ng-if="ramblersWalkExists()">
                                                <h3>Ramblers Link Preview</h3>
                                                <img class="related-links-image"
                                                     src="assets/images/ramblers/favicon.ico"
                                                     alt="Click to view on Ramblers Walks and Events Manager"/>
                                                <a target="_blank"
                                                   ng-href="{{ramblersWalkBaseUrl}}{{currentWalk.ramblersWalkId}}">
                                            <span class="related-links-title"
                                                  tooltip-placement="left"
                                                  uib-tooltip="Click to view on Ramblers Walks and Events Manager">
                                          Ramblers: {{currentWalk.briefDescriptionAndStartPoint}}</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row thumbnail thumbnail-campaign-settings third-party-panel">
                                            <div class="thumbnail-heading">Meetup</div>
                                            <div class="form-group">
                                                <label for="meetup-event-url">Link to Meetup event:</label>
                                                <select class="form-control input-sm"
                                                        ng-model="userEdits.meetupEvent"
                                                        ng-change="meetupEventUrlChange(currentWalk)"
                                                        ng-options="meetupEvent as meetupEvent | meetupEventSummary for meetupEvent in meetupEvents"
                                                        class="form-control round spaced-controls"
                                                        id="meetup-event-url">
                                                </select>
                                            </div>
                                            <div ng-if="canUnlinkMeetup()">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="submit" value="Unlink"
                                                               ng-click="unlinkMeetup()"
                                                               title="Remove link between this walk and Meetup"
                                                               class="button-form">
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="false" class="form-group">
                                                <label for="meetup-title">Meetup event title</label>
                                                <input ng-model="currentWalk.meetupEventTitle"
                                                       type="text" value="" class="form-control input-sm"
                                                       id="meetup-title"
                                                       placeholder="Enter optional title for Meetup event">
                                            </div>
                                            <div class="form-group force-to-bottom" ng-if="currentWalk.meetupEventUrl">
                                                <h3>Meetup Link Preview</h3>
                                                <img class="related-links-image" src="assets/images/local/meetup.ico"
                                                     alt=""/>
                                                <a target="_blank"
                                                   ng-href="{{currentWalk.meetupEventUrl}}">
                                            <span class="related-links-title"
                                                  tooltip-placement="left"
                                                  uib-tooltip="Click to view this walk in Meetup">
                                          Meetup: {{currentWalk.meetupEventTitle || currentWalk.briefDescriptionAndStartPoint}}</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab ng-if="allow.historyView()">
                            <uib-tab-heading>History</uib-tab-heading>
                            <div class="thumbnail thumbnail-admin-edit">
                                <div class="form-group">
                                    <table
                                        class="round tbl-green-f table-striped table-hover table-condensed table-pointer">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Who</th>
                                            <th>Description</th>
                                            <th>Notes</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="event in currentWalk.events | orderBy : event.date : true">
                                            <td style="width: 25%" ng-bind="event.date | displayDateAndTime"></td>
                                            <td style="width: 15%"
                                                ng-bind="event.memberId | memberIdToFullName : members"></td>
                                            <td style="width: 20%"
                                                ng-bind="event.eventType | asWalkEventType : 'description'"></td>
                                            <td style="width: 40%"><span tooltip-placement="left"
                                                                         uib-tooltip="Details: {{event | asChangedItemsTooltip : members}}">{{event | asEventNote}}</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                    <div class="thumbnail" ng-if="allow.edits() && currentWalk.walkLeaderMemberId">
                        <h3>Create {{myOrWalkLeader()}} walk based on an existing one:</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="radio-inline map-radio-group map-radio-label">

                                    <input ng-disabled="false"
                                           id="copy-selected-walk-leader" type="radio"
                                           ng-model="userEdits.copySource"
                                           ng-click="populateWalkTemplates()"
                                           value="copy-selected-walk-leader"/>
                                    <label for="copy-selected-walk-leader">Previously led by: <select
                                        class="form-control input-sm input-led-by"
                                        ng-model="userEdits.copySourceFromWalkLeaderMemberId"
                                        ng-click="selectCopySelectedLeader()"
                                        ng-change="populateWalkTemplates()"
                                        ng-options="member.$id() as member | fullNameWithAliasOrMe : '(member not found)' : currentWalk.walkLeaderMemberId for member in members"
                                        id="copy-member-walks">
                                        <option value="">(no walk leader selected)</option>
                                    </select></label>

                                    <input id="copy-with-os-maps-route-selected" type="radio"
                                           ng-model="userEdits.copySource"
                                           ng-click="populateWalkTemplates()"
                                           value="copy-with-os-maps-route-selected"/>
                                    <label for="copy-with-os-maps-route-selected">With an OS Maps route I can follow</label>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 mt-8">
                                <label for="copy-walks-list">
                                    Copy from {{copyFrom.walkTemplates.length || 0}} available walk(s): </label>
                                <select
                                    ng-disabled="!allow.edits()" class="form-control input-sm fit-to-contents"
                                    ng-model="copyFrom.walkTemplate"
                                    ng-options="walkTemplate | walkSummary for walkTemplate in copyFrom.walkTemplates"
                                    ng-change="populateCurrentWalkFromTemplate()"
                                    id="copy-walks-list">
                                    <option value="">(none selected)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group modal-alert">
                        <div ng-hide="!walkAlert.showAlert" class="alert {{walkAlert.alertClass}}"><i
                            class="glyphicon {{walkAlert.alert.icon}}"></i>
                            <strong>{{walkAlert.alertTitle}}</strong> {{walkAlert.alertMessage}}
                        </div>
                    </div>
                    <div ng-if="userEdits.walkLink(currentWalk)">
                        <label> <a href="" uib-popover="Link has been copied to clipboard" popover-trigger="focus"
                                   ng-click="userEdits.copyToClipboard(userEdits.walkLink(currentWalk))">
                            <i class="glyphicon glyphicon-copy markdown-preview-icon fa-lg"><span tooltip-placement="left" uib-tooltip="Click to copy link to clipboard"></span></i> copy link </a> to this </label>
                        <a ng-href="{{userEdits.walkLink(currentWalk)}}"
                           target="_blank">walk</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <input ng-if="allow.close()" ng-disabled="userEdits.saveInProgress" type="submit"
                           value="Close"
                           ng-click="hideWalkDialog()" title="Close this dialog"
                           ng-class="userEdits.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                    <input ng-if="allow.save()" ng-disabled="userEdits.saveInProgress" type="submit" value="Save"
                           ng-click="saveWalkDetails()" title="Save these walk details"
                           ng-class="userEdits.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                    <input ng-if="allow.cancel()" ng-disabled="userEdits.saveInProgress" type="submit"
                           value="Cancel"
                           ng-click="cancelWalkDetails()" title="Cancel and don't save"
                           ng-class="userEdits.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                    <input ng-if="confirmAction.cancel" ng-disabled="userEdits.saveInProgress" type="submit"
                           value="Confirm" ng-click="confirmCancelWalkDetails()"
                           title="Confirm losing my changes and closing this form"
                           ng-class="userEdits.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left button-confirm'">

                    <input ng-if="allow.delete()" ng-disabled="userEdits.saveInProgress" type="submit"
                           value="Delete"
                           ng-click="deleteWalkDetails()" title="Delete these walk details"
                           ng-class="userEdits.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                    <input ng-if="confirmAction.delete" ng-disabled="userEdits.saveInProgress" type="submit"
                           value="Confirm Deletion" ng-click="confirmDeleteWalkDetails()"
                           title="Confirm Delete of these walk details"
                           ng-class="userEdits.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left button-confirm'">

                    <input ng-if="allow.requestApproval()" ng-disabled="userEdits.saveInProgress" type="submit"
                           value="Request Approval" ng-click="requestApproval()"
                           title="Mark walk details complete and request approval"
                           ng-class="userEdits.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                    <input ng-if="confirmAction.requestApproval" ng-disabled="userEdits.saveInProgress"
                           type="submit"
                           value="Confirm Request Approval" ng-click="confirmRequestApproval()"
                           title="Confirm walk details complete and request approval"
                           ng-class="userEdits.saveInProgress ? 'disabled-button-form button-form-left': 'button-form green-confirm'">

                    <input ng-if="allow.contactOther()" ng-disabled="userEdits.saveInProgress" type="submit"
                           value=""
                           ng-click="contactOther()" title="Contact {{personToNotify()}}"
                           ng-class="userEdits.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                    <input ng-if="confirmAction.contactOther" ng-disabled="userEdits.saveInProgress" type="submit"
                           value="Contact {{personToNotify()}}" ng-click="confirmContactOther()"
                           title="Contact {{personToNotify()}} via email"
                           ng-class="userEdits.saveInProgress ? 'disabled-button-form button-form-left': 'button-form green-confirm'">

                    <input ng-if="confirmAction" type="submit" value="Cancel" ng-click="cancelConfirmableAction()"
                           title="Cancel this action"
                           ng-class="userEdits.saveInProgress ? 'disabled-button-form button-form-left': 'button-form amber-confirm'">
                    <div ng-if="allow.notifyConfirmation() && !userEdits.saveInProgress" class="row">
                        <div class="col-sm-12">
                            <div ng-disabled="!allow.notifyConfirmation()"
                                 class="checkbox-group checkbox-group-in-footer">
                                <label ng-class="{'ui-state-active': userEdits.sendNotifications}"
                                       for="send-notification">Notify {{personToNotify()}} about this change
                                    <input ng-model="userEdits.sendNotifications"
                                           ng-disabled="userEdits.saveInProgress"
                                           type="checkbox" id="send-notification">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
