<div class="wrapper">
    <div id="page-body" role="main">

        <div class="body-header">

            <div class="breadcrumbs">
                <ul>
                    <li><a href="/" title="Home">Home</a></li>
                    <ul>
                        <li><a href="/" title="Admin">Admin</a></li>
                        <li class="last">Edit Images</li>
                    </ul>

                </ul>
            </div>

        </div>

        <div ng-if="!allowEdits">
            <div class="well"><img src="assets/images/ramblers/icon-members.png"
                                   alt="members area">
                You need to be logged in with the correct administration privileges to view this page. Click the link above to login.
            </div>
        </div>

        <div ng-if="allowEdits">
            <div ng-class="{'busy': busy}">
                <div class="row page-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1>EKWG Image Editor
                                <br>
                                <small>Add, remove, replace or re-order images for carousels</small>
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="imageSource">Edit images from</label>
                                <select ng-model="imageSource" id="imageSource" class="form-control round" ng-change="refreshImageMetaData(imageSource)">
                                    <option selected="selected" value="imagesHome">Home Page</option>
                                    <option value="imagesSocialEvents">Social Events</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="green-bullets-no-rule">
                        <ul>Directions for this page
                            <li>This page allows EKWG site content administrators to add, remove, replace or re-order images that are displayed inside scrolling 'carousels' on the Home and the Social Events pages.</li>
                            <li ng-if="imageSource == 'imagesHome'">Please note in order for images to appear correctly for this view, they must first be cropped to 940 pixels wide x 300 pixels high. This editor can't do that cropping
                                for you! (yet)
                            </li>
                            <li>Use the buttons to the right of each image to <b>replace</b>, <b>delete</b> or <b>insert</b> a new image, or <b>move up or down</b> an existing image.</li>
                            <li>Use the buttons just below these directions to save all of the changes you've just made or to exit without saving if you've done something by mistake that you want to
                                undo!
                            </li>
                            <li>Add or change the title to the right of each image. This is displayed in white over the image. Try to keep this below {{imageTitleLength()}} characters otherwise it will wrap onto the next
                                line and won't look quite as good.
                            </li>
                            <li>You can click <b>Reverse Sort Order</b> to get the carousel to start displaying the images from the other end of the sort sequence</li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <input type="submit" value="Save Changes and Exit" ng-click="saveAll()" title="Save all image changes" class="button-form">
                        <input type="submit" value="Exit Without Saving" ng-click="exitBackToPreviousWindow()" title="Exit Without Saving" class="button-form">
                        <input type="submit" value="Reverse Sort Order" ng-click="reverseSortOrder()" title="Reverse Sort Order" class="button-form">
                    </div>
                    <div class="col-sm-12">
                        <div ng-hide="!showAlert" class="alert {{alertClass}}">{{alertMessage}}</div>
                    </div>
                </div>

                <span class="hidden-input"><input id="hidden-input" type="file" value="Replace" ngf-select="onFileSelect($file)" title="Replace this image"></span>

                <div ng-repeat-start="imageMetaDataItem in imageMetaData.files" class="row">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="image">Image {{$index+1}} of {{imageMetaData.files.length}}: {{imageMetaDataItem.image.split('/').pop()}}</label>
                                <img id="image" class="img-responsive" ng-src="{{imageMetaDataItem.image}}" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="form-group">
                                    <label for="image-title">Image Title</label>
                                    <textarea ng-model="imageMetaDataItem.text" type="text" class="form-control input-sm"
                                              rows="3" id="image-title" placeholder="Enter title for image"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div ng-if="currentImageMetaDataItemBeingUploaded(imageMetaDataItem)">
                                    <span class="progress" ng-if="progress >= 0"><div style="width:{{progress}}%" ng-bind="progress + '%'"></div></span>
                                    <div ng-if="uploadedFile" class="form-group">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width:{{uploadedFile.progress}}%;">{{uploadedFile.progress}}% uploaded</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <input type="submit" value="Replace" ng-click="replace(imageMetaDataItem)" title="Replace this image" class="button-form">
                                <input type="submit" value="Delete" ng-click="delete(imageMetaDataItem)" title="Delete this image" class="button-form">
                                <input type="submit" value="Insert" ng-click="insertHere(imageMetaDataItem)" title="Insert new image before this one" class="button-form">
                                <input type="submit" value="Move up" ng-click="moveUp(imageMetaDataItem)" title="move this image up in the sequence" class="button-form">
                                <input type="submit" value="Move down" ng-click="moveDown(imageMetaDataItem)" title="move this image down in the sequence" class="button-form">
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="after-image-rule" ng-repeat-end></div>
            </div>
        </div>
    </div>
</div>
