<div [ngClass]="{'busy': walkExportTarget.busy}">
  <div class="wrapper">
    <div id="page-body" role="main">
      <div class="body-header">
        <div class="breadcrumbs">
          <ul>
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="/walks" title="Walks">Walks</a></li>
            <li class="last">Export</li>
          </ul>
        </div>
      </div>
      <div *ngIf="true">
        <tabset>
          <tab active="true" heading="Walk upload selection">
            <div class="thumbnail thumbnail-admin-edit">
              <div class="form-group modal-alert">
                <div *ngIf="walkExportTarget.showAlert" class="alert {{walkExportTarget.alertClass}}"><i
                  class="glyphicon {{walkExportTarget.alert.icon}}"> </i><strong *ngIf="walkExportTarget.alertTitle">
                  {{walkExportTarget.alertTitle}}: </strong> {{walkExportTarget.alertMessage}}
                </div>
              </div>
              <div class="row mb-12">
                <div class="col-sm-12">
                  <input *ngIf="walksDownloadFile().length > 0" type="submit"
                         value="Upload {{walksDownloadFile().length}} walk(s) directly to Ramblers"
                         (click)="uploadToRamblers()"
                         title="Upload {{walksDownloadFile().length}} selected walk(s) directly to Ramblers Walks and Events Manager"
                         [ngClass]="exportInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                  <input *ngIf="walksDownloadFile().length > 0" type="submit"
                         (click)="exportCSV()"
                         value="Export {{walksDownloadFile().length}} walk(s) file as CSV format"
                         title="Export {{walksDownloadFile().length}} selected walk(s) in Ramblers Walks and Events Manager upload format"
                         [ngClass]="exportInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                  <angular2csv id="angular-2-csv" hidden [data]="walksDownloadFile()"
                               [filename]="walksDownloadFileName()"
                               [options]="csvOptions"></angular2csv>

                  <input type="submit" value="Back to walks" (click)="navigateBackToWalks()"
                         title="Back to walks"
                         class="button-form button-form-left">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="round tbl-green-f table-striped table-hover table-condensed table-pointer">
                    <thead>
                    <tr>
                      <th>Export</th>
                      <th>Published</th>
                      <th>Walk Date</th>
                      <th>Description</th>
                      <th>Problems</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let walk of walksForExport">
                      <td (click)="changeWalkExportSelection(walk)"
                          [ngClass]="walk.selected ? 'checkbox-on' : 'checkbox-off'"></td>
                      <td [ngClass]="walk.publishedOnRamblers ? 'checkbox-on' : 'checkbox-off'"></td>
                      <td class="nowrap">{{walk.walk.walkDate | displayDate}}</td>
                      <td>{{walk.walk.briefDescriptionAndStartPoint}}</td>
                      <td>{{walk.walkValidations.join(", ")}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Walk upload audit">
            <div class="thumbnail thumbnail-admin-edit">
              <div class="form-group">
                <div *ngIf="auditTarget.showAlert" class="alert {{auditTarget.alertClass}}"><i
                  class="glyphicon {{auditTarget.alert.icon}}"> </i><strong *ngIf="auditTarget.alertTitle">
                  {{auditTarget.alertTitle}}: </strong> {{auditTarget.alertMessage}}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="button-group">
                    <form class="form-inline">
                      <div class="form-group">
                        <label for="fileName" class="export-label">Show upload session: </label>
                        <select class="form-control input-sm"
                                id="fileName"
                                name="filename"
                                (change)="fileNameChanged()"
                                [(ngModel)]="fileName"
                                class="form-control input-sm" id="fileNames">
                          <option *ngFor="let fileName of fileNames"
                                  [ngValue]="fileName"
                                  [textContent]="fileName">
                          </option>
                        </select>
                      </div>
                      <div class="form-group">
                        <div class="checkbox-group">
                          <label [ngClass]="{'ui-state-active': showDetail}"
                                 (click)="fileNameChanged()"
                                 for="show-detailed-audit-messages">Show details
                            <input [(ngModel)]="showDetail"
                                   name="showDetail" type="checkbox" id="show-detailed-audit-messages">
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="submit" value="Back to walks" (click)="navigateBackToWalks()"
                               title="Back to walks"
                               class="button-form button-form-left">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col col-sm-12">
                  <table class="round tbl-green-f table-striped table-hover table-condensed table-pointer">
                    <thead>
                    <tr>
                      <th>Date/Time</th>
                      <th>Status</th>
                      <th>Audit Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let audit of ramblersUploadAuditData">
                      <td class="nowrap">{{audit.auditTime | displayDateAndTime}}</td>
                      <td *ngIf="audit.status==='complete'">
                        <i [ngClass]="finalStatusError ? 'glyphicon glyphicon glyphicon-remove red-icon':
                          'glyphicon glyphicon-ok green-icon'"></i>
                      <td *ngIf="audit.status==='success'">
                        <i class="glyphicon glyphicon-ok-circle green-icon"></i>
                      <td *ngIf="audit.status==='info'">
                        <i class="glyphicon glyphicon-info-sign blue-icon"></i>
                      <td *ngIf="audit.status==='error'">
                        <i class="glyphicon glyphicon-remove-circle red-icon"></i>
                      <td>{{audit.message}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
