.angular2csv
  background-color: #4CAF50
  /* Green */
  border: none
  color: white
  padding: 15px 32px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 16px

.hidden-input
  display: block
  visibility: hidden
  width: 0
  height: 0

.form-inline > *
  margin-right: 20px

.checkbox-group input
  position: absolute
  left: -9999px

.checkbox-group-in-footer
  margin: 0 0 -9px 0
  padding: 6px 0 0 0


.checkbox-group label
  display: inline
  margin-top: 6px
  padding: 2px 10px 5px 30px

.export-label
  margin-right: 9px
