$ramblers-colour-legacy-green: #A8B400
$ramblers-colour-legacy-black: #333
$ramblers-colour-mintcake: rgb(155, 200, 171)
$ramblers-colour-mintcake-hover: rgb(133, 173, 146)
$ramblers-colour-rosycheeks: rgb(246, 176, 157)
$ramblers-colour-sunset: rgb(240, 128, 80)
$ramblers-colour-sunrise: rgb(249, 177, 4)
$ramblers-colour-hover: rgb(255, 221, 0)
$ramblers-colour-granite: rgb(64, 65, 65)
$ramblers-colour-cloudy: rgb(255, 255, 255)
$admin-color: $ramblers-colour-mintcake
$admin-color-hover: $ramblers-colour-mintcake-hover
