<app-page>
  <app-dynamic-content [anchor]="'action-buttons'"></app-dynamic-content>
  <app-dynamic-content [anchor]="'committee-years'"></app-dynamic-content>
  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="showAlertMessage()" class="row">
        <div class="col-sm-12 mb-10">
          <div class="alert {{notifyTarget.alertClass}}">
            <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
            <strong *ngIf="notifyTarget.alertTitle">
              {{notifyTarget.alertTitle}}: </strong> {{notifyTarget.alertMessage}}
          </div>
        </div>
      </div>
      <app-committee-list-years [notify]="notify" [confirm]="confirm"></app-committee-list-years>
      <app-committee-year [committeeYear]="committeeYear"  [notify]="notify" [confirm]="confirm"></app-committee-year>
    </div>
  </div>

</app-page>
