<div *ngIf="config">
  <div class="form-inline">
    <label class="control-label" for="default-prefix">Description prefix: </label>
    <select class="form-control input-sm"
            [ngModel]="selectedContentTextItem"
            (ngModelChange)="changeDefaultContent($event)"
            class="form-control"
            id="default-prefix">
      <option *ngFor="let contentTextItem of contentTextItems"
              [ngValue]="contentTextItem"
              [textContent]="contentTextItem.name">
      </option>
    </select>
    <label class="control-label" for="publish-status">Create as:</label>
    <select class="form-control"
            [(ngModel)]="config.publishStatus"
            class="form-control" id="publish-status">
      <option *ngFor="let publishStatus of publishStatuses"
              [ngValue]="publishStatus"
              [textContent]="publishStatus">
      </option>
    </select>
    <label class="control-label" for="guest-limit">RSVP limit:</label>
    <select class="form-control"
            [(ngModel)]="config.guestLimit"
            (ngModelChange)="changeGuestLimit($event)"
            class="form-control" id="guest-limit">

      <option *ngFor="let guestLimit of guestLimits"
              [ngValue]="guestLimit"
              [textContent]="guestLimit">
      </option>
    </select>
    <div class="form-group">
      <div class="checkbox-inline">
        <label [ngClass]="{'ui-state-active': config.announce}"
               for="announce">Announce
          <input [(ngModel)]="config.announce"
                 name="showDetail" type="checkbox" id="announce">
        </label>
      </div>
    </div>
  </div>
</div>
