<ul *ngIf="format==='list'"
    style="margin: 10px 0 0;padding: 0 0 10px 10px;font-weight: bold;background-position: 0% 100%;background-repeat: repeat no-repeat;margin-bottom: 20px;"
    [ngStyle]="{'background-image': 'url('+ uRLService.baseUrl() + '/assets/images/ramblers/dot-darkgrey-hor.png)'}">
  <span [textContent]="heading"></span>
  <li
    style="font-weight: normal;padding: 4px 0px 4px 21px;list-style: none;background-position: 0px 9px;background-repeat: no-repeat no-repeat"
    [ngStyle]="{'background-image': 'url('+ uRLService.baseUrl() + '/assets/images/ramblers/bull-green.png)'}"
    *ngFor="let committeeMember of committeeMembers()">
    {{committeeMember.fullName}} - {{committeeMember.description}} - <a [href]="'mailto:' + committeeMember.email"
                                                                        [textContent]="committeeMember.email"></a>
  </li>
</ul>
<a *ngIf="format!=='list'" [href]="'mailto:' + email()" [textContent]="text||email()"></a>
