<div *ngIf="editNameEnabled">
  <label class="mr-8 mt-12" [for]="'input_'+ content.name | snakeCase">Content name</label>
  <input [(ngModel)]="content.name"
         [id]="'input_'+ content.name | snakeCase"
         type="text" class="form-control input-sm"
         placeholder="Enter name of content">
  <label class="mr-8 mt-12" [for]="content.name">Content for {{content.name}}</label>
</div>
<span *ngIf="editorState.editActive" class="markdown-links">
    <a *ngIf="!editorState.preview"
       (click)="preview() && !saving()"><span class="badge">
      <fa-icon [icon]="querying() ? faSpinner: faMagnifyingGlass" class="badge-icon"></fa-icon>
      {{previewCaption}}</span></a>
    <a *ngIf="editorState.preview" [title]="'Edit content for ' + description"
       (click)="edit()"><span class="badge">
      <fa-icon [icon]="querying() ? faSpinner: faPencil" class="badge-icon"></fa-icon>
      {{editCaption}}</span></a>
    <a *ngIf="dirty() && canSave()"
       (click)="save()"><span class="badge">
      <fa-icon [icon]="saving() ? faSpinner: faCircleCheck" class="badge-icon"></fa-icon> save</span></a>
    <a *ngIf="dirty() && !saving()"
       (click)="revert()"><span class="badge">
      <fa-icon [icon]="reverting() ? faSpinner: faRemove" class="badge-icon"></fa-icon> revert</span></a>
    <a *ngIf="canDelete() && !saving()"
       (click)="delete()"><span class="badge">
      <fa-icon [icon]="reverting() ? faSpinner: faEraser" class="badge-icon"></fa-icon> delete</span></a>
</span>
<span *ngIf="canPreview()"
      (click)="edit()"
      markdown ngPreserveWhitespaces [data]="content.text">
  </span>
<textarea *ngIf="canEdit()"
          [(ngModel)]="content.text"
          (ngModelChange)="changeText($event)"
          class="form-control markdown-textarea" rows="{{rows}}"
          placeholder="Enter {{description}} text here">
</textarea>
<ng-content>
</ng-content>
