<div *ngIf="editNameEnabled">
  <label class="mt-2 mt-3" [for]="'input_'+ content.name | snakeCase">Content name</label>
  <input [(ngModel)]="content.name"
         [id]="'input_'+ content.name | snakeCase"
         type="text" class="form-control input-sm"
         placeholder="Enter name of content">
  <label class="mt-2 mt-3" [for]="content.name">Content for {{content.name}}</label>
</div>
<div class="row" *ngIf="editorState.editActive">
  <div class="col-12">
    <ng-content>
    </ng-content>
    <div *ngIf="!editorState.preview" (click)="preview() && !saving()" class="badge-button">
      <fa-icon [icon]="querying() ? faSpinner: faMagnifyingGlass"></fa-icon>
      <span>{{previewCaption}}</span></div>
    <div *ngIf="editorState.preview"
         (click)="edit()"
         delay=500 [tooltip]="'Edit content for ' + description" class="badge-button">
      <fa-icon [icon]="querying() ? faSpinner: faPencil"></fa-icon>
      <span>{{editCaption}}</span>
    </div>
    <div *ngIf="dirty() && canSave()" class="badge-button"
         (click)="save()" [tooltip]="'Save content for ' + description">
      <fa-icon [icon]="saving() ? faSpinner: faCircleCheck"></fa-icon>
      <span>save</span>
    </div>
    <div *ngIf="dirty() && !saving()" class="badge-button" (click)="revert()"
         delay=500 [tooltip]="'Revert content for ' + description">
      <fa-icon [icon]="reverting() ? faSpinner: faRemove"></fa-icon>
      <span>revert</span>
    </div>
    <div *ngIf="canDelete() && !saving()" class="badge-button"
         (click)="delete()" delay=500 [tooltip]="'Delete content for ' + description">
      <fa-icon [icon]="reverting() ? faSpinner: faEraser"></fa-icon>
      <span>delete</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div *ngIf="canPreview()"
         (click)="edit()" markdown ngPreserveWhitespaces [data]="content.text">
    </div>
    <textarea *ngIf="canEdit()"
              [(ngModel)]="content.text"
              (ngModelChange)="changeText($event)"
              class="form-control markdown-textarea" rows="{{rows}}"
              placeholder="Enter {{description}} text here">
</textarea>
  </div>
</div>
