<div *ngIf="editNameEnabled">
  <label class="mr-8 mt-12" [for]="'input_'+ content.name | snakeCase">Content name</label>
  <input [(ngModel)]="content.name"
         [id]="'input_'+ content.name | snakeCase"
         type="text" class="form-control input-sm"
         placeholder="Enter name of content">
  <label class="mr-8 mt-12" [for]="content.name">Content for {{content.name}}</label>
</div>
<span *ngIf="editorState.editActive" class="markdown-links">
    <a *ngIf="!editorState.preview"
       (click)="preview() && !saving()"><span class="badge">
      <i [ngClass]="querying() ? 'fa fa-spinner fa-spin':
      'glyphicon glyphicon-zoom-in badge-icon'"></i> {{previewCaption}}</span></a>
    <a *ngIf="editorState.preview" [title]="'Edit content for ' + description"
       (click)="edit()"><span class="badge">
      <i [ngClass]="querying() ? 'fa fa-spinner fa-spin':
      'glyphicon glyphicon-pencil badge-icon'"></i> {{editCaption}}</span></a>
    <a *ngIf="dirty() && canSave()"
       (click)="save()"><span class="badge">
      <i [ngClass]="saving() ? 'fa fa-spinner fa-spin':'glyphicon glyphicon-ok badge-icon'"></i>
      save</span></a>
    <a *ngIf="dirty() && !saving()"
       (click)="revert()"><span class="badge">
      <i [ngClass]="reverting() ? 'fa fa-spinner fa-spin':
      'glyphicon glyphicon-remove badge-icon'"></i> revert</span></a>
    <a *ngIf="canDelete() && !saving()"
       (click)="delete()"><span class="badge">
      <i [ngClass]="reverting() ? 'fa fa-spinner fa-spin':
      'glyphicon glyphicon-erase badge-icon'"></i> delete</span></a>
</span>
<span *ngIf="canPreview()"
      (click)="edit()"
      markdown ngPreserveWhitespaces [data]="content.text">
  </span>
<textarea *ngIf="canEdit()"
          [(ngModel)]="content.text"
          (ngModelChange)="changeText($event)"
          class="form-control markdown-textarea" rows="{{rows}}"
          placeholder="Enter {{description}} text here">
</textarea>
<ng-content>
</ng-content>
