<div *ngIf="displayedWalk" class="img-thumbnail event-thumbnail">
  <app-panel-expander [walk]="displayedWalk.walk" [expandable]="allowWalkAdminEdits"
                      [collapsable]="true" [collapseAction]="'collapse'">
  </app-panel-expander>
  <div class="row">
    <div class="col-sm-12 col-lg-6 rounded">
      <h1 *ngIf="displayedWalk.latestEventType.showDetails"
          id="briefDescriptionAndStartPoint">{{displayedWalk.walk.briefDescriptionAndStartPoint}}</h1>
      <h2 id="walkDate">{{displayedWalk.walk.walkDate | displayDay}}
        <div id="durationInFuture"
             class="badge event-badge blue-badge">{{durationInFutureFor(displayedWalk.walk)}}</div>
        <div *ngIf="display.isNextWalk(displayedWalk.walk)"
             class="badge event-badge next-event-badge"> Our next walk
        </div>
      </h2>
      <h2 *ngIf="displayedWalk.latestEventType.showDetails && displayedWalk.walk.startTime" name="startTime">
        Start Time: {{displayedWalk.walk.startTime}}</h2>
      <input *ngIf="displayedWalk.walkAccessMode.walkWritable" type="submit"
             [value]="displayedWalk.walkAccessMode.caption"
             (click)="display.edit(displayedWalk)"
             [tooltip]="displayedWalk.walkAccessMode.caption + ' this walk'"
             class="button-form button-form-edit-event mt-2 mr-2">

      <div *ngIf="displayedWalk.latestEventType.showDetails" class="event-description">
          <p markdown [data]="displayedWalk.walk.longerDescription"></p>
      </div>
      <div *ngIf="displayedWalk.latestEventType.showDetails && displayLinks"
           class="event-panel rounded event-panel-inner">
        <h1>Related Links</h1>
        <div class="row">
          <div class="col-sm-12">
            <ul class="list-unstyled">
              <app-related-link [mediaWidth]="relatedLinksMediaWidth" *ngIf="displayedWalk.walk.meetupEventUrl">
                <img title class="related-links-image"
                     src="/assets/images/local/meetup.ico"
                     alt="View {{meetupService.meetupPublishedStatus(displayedWalk)}} event on Meetup"/>
                <a content target="_blank"
                   [href]="displayedWalk.walk.meetupEventUrl">
                  <div class="related-links-title"
                       tooltip="Click to view the route for This Walk on Meetup">
                    View {{meetupService.meetupPublishedStatus(displayedWalk)}} event on Meetup
                  </div>
                </a>
              </app-related-link>
              <app-related-link [mediaWidth]="relatedLinksMediaWidth" *ngIf="displayedWalk.walk.ramblersWalkId">
                <img title class="related-links-ramblers-image"
                     src="favicon.ico"
                     alt="On Ramblers"/>
                <a content tooltip="Click to view on Ramblers Walks and Events Manager" target="_blank"
                   [href]="displayedWalk.ramblersLink">On Ramblers</a>
              </app-related-link>
              <app-related-link [mediaWidth]="relatedLinksMediaWidth" *ngIf="displayedWalk.walk.osMapsRoute">
                <img title class="related-links-image"
                     src="/assets/images/local/ordnance-survey-untitled.png"
                     alt="View map on OS Maps"/>
                <a content tooltip="Click to view the route for This Walk on Ordnance Survey Maps"
                   target="_blank"
                   [href]="displayedWalk.walk.osMapsRoute">
                  View map on OS Maps
                </a>
              </app-related-link>
              <app-related-link [mediaWidth]="relatedLinksMediaWidth" *ngIf="displayedWalk.walk.startLocationW3w">
                <img title class="w3w-image"
                     src="/assets/images/local/w3w.png"
                     alt="View start location in what3words"/>
                <a content tooltip="Click to view the start location in what3words"
                   target="_blank"
                   [href]="'https://what3words.com/'+displayedWalk.walk.startLocationW3w">
                  View start location in what3words
                </a>
              </app-related-link>
              <app-related-link [mediaWidth]="relatedLinksMediaWidth"
                                *ngIf="displayedWalk?.walk?.venue?.venuePublish && (displayedWalk?.walk?.venue?.url||displayedWalk?.walk?.venue?.postcode)">
                <fa-icon title [icon]="displayedWalk.walk.venue.type | toVenueIcon" class="fa-icon"></fa-icon>
                <a content tooltip="Click to visit {{displayedWalk.walk.venue.name}}"
                   [href]="displayedWalk.walk.venue.url || googleMapsService.urlForPostcode(displayedWalk.walk.venue.postcode)"
                   target="_blank">
                  {{displayedWalk.walk.venue.type}}: {{displayedWalk.walk.venue.name}}
                </a>
              </app-related-link>
              <app-related-link [mediaWidth]="relatedLinksMediaWidth" *ngIf="displayedWalk.walkLink">
                <app-copy-icon  title [value]="displayedWalk.walkLink"
                               [elementName]="'This Walk'"></app-copy-icon>
                <div content>
                  <a [href]="displayedWalk.walkLink " target="_blank">This Walk</a>
                </div>
              </app-related-link>
            </ul>
          </div>
        </div>
      </div>
      <div class="event-panel rounded">
        <h1>Walk Leader</h1>
        <div *ngIf="!displayedWalk.latestEventType.showDetails">
          <div class="col-sm-12">
            <p [textContent]="displayedWalk.latestEventType.description" name="description"></p>
          </div>
        </div>
        <div *ngIf="displayedWalk.latestEventType.showDetails">
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-unstyled">
                <app-related-link [mediaWidth]="relatedLinksMediaWidth" *ngIf="displayedWalk.walk.contactEmail">
                  <app-copy-icon [disabled]="!loggedIn" [icon]="faEnvelope" title [value]="displayedWalk.walk.contactEmail"
                                 [elementName]="'email address for '+ displayedWalk.walk.displayName"></app-copy-icon>
                  <div content>
                    <a *ngIf="loggedIn" [href]="'mailto:' + displayedWalk.walk.contactEmail"
                       tooltip="Click to email {{displayedWalk.walk.displayName}}">
                      {{displayedWalk.walk.displayName}}
                    </a>
                    <span (click)="login()" *ngIf="!loggedIn" class="tooltip-link span-margin"
                          trigger="mouseenter"
                          tooltip="Login as an EKWG member and send an email to {{displayedWalk.walk.displayName}}">
          {{displayedWalk.walk.displayName}}</span></div>
                </app-related-link>
                <app-related-link [mediaWidth]="relatedLinksMediaWidth">
                  <app-copy-icon [icon]="faPhone" title [value]="displayedWalk.walk.contactPhone"
                                 [elementName]="'mobile number for '+ displayedWalk.walk.displayName "></app-copy-icon>
                  <a content [href]="'tel:' + displayedWalk.walk.contactPhone" name="contactPhone"
                     tooltip="Click to ring {{displayedWalk.walk.displayName}} on {{displayedWalk.walk.contactPhone}} (mobile devices only)">
                    {{displayedWalk.walk.contactPhone}}
                  </a>
                </app-related-link>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="pathContainsMongoId">
        <div *ngIf="notifyTarget.showAlert" class="col-12 alert {{notifyTarget.alertClass}} mt-3">
          <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
          <strong class="ml-2">{{notifyTarget.alertTitle}}</strong>
          {{notifyTarget.alertMessage}} <a [routerLink]="'/walks'" type="button"
                                            class="rams-text-decoration-pink">Switch to Walks Programme</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 rounded" *ngIf="displayedWalk.latestEventType.showDetails">
      <div class="row">
        <div class="col-sm-12">
          <iframe *ngIf="googleMapsUrl" class="map-thumbnail-image"
                  style="border:0;border-radius: 10px;"
                  [src]="googleMapsUrl" allowfullscreen></iframe>
        </div>
      </div>
      <div class="rounded img-thumbnail map-radio-frame" (click)="refreshView()">
        <label class="ml-2 mr-2 font-weight-bold">Show Map:</label>
        <div class="col-sm-12 ml-2 mr-2">
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" id="show-start-point"
                   type="radio"
                   class="custom-control-input"
                   [ngModel]="mapDisplay" name="mapDisplay"
                   (ngModelChange)="changeShowDrivingDirections($event)"
                   value="show-start-point"/>
            <label class="custom-control-label" for="show-start-point">At starting
              point {{displayedWalk.walk.postcode}}</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input id="show-driving-directions"
                   type="radio"
                   class="custom-control-input postcode-input"
                   (ngModelChange)="changeShowDrivingDirections($event)"
                   [ngModel]="mapDisplay" name="mapDisplay"
                   value="show-driving-directions"/>
            <label class="custom-control-label" for="show-driving-directions">Driving from postcode</label>
          </div>
          <input
            class="form-control input-sm text-uppercase postcode-input mt-2"
            [ngModel]="fromPostcode" name="fromPostcode"
            (ngModelChange)="changeFromPostcode($event)"
            (click)="autoSelectMapDisplay()"
            type="text">
        </div>
      </div>
      <div class="event-panel rounded">
        <h1>Walk Details</h1>
        <div *ngIf="!displayedWalk.latestEventType.showDetails">
          <div class="col-sm-12">
            <p>{{displayedWalk.latestEventType.description}}</p>
          </div>
        </div>
        <div *ngIf="displayedWalk.latestEventType.showDetails" class="row">
          <div class="col-sm-6">
            <ul class="list-unstyled">
              <app-related-link [mediaWidth]="walkDetailsMediaWidth">
                <div title>
                  <app-copy-icon [value]="displayedWalk.walk.postcode"
                                 [elementName]="'Postcode'"></app-copy-icon>
                  Postcode
                </div>
                <div content>
                  <span>{{displayedWalk.walk.location}}</span>
                  <a tooltip="Click to locate postcode {{displayedWalk.walk.postcode}} on Google Maps"
                     [href]="googleMapsService.urlForPostcode(displayedWalk.walk.postcode)" target="_blank">
                    {{displayedWalk.walk.postcode}}</a>
                </div>
              </app-related-link>
              <app-related-link [mediaWidth]="walkDetailsMediaWidth" *ngIf="displayedWalk.walk.gridReference">
                <div title>
                  <app-copy-icon [value]="displayedWalk.walk.gridReference"
                                 [elementName]="'Grid reference'"></app-copy-icon>
                  Grid Ref
                </div>
                <div content>
                  <a content
                     [href]="display.gridReferenceLink(displayedWalk.walk)"
                     tooltip="Click to locate grid reference {{displayedWalk.walk.gridReference}} on UK Grid Reference Finder"
                     target="_blank">{{displayedWalk.walk.gridReference}}</a></div>

              </app-related-link>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list-unstyled">
              <app-related-link [mediaWidth]="walkDetailsMediaWidth">
                <span title>Distance</span>
                <span content>{{displayedWalk.walk.distance}}</span>
              </app-related-link>
              <app-related-link [mediaWidth]="walkDetailsMediaWidth">
                <span title>Grade</span>
                <span content>{{displayedWalk.walk.grade}}</span>
              </app-related-link>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
