.vbt-autcomplete-list[data-v-274f1e68] {
    padding-top: 5px;
    position: absolute;
    max-height: 350px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: auto;
    z-index: 999
}

.vbt-autcomplete-list[data-v-274f1e68] .vbt-matched-text {
    font-weight: 700
}
