<div ng-class="{'busy': busy}" class="wrapper">
    <div id="page-body" role="main">
        <div class="body-header">

            <div class="breadcrumbs">
                <ul>
                    <li><a href="#/" title="Home">Home</a></li>
                    <li class="last">How-to guides for members</li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-8">
                <div ng-if="showAlertMessage()" class="row">
                    <div class="col-sm-12 mb-10">
                        <div class="alert {{alert.class}}"><i
                            class="glyphicon {{alert.icon}}"> </i><strong ng-if="alertTitle">
                            {{alertTitle}}: </strong> {{alertMessage}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="event-description">
                    <div class="green-bullets-no-rule">
                        <markdown-editor name="howToInformation"
                                         description="how-to member guide information"></markdown-editor>
                    </div>
                </div>
                <input ng-if="allowAdd()"
                       type="submit" value="Add" ng-click="add()" title="Add new member resource"
                       class="button-form">


                <div ng-repeat-start="memberResource in memberResources">

                    <div class="file-item"
                         ng-mouseover="selectMemberResource(memberResource)">
                        <div class="file-download">
                            <img class="icon"
                                 ng-src='{{ memberResourcesReferenceData.resourceTypeFor(memberResource.resourceType).icon(memberResource) }}'
                                 alt='{{ memberResourcesReferenceData.resourceTypeFor(memberResource.resourceType).icon(memberResource) }}'/>
                            <a class="morelink" target='_blank' title="{{memberResource.title}}"
                               ng-bind="memberResourcesReferenceData.resourceTypeFor(memberResource.resourceType).action"
                               ng-href="{{memberResourcesReferenceData.resourceTypeFor(memberResource.resourceType).resourceUrl(memberResource)}}"></a>
                        </div>
                        <div class="file-detail">

                            <h3><a target="_blank" id="link-preview"
                                   ng-disabled="notify.busy"
                                   ng-bind="memberResource.title"
                                   ng-href="{{memberResourcesReferenceData.resourceTypeFor(memberResource.resourceType).resourceUrl(memberResource)}}"></a>
                                <small><span ng-bind="memberResource.resourceDate | displayDate"></span> (<span
                                    ng-bind="memberResourcesReferenceData.accessLevelFor(memberResource.accessLevel).description"></span>)
                                </small>
                            </h3>
                            <p btf-markdown="memberResource.description" class="green-bullets-no-rule"></p>

                            <div ng-if="isActive(memberResource)" class="row">
                                <div class="col-sm-12">
                                    <div class="action-button-group">
                                                    <span ng-if="!allowConfirmDelete">
                                                        <input ng-if="allowEdit(memberResource)"
                                                               type="submit" value="Edit"
                                                               ng-click="edit(memberResource)"
                                                               title="Edit"
                                                               class="button-form green-confirm">
                                                        <input ng-if="allowDelete(memberResource)"
                                                               type="submit" value="Delete"
                                                               ng-click="delete()" title="Delete"
                                                               class="button-form button-confirm">
                                                    </span>
                                        <span ng-if="allowConfirmDelete">
                                                        <input type="submit" value="Confirm Delete"
                                                               ng-click="confirmDelete()"
                                                               title="Confirm Delete"
                                                               class="button-form button-confirm">
                                                        <input type="submit" value="Cancel Delete"
                                                               ng-click="cancelDelete()"
                                                               title="Cancel delete"
                                                               class="button-form green-confirm">
                                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-repeat-end></div>
            </div>
            <div class="col-sm-4 auto-fit-column">
                <div class="row">
                    <div class="right-col-section">
                        <markdown-editor class="message-box" name="how-to right colummn"
                                         description="how to right column"></markdown-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
