<p><img class="round" alt="join us" src="assets/images/local/ekwg-agm.jpg"></p>

<div class="row">
  <div class="right-col-section">
    <div class="message-box">
      <h3>
        Downloading PDFs
      </h3>

      <p>Adobe Reader is free software that lets you view and print Adobe Portable Document Format
        (PDF) files. To access PDF files you need Adobe Reader installed. If you don't have
        Adobe Reader on your computer, you can
        <a href="http://get.adobe.com/uk/reader/" title="Adobe website" target="_blank">download
          it</a>.<br>
        <br>
        If you're having trouble downloading PDFs, you may want to right click on the 'Download'
        link and choose 'Save link as' and then open the document when it has been saved to your
        PC.
      </p>
    </div>
  </div>
</div>
<p><img class="round" alt="join us" src="assets/images/local/ekwg-agm-2.jpg"></p>
