<div ng-class="{'busy': notify.busy}" class="modal" id="login-dialog" tabindex="-1" role="dialog" data-backdrop="true" aria-labelledby="modal-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="login-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modal-title-heading">Login to <em>EKWG</em> site</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-sm-12">
                            <div class="form-group">
                                <label for="user-name">User Name</label>
                                <input ng-model="enteredMemberCredentials.userName" type="text"
                                       class="form-control input-sm" id="user-name" placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input ng-model="enteredMemberCredentials.password" type="password"
                                       class="form-control input-sm" id="password" placeholder="Enter password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-if="notify.showAlert" class="col col-sm-12 mb-12">
                            <div class="alert {{notify.alertClass}}"><i
                                class="glyphicon {{notify.alert.icon}}"> </i><strong ng-if="notify.alertTitle">
                                {{notify.alertTitle}}: </strong> {{notify.alertMessage}} <span
                                ng-if="notify.showContactUs">  contact our
                                <contact-us class="alert-link" role="membership"
                                            text="Membership Administrator"></contact-us>.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row col-sm-12">
                        <input type="submit" ng-disabled="notify.busy || !actions.submittable()" value="Login" ng-click="actions.login()" title="Login"
                               ng-class="notify.busy ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                        <input type="reset" value="Cancel" ng-click="actions.close()" title="Cancel and don't login"
                               ng-class="notify.busy ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                        <input type="reset" value="Forgot Password" ng-click="actions.forgotPasswordUrl()"
                               title="I've forgotten my password" ng-class="notify.busy ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
