<div>
    <p ng-bind="notification.addresseeType"></p>
    <p btf-markdown="notification.editable.text"></p>
    <div ng-if="notification.includeDownloadInformation">
        <p>
            <b>File type:</b> <span ng-bind="committeeFile.fileType"></span><br>
            <b>Description:</b> <span ng-bind="fileTitle()"></span>
        </p>
        <p>If you want to download this attachment you can click <a ng-href="{{ fileUrl() }}">here</a>, alternatively
            you can view or download it from our EKWG
            <a href="http://www.ekwg.co.uk/#/committee">Committee page</a>.
        </p>
    </div>
    <div ng-if="notification.groupEvents().length>0" class="row">
        <h4><strong style="font-size:14px">Up and coming events</strong></h4>
        <div class="col col-sm-12">
            <div>
                <span ng-repeat="event in notification.groupEvents()">
                    <p style="font-size: 14px;font-weight: bold"><span ng-bind="event.eventDate | displayDate"></span>
                        <span ng-if="event.eventTime"> • <span ng-bind="event.eventTime"></span></span>
                        • <span ng-bind="event.eventType"></span>
                        • <notification-url area="{{event.area}}"
                                            type="{{event.type}}"
                                            id="{{event.id}}"
                                            text="{{event.title}}"
                                            target="_blank"></notification-url>
                        <span ng-if="event.distance"> • <span ng-bind="event.distance"></span></span>
                    </p>
                    <div style="font-size: 14px;font-weight: bold">
                    <span ng-if="userEdits.groupEvents.includeContact && event.contactName">Contact: <a
                        ng-href="mailto:{{event.contactEmail}}">
                            <span ng-bind="event.contactName || event.contactEmail"></span></a>
                            <span ng-if="event.contactPhone"> ({{event.contactPhone}})</span></span>
                        <span ng-if="userEdits.groupEvents.includeLocation && event.postcode"> • Location: <a
                            ng-href="http://maps.google.co.uk/maps?q={{event.postcode}}"
                            target="_blank"><span
                            ng-bind="event.postcode"></span></a></span>
                    </div>
                      <p btf-markdown="event.description" style="padding: 0px 0px 0px 0px" ng-if="userEdits.groupEvents.includeDescription"></p>
                </span>
            </div>
        </div>
    </div>
    <p ng-if="notification.includeSignoffText" ng-bind-html="notification.signoffText()"></p>
    <contact-us ng-if="notification.signoffAs.value" format="list"
                role="{{notification.signoffAs.value}}"></contact-us>
</div>
