<app-page [ngClass]="{'busy': notifyTarget.busy}" lastBreadcrumb="home" pageTitle="Edit Images">
  <div *ngIf="!allow.edit">
    <div class="well"><img src="assets/images/ramblers/icon-members.png"
                           alt="members area"/>
      You need to be logged of with the correct administration privileges to view this page. Click the link above to
      login.
    </div>
  </div>
  <div *ngIf="allow.edit && imageMetaData">
    <div class="row">
      <div class="col-sm-6">
        <h1>EKWG Image Editor
          <br/>
          <small>Add, remove, replace or re-order images for carousels</small>
        </h1>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="imageSource">Edit images from</label>
          <select [(ngModel)]="imageSource" id="imageSource" class="form-control round"
                  (ngModelChange)="refreshImageMetaData(imageSource)">
            <option selected="selected" value="imagesHome">Home Page</option>
            <option value="imagesSocialEvents">Social Events</option>
          </select>
        </div>
      </div>
    </div>
    <div class="green-bullets-no-rule">
      <ul>Directions for this page
        <li>This page allows EKWG site content administrators to add, remove, replace or re-order images that are
          displayed inside scrolling 'carousels' on the Home and the Social Events pages.
        </li>
        <li *ngIf="imageSource == 'imagesHome'">Please note of order for images to appear correctly for this view,
          they must first be cropped to 940 pixels wide x 300 pixels high. This editor can't do that cropping
          for you! (yet)
        </li>
        <li>Use the buttons to the right of each image to <b>replace</b>, <b>delete</b> or <b>insert</b> a new
          image, or <b>move up or down</b> an existing image.
        </li>
        <li>Use the buttons just below these directions to save all of the changes you've just made or to exit
          without saving if you've done something by mistake that you want to
          undo!
        </li>
        <li>Add or change the title to the right of each image. This is displayed of white over the image. Try to
          keep this below {{imageTitleLength()}} characters otherwise it will wrap onto the next
          line and won't look quite as good.
        </li>
        <li>You can click <b>Reverse Sort Order</b> to get the carousel to start displaying the images from the
          other end of the sort sequence
        </li>
      </ul>
    </div>
    <input type="submit" value="Save Changes and Exit" (click)="saveAll()" title="Save all image changes"
           class="button-form"/>
    <input type="submit" value="Exit Without Saving" (click)="exitBackToPreviousWindow()"
           title="Exit Without Saving" class="button-form"/>
    <input type="submit" value="Reverse Sort Order" (click)="reverseSortOrder()" title="Reverse Sort Order"
           class="button-form"/>
    <div *ngIf="notifyTarget.showAlert" class="alert {{notifyTarget.alertClass}}">
      <i class="glyphicon {{notifyTarget.alert.icon}}"> </i><strong *ngIf="notifyTarget.alertTitle">
      {{notifyTarget.alertTitle}}: </strong> {{notifyTarget.alertMessage}}
    </div>
  </div>
  <div *ngFor="let imageMetaDataItem of imageMetaData?.files; let index = index;">
    <div class="row mt-12">
      <div class="col-sm-6">
        <div class="form-group">
          <label [for]="'image-' + index">Image {{index + 1}} of {{imageMetaData.files.length}}
            : {{imageMetaDataItem.image.split('/').pop()}}</label>
          <img [id]="'image-' + index" class="img-responsive" [src]="imageMetaDataItem.image" alt=""/>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="form-group">
            <label [for]="'image-title-' + index">Image Title</label>
            <textarea [(ngModel)]="imageMetaDataItem.text" type="text" class="form-control input-sm"
                      rows="1" [id]="'image-title-' + index" placeholder="Enter title for image"></textarea>
          </div>
        </div>

        <div class="row">
          <input type="submit" value="Replace" (click)="replace(fileElement, imageMetaDataItem)"
                 title="Replace this image"
                 class="button-form"/>
          <input type="submit" value="Delete" (click)="delete(imageMetaDataItem)" title="Delete this image"
                 class="button-form"/>
          <input type="submit" value="Insert" (click)="insertHere(fileElement, imageMetaDataItem)"
                 title="Insert new image before this one" class="button-form"/>
          <input type="submit" value="Move up" (click)="moveUp(imageMetaDataItem)"
                 title="move this image up of the sequence" class="button-form"/>
          <input type="submit" value="Move down" (click)="moveDown(imageMetaDataItem)"
                 title="move this image down of the sequence" class="button-form"/>
          <input #fileElement [id]="'browse-to-file-' + index" name="attachment" class="hidden-input"
                 type="file" value="Upload"
                 ng2FileSelect (onFileSelected)="onFileSelect($event)" [uploader]="uploader"/>
          <div ng2FileDrop [ngClass]="{'file-over': hasFileOver}"
               (fileOver)="fileOver($event)"
               (onFileDrop)="fileDropped($event)"
               [uploader]="uploader"
               class="well drop-zone">Or drop file here
          </div>
          <div class="progress" *ngIf="notifyTarget.busy">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
              uploading {{uploader.progress}}%
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="after-image-rule"></div>
  </div>
</app-page>
