<div ng-class="{'busy': notify.busy}" class="modal" id="send-notification-dialog" tabindex="-1" role="dialog"
     data-backdrop="true" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Send <em>Emails</em> to Members</h4>
            </div>
            <div class="modal-body">
                <div class="thumbnail thumbnail-admin-edit">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-group">
                                <label for="contact-member">Email Type</label>
                                <select class="form-control input-sm"
                                        ng-disabled="display.saveInProgress"
                                        ng-change="populateMembers(true)"
                                        ng-model="display.emailType"
                                        ng-options="emailType as emailType.name for emailType in display.emailTypes"
                                        class="form-control" id="contact-member">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 panel-toggle">
                            <a ng-hide="display.showHelp"
                               ng-click="showHelp(true)" ng-href=""><i
                                class="glyphicon glyphicon-question-sign markdown-preview-icon"></i> show help</a>

                            <a ng-if="display.showHelp"
                               ng-click="showHelp(false)" ng-href=""><i
                                class="glyphicon glyphicon-question-sign"></i> hide help</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="radio-selections">Pre-select
                                    members</label>
                                <div id="radio-selections">
                                    <div tooltip-placement="top" tooltip-enable="display.showHelp" uib-tooltip="{{display.emailType.dateTooltip}}" class="row">
                                        <div ng-if="display.recentMemberEmailsSelected()" class="col-sm-6">
                                            <input
                                                type="radio"
                                                ng-model="display.emailType.memberSelection"
                                                ng-disabled="display.saveInProgress"
                                                id="recently-added"
                                                value="recently-added"
                                                ng-click="populateRecentlyAddedMembers(true)"
                                                title="Expiring before {{display.memberFilterDate | displayDate }}">

                                            <label ng-disabled="display.saveInProgress" ng-click="populateExpiredMembers()"
                                                   for="recently-added">Added in last
                                                {{display.emailType.monthsInPast}} month(s):
                                            </label>
                                        </div>
                                        <div ng-if="display.expiryEmailsSelected()" class="col-sm-6">
                                            <input
                                                type="radio"
                                                ng-model="display.emailType.memberSelection"
                                                ng-disabled="display.saveInProgress"
                                                id="expired-members"
                                                value="expired-members"
                                                ng-click="populateExpiredMembers(true)"
                                                title="Expiring before {{display.memberFilterDate | displayDate }}">

                                            <label ng-disabled="display.saveInProgress" ng-click="populateExpiredMembers(true)"
                                                   for="expired-members">
                                                {{display.emailType.monthsInPast}} months past expiry date:
                                            </label>
                                        </div>
                                        <div class="col-sm-6">
                                            <span class="input-group calendar-in-label">
                                                <input
                                                    ng-model="display.memberFilterDate"
                                                    type="text" class="form-control input-sm"
                                                    day-format="dd" month-format="MMM" year-format="yyyy"
                                                    uib-datepicker-popup="dd-MMM-yyyy"
                                                    is-open="memberFilterDateCalendar.opened" min="minDate"
                                                    ng-change="populateMembers(false)"
                                                    ng-click="memberFilterDateCalendar.open($event)"
                                                    uib-datepicker-options="dateOptions"
                                                    ng-required="true" close-text="Close" id="memberFilterDate"/>
                                            <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm"
                                                ng-click="memberFilterDateCalendar.open($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button></span>
                                        </span></div>
                                    </div>
                                    <input ng-if="display.expiryEmailsSelected()" type="radio"
                                           ng-model="display.emailType.memberSelection"
                                           ng-disabled="display.saveInProgress"
                                           id="missing-bulk-load-members"
                                           value="missing-from-bulk-load"
                                           ng-click="populateMembersMissingFromBulkLoad(true)"
                                           title="Not in last bulk load">
                                    <label ng-disabled="display.saveInProgress" ng-if="display.expiryEmailsSelected()"
                                           ng-click="populateMembersMissingFromBulkLoad()"
                                           for="missing-bulk-load-members">Missing from last bulk load</label>

                                    <input type="radio" ng-disabled="display.saveInProgress"
                                           ng-model="display.emailType.memberSelection"
                                           id="clear-members" value="Clear all"
                                           value="clear-members"
                                           ng-click="clearDisplayEmailMembers()"
                                           title="Clear current selection">
                                    <label ng-disabled="display.saveInProgress" ng-click="clearDisplayEmailMembers()" for="clear-members">Clear
                                        all and enter manually</label>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" tooltip-enable="display.showHelp" tooltip-placement="top"
                                 uib-tooltip="Click below and select from the dropdown the members that you
                                                    want to send a {{display.emailType.name}} email to. You can type in
                                                    part of their
                                                    name to find them more quickly. Repeat this step as many times as required
                                                    to build up an list of members">
                                <label>{{display.passwordResetCaption()}}
                                    <ui-select multiple ng-model="display.emailMembers"
                                               ng-disabled="display.saveInProgress"
                                               close-on-select="false"
                                               reset-search-input="true"
                                               class="multi-select col-sm-12"
                                               title="Select one or more members"
                                               input-id="emailMembers">
                                        <ui-select-match placeholder="Select one or more members">{{$item.text}}
                                        </ui-select-match>
                                        <ui-select-choices
                                            group-by="memberGrouping"
                                            repeat="member in display.selectableMembers | filter: $select.search track by member.id">
                                            <small><span
                                                ng-bind-html="member.text | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group modal-alert">
                    <div ng-hide="!showAlert" class="alert {{alertClass}}"><i
                        class="glyphicon {{alert.icon}}"> </i><strong ng-if="alertTitle">
                        {{alertTitle}}: </strong> {{alertMessage}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" ng-disabled="display.saveInProgress" ng-hide="sendEmailsDisabled()"
                       value="Send {{display.emailType.name}} email"
                       ng-click="sendEmails()"
                       title="Send {{display.emailType.name}} email to the {{display.emailMembers.length}} member(s)"
                       ng-class="display.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                <input type="submit" ng-disabled="display.saveInProgress" value="Cancel"
                       ng-click="cancelSendEmails()" title="Close this dialog"
                       ng-class="display.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
            </div>
        </div>
    </div>
</div>
