<div style="font-size:12px">
    <p>This email is to notify you as an Expense Approver, that <strong [textContent]="expenseClaimLatestEvent().memberId | memberIdToFullName : members"></strong>
        has just updated <strong [textContent]="(expenseClaimCreatedEvent().memberId | memberIdToFullName : members) + '\'s'" class="nowrap"></strong>
        EKWG expense claim to a status of <strong [textContent]="expenseClaimLatestEvent().eventType.description"></strong>.
        For reference, the claim was originally created on <span [textContent]="expenseClaimCreatedEvent().date | displayDate" class="nowrap"></span>
        and contains the following <span [textContent]="expenseClaim.expenseItems.length"></span> item(s):
    </p>
    <ng-include src="'partials/expenses/notifications/common/expense-claim-table.html'"></ng-include>
    <p>Jon has also been notified about this, so should now be able to process the payment.</p>
</div>
