<div [ngClass]="{'busy': notifyTarget.busy}">
  <div class="wrapper">
    <div id="page-body" role="main">
      <div class="body-header">
        <div class="breadcrumbs">
          <ul>
            <li><a [routerLink]="'/'" title="Home">Home</a></li>
            <li><a [routerLink]="'/admin'" title="Admin">Admin</a></li>
            <li class="last">Member Bulk Load</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <p>EKWG member data can be loaded into the site 'in bulk' from the monthly update files that are
              emailed by the Ramblers. Please note that this must be supplied in CSV format and can optionally by
              zipped. You can tell if it's the right format as it should
              have a filename of <b>KT50_MemberList.csv, KT50_new.zip, KT50_new.csv</b> or
              <b>KT50_reports_{{currentMemberBulkLoadDisplayDate()}}.zip</b>.
            </p>

            <div class="green-bullets-no-rule">
              <ul>To load the members, follow these steps:
                <li> Click the <b>Bulk Upload Ramblers Data</b> button below then navigate to the spreadsheet on
                  your computer and then click <b>Open</b>.
                </li>
                <li>The data will be loaded automatically. If the member does not match an existing member based
                  on their membership number, a new member will be created with the
                  following fields populated: membership number,
                  forename, surname, postcode, private email, telephone, expiry date.
                </li>
                <li>If the member does match based on the membership number, the expiry date will be updated.
                  Other fields will only be updated if they are blank.
                </li>
              </ul>
            </div>
            <input type="submit" [disabled]="notifyTarget.busy" value="Bulk Upload Ramblers Data"
                   (click)="bulkUploadRamblersDataStart()" title="Bulk Upload Ramblers Data"
                   [ngClass]="notifyTarget.busy ? 'disabled-button-form': 'button-form'">
            <div class="form-group" *ngIf="members">
              <div ng2FileDrop
                   [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                   (fileOver)="fileOverBase($event)"
                   [uploader]="uploader"
                   class="well my-drop-zone">
                Base drop zone
              </div>

              <div ng2FileDrop
                   [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
                   (fileOver)="fileOverAnother($event)"
                   [uploader]="uploader"
                   class="well my-drop-zone">
                Another drop zone
              </div>

              Multiple
              <input type="file" ng2FileSelect [uploader]="uploader" multiple/><br/>

              Single
              <input type="file" ng2FileSelect [uploader]="uploader"/>

              <span class="hidden-input"><input id="select-bulk-load-file" name="bulkUploadRamblersDataFile"
                                                type="file" value="Upload"
                                                ngf-select="bulkUploadRamblersDataOpenFile($file)"></span>
            </div>
            <div *ngIf="false" class="form-group">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="'width: ' + uploader.progress +'%';">
                  {{uploader.progress}}% uploaded
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="admin-frame round">
        <div class="admin-header-background round">
          <div class="xadmin-header-container">
            <div *ngIf="!uploadSession">
              <div class="col-sm-12 text-center mt-12">
                <h3>Retrieving Bulk Load data <i class="fa fa-spinner fa-spin"
                                                 style="font-size:24px"></i></h3>
              </div>
            </div>
            <div *ngIf="uploadSession" class="form-inline quick-search">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                  </div>
                  <input id="quick-search" [(ngModel)]="quickSearch"
                         (ngModelChange)="onSearchChange($event)"
                         name="quickSearch"
                         class="form-control input-sm round"
                         type="text" placeholder="Quick Search">
                </div>
              </div>
              <div class="form-group">
                <label class="inline-label" for="filter-upload-sessions">Uploaded at:</label>
                <select class="form-control input-sm" id="filter-upload-sessions"
                        [(ngModel)]="uploadSession"
                        (ngModelChange)="uploadSessionChanged()">
                  <option *ngFor="let uploadSession of memberBulkLoadAudits"
                          [ngValue]="uploadSession"
                          [textContent]="uploadSession.createdDate | displayDateAndTime">
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label class="inline-label" for="filter-by-audit-status">Status:</label>
                <select class="form-control input-sm"
                        [(ngModel)]="filters.memberUpdateAudit.query"
                        (ngModelChange)="uploadSessionChanged()"
                        id="filter-by-audit-status">
                  <option *ngFor="let uploadSessionStatus of uploadSessionStatuses"
                          [ngValue]="uploadSessionStatus"
                          [textContent]="uploadSessionStatus.title">
                  </option>
                </select>
              </div>
            </div>
            <div *ngIf="notifyTarget.showAlert" class="row">
              <div class="form-group">
                <div class="alert {{notifyTarget.alertClass}}"><i
                  class="glyphicon {{notifyTarget.alert.icon}}"> </i>
                  <strong *ngIf="notifyTarget.alertTitle"> {{notifyTarget.alertTitle}}: </strong>
                  {{notifyTarget.alertMessage}}
                </div>
              </div>
            </div>
            <tabset *ngIf="uploadSession">
              <tab [heading]="memberTabHeading">
                <table class="round tbl-green-g table-responsive table-striped table-hover table-condensed">
                  <thead>
                  <tr class="white-anchor">
                    <th colspan="2">File upload information</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                  <tr *ngIf="uploadSession.files && uploadSession.files.archive">
                    <td>Zip file:</td>
                    <td>
                      <app-notification-url
                        name="{{uploadSession.files.archive}}"></app-notification-url>
                    </td>
                  </tr>
                  <tr *ngIf="uploadSession.files && uploadSession.files.data">
                    <td>Data file:</td>
                    <td>
                      <app-notification-url name="{{uploadSession.files.data}}"
                                            id="data-file"></app-notification-url>
                    </td>
                  </tr>
                  <tr>
                    <td>Uploaded by:</td>
                    <td
                      [textContent]="uploadSession.createdBy | memberIdToFullName : members : '(none)'"></td>
                  </tr>
                  <tr>
                    <td>Uploaded on:</td>
                    <td [textContent]="uploadSession.createdDate | displayDateAndTime"></td>
                  </tr>
                  </tbody>
                </table>

                <table class="round tbl-green-g table-responsive table-striped table-hover table-condensed">
                  <thead>
                  <tr class="white-anchor">
                    <th>Status</th>
                    <th>Message</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let auditLog of uploadSession.auditLog">
                    <td><i class="glyphicon {{toGlyphicon(auditLog.status)}}"></i></td>
                    <td [textContent]="auditLog.message"></td>
                  </tr>
                  </tbody>
                </table>
                <table class="round tbl-green-g table-responsive table-striped table-hover table-condensed">
                  <thead>
                  <tr class="white-anchor">
                    <th>
                      <div (click)="sortMembersUploadedBy('membershipNumber')">Membership
                        Number
                        <span class="sorting-header"
                              *ngIf="showMembersUploadedColumn('membershipNumber')"
                              [textContent]="filters.membersUploaded.sortDirection"></span>
                      </div>
                    </th>
                    <th>
                      <div (click)="sortMembersUploadedBy('mobileNumber')">Mobile Number
                        <span class="sorting-header"
                              *ngIf="showMembersUploadedColumn('mobileNumber')"
                              [textContent]="filters.membersUploaded.sortDirection"></span>
                      </div>
                    </th>
                    <th>
                      <div (click)="sortMembersUploadedBy('email')">Email
                        <span class="sorting-header"
                              *ngIf="showMembersUploadedColumn('email')"
                              [textContent]="filters.membersUploaded.sortDirection"></span>
                      </div>
                    </th>
                    <th>
                      <div (click)="sortMembersUploadedBy('firstName')">First Name
                        <span class="sorting-header"
                              *ngIf="showMembersUploadedColumn('firstName')"
                              [textContent]="filters.membersUploaded.sortDirection"></span>
                      </div>
                    </th>
                    <th>
                      <div (click)="sortMembersUploadedBy('lastName')">Last Number
                        <span class="sorting-header"
                              *ngIf="showMembersUploadedColumn('lastName')"
                              [textContent]="filters.membersUploaded.sortDirection"></span>
                      </div>
                    </th>
                    <th>
                      <div (click)="sortMembersUploadedBy('postcode')">Postcode
                        <span class="sorting-header"
                              *ngIf="showMembersUploadedColumn('postcode')"
                              [textContent]="filters.membersUploaded.sortDirection"></span>
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let member of filters.membersUploaded.results">
                    <td>{{member.membershipNumber}}</td>
                    <td>{{member.mobileNumber}}</td>
                    <td>{{member.email}}</td>
                    <td>{{member.firstName}}</td>
                    <td>{{member.lastName}}</td>
                    <td>{{member.postcode}}</td>
                  </tr>
                  </tbody>
                </table>
              </tab>
              <tab [heading]="auditTabHeading">
                <table class="round tbl-green-g table-responsive table-striped table-hover table-condensed">
                  <thead>
                  <tr class="white-anchor">
                    <th>
                      <div (click)="sortMemberUpdateAuditBy('updateTime')">Update Time
                        <span class="sorting-header" *ngIf="showMemberUpdateAuditColumn('updateTime')"
                              [textContent]="filters.memberUpdateAudit.sortDirection"></span>
                      </div>
                    </th>
                    <th>
                      <div (click)="sortMemberUpdateAuditBy('memberAction')">Status
                        <span class="sorting-header" *ngIf="showMemberUpdateAuditColumn('memberAction')"
                              [textContent]="filters.memberUpdateAudit.sortDirection"></span>
                      </div>
                    </th>
                    <th>
                      <div (click)="sortMemberUpdateAuditBy('rowNumber')">Row Number
                        <span class="sorting-header" *ngIf="showMemberUpdateAuditColumn('rowNumber')"
                              [textContent]="filters.memberUpdateAudit.sortDirection"></span>
                      </div>
                    </th>
                    <th>
                      <div
                        (click)="sortMemberUpdateAuditBy('member')">Member Name
                        <span class="sorting-header" *ngIf="showMemberUpdateAuditColumn('member')"
                              [textContent]="filters.memberUpdateAudit.sortDirection"></span>
                      </div>
                    </th>
                    <th>
                      <div (click)="sortMemberUpdateAuditBy('changes')"> Changes
                        <span class="sorting-header" *ngIf="showMemberUpdateAuditColumn('changes')"
                              [textContent]="filters.memberUpdateAudit.sortDirection"></span>
                      </div>
                    </th>
                    <th>
                      <div (click)="sortMemberUpdateAuditBy('auditMessage')">Audit Message
                        <span class="sorting-header"
                              *ngIf="showMemberUpdateAuditColumn('auditMessage')"
                              [textContent]="filters.memberUpdateAudit.sortDirection"></span>
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let memberUpdateAudit of filters.memberUpdateAudit.results">
                    <td class="text-nowrap">{{memberUpdateAudit.updateTime | displayDateAndTime}}</td>
                    <td><i class="glyphicon {{toGlyphicon(memberUpdateAudit.memberAction)}}"></i></td>
                    <td>{{memberUpdateAudit.rowNumber}}</td>
                    <td>{{memberUpdateAudit.memberId || memberUpdateAudit.member.id | memberIdToFullName : members : '': true}}</td>
                    <td>{{memberUpdateAudit.changes}}</td>
                    <td>{{memberUpdateAudit.auditMessage}}
                      <span *ngIf="memberUpdateAudit.auditErrorMessage">
                            <strong>Error Message: </strong>
                        <span [textContent]="memberUpdateAudit.auditErrorMessage"></span>
                        <br>
                        <input type="submit" [disabled]="notifyTarget.busy"
                               value="Reattempt creation of {{memberUpdateAudit.member | fullName}}"
                               (click)="createMemberFromAudit(memberUpdateAudit.member)"
                               title="Reattempt creation of {{memberUpdateAudit.member | fullName}}"
                               [ngClass]="notifyTarget.busy ? 'disabled-button-form': 'button-form'">
                        </span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
