@import "../../assets/styles/styles"

.carousel-wrapper
  //width: 100%
  //margin: 0 auto
  //background: #eee
  //border-bottom: 1px solid #ddd
  //float: left

.slider-container
  background: #eee
  border-bottom: 1px solid #ddd
  float: left
  width: 100%

.sc-inner
  position: relative
  margin: 0 auto


.carousel-caption a
  //color: white
  //font-weight: normal

.badge
  font-size: 16px

.badge-icon
  color: #656565
  display: inline-block
  text-align: center

.event-date-badge
  position: relative
  font-weight: normal
  color: $ramblers-colour-cloudy
  background: $ramblers-colour-mintcake

.cta-facebook-blue
  background: url("../../assets/images/local/facebook.ico") 9px 11px no-repeat #3b5998
  background-size: 21px

