@import "../../assets/styles/colours"

.carousel-wrapper
  //width: 100%
  //margin: 0 auto
  //background: #eee
  //border-bottom: 1px solid #ddd
  //float: left

.slider-container
  background: #eee
  border-bottom: 1px solid #ddd
  float: left
  width: 100%

.sc-inner
  position: relative
  margin: 0 auto

.badge
  font-size: 16px

.badge-icon
  color: #656565
  display: inline-block
  text-align: center

.cta-facebook-blue
  background: url("../../assets/images/local/facebook.ico") 9px 11px no-repeat #3b5998
  background-size: 21px

