<div style="font-size:12px">
    <p>This email is just to confirm that the EKWG expense claim you created on <span [textContent]="display.expenseClaimCreatedEvent(expenseClaim).date | displayDate" class="nowrap"></span> with the
        <span [textContent]="expenseClaim.expenseItems.length"></span> item(s) listed below has been submitted for approval:
    </p>
    <app-expense-notification-details [expenseClaim]="expenseClaim"></app-expense-notification-details>
    <p>Once your claim has been approved by Kerry and Des it will be passed to Jon for payment. Please note that this can take up until the next committee meeting to be processed so please be patient with us!</p>
</div>
