<app-panel-expander [walk]="displayedWalk.walk" [collapseAction]="'return to list view'">
</app-panel-expander>
<div class="row row-eq-height-xs">
  <div class="col-sm-6 round">
    <div class="panel-toggle">
      <h1><span [textContent]="displayedWalk.walk.walkDate | displayDay" name="walkDate"></span> <span
        [textContent]="durationInFutureFor(displayedWalk.walk)" name="durationInFuture"
        class="badge event-badge blue-badge"></span> <span *ngIf="display.isNextWalk(displayedWalk.walk)"
                                                           class="badge event-badge next-event-badge"> Our next walk</span>
      </h1>
      <div *ngIf="displayedWalk.latestEventType.showDetails">
        <h2>
                        <span [textContent]="displayedWalk.walk.briefDescriptionAndStartPoint"
                              name="briefDescriptionAndStartPoint"></span>
        </h2>
        <h3 *ngIf="displayedWalk.walk.startTime">Start Time:
          <span
            [textContent]="displayedWalk.walk.startTime" name="startTime"></span>
        </h3>
      </div>
    </div>
    <input *ngIf="displayedWalk.walkAccessMode.walkWritable" type="submit"
           value="{{displayedWalk.walkAccessMode.caption}}"
           (click)="display.edit(displayedWalk)"
           title="{{displayedWalk.walkAccessMode.caption}}"
           class="button-form button-form-edit-event">

    <div *ngIf="displayedWalk.latestEventType.showDetails" class="event-description">
      <div class="green-bullets-no-rule">
        <p markdown [data]="displayedWalk.walk.longerDescription"></p>
      </div>
    </div>
    <div
      *ngIf="displayedWalk.latestEventType.showDetails && (displayedWalk.walk.meetupEventUrl || displayedWalk.walk.osMapsRoute || displayedWalk.walk.osMapsRoute || displayedWalk.walk.ramblersWalkId || displayedWalk.walkLink)"
      class="event-panel round event-panel-inner">
      <h1>Related Links</h1>

      <div *ngIf="displayedWalk.walk.meetupEventUrl" class="row related-links-row">
        <div class="col-sm-1">
          <img class="related-links-image"
               src="assets/images/local/meetup.ico"
               alt="View {{meetupService.meetupPublishedStatus(displayedWalk)}} event on Meetup"/>
        </div>
        <div class="col-sm-11">
          <a target="_blank"
             [href]="displayedWalk.walk.meetupEventUrl">
            <span class="related-links-title"
                   tooltip-placement="left"
                   tooltip="Click to view the route for this walk on Meetup">
              View {{meetupService.meetupPublishedStatus(displayedWalk)}} event on Meetup
            </span>
          </a>
        </div>
      </div>

      <div *ngIf="displayedWalk.walk.ramblersWalkId" class="row related-links-row">
        <div class="col-sm-1">
          <img class="related-links-image"
               src="assets/images/ramblers/favicon.ico"
               alt="View walk on Ramblers"/>
        </div>
        <div class="col-sm-11">
          <a target="_blank"
             class="follow"

             [href]="displayedWalk.ramblersLink"
             title="Preview on Ramblers Walks and Events Manager">
            <span class="related-links-title"
                  tooltip-placement="left"
                  tooltip="Click to view on Ramblers Walks and Events Manager">
              View walk on Ramblers</span>
          </a>
        </div>
      </div>
      <div *ngIf="displayedWalk.walk.osMapsRoute" class="row related-links-row">
        <div class="col-sm-1">
          <img class="related-links-image"
               src="assets/images/local/ordnance-survey-untitled.png"
               alt="View map on OS Maps"/>
        </div>
        <div class="col-sm-11">
          <a target="_blank"
             [href]="displayedWalk.walk.osMapsRoute">
            <span class="related-links-title"
                  tooltip-placement="left"
                  tooltip="Click to view the route for this walk on Ordnance Survey Maps">
              View map on OS Maps
            </span>
          </a>
        </div>
      </div>
      <div class="row related-links-row" *ngIf="displayedWalk.walk.venue && displayedWalk.walk.venue.venuePublish && displayedWalk.walk.venue.url">
        <div class="col-sm-12">
          <i class="glyphicon {{displayedWalk.walk.venue.type | toVenueIcon}} glyphicon-icon fa-lg">
          </i>
          <a [href]="displayedWalk.walk.venue.url" target="_blank">
            <span class="related-links-gylph-title" tooltip-placement="left"
                  tooltip="Click to visit {{displayedWalk.walk.venue.name}}"></span>{{displayedWalk.walk.venue.type}}: {{displayedWalk.walk.venue.name}}
          </a>
        </div>
      </div>
      <div class="row related-links-row" *ngIf="displayedWalk.walkLink">
        <div class="col-sm-12">
          <i class="glyphicon glyphicon-copy glyphicon-icon fa-lg"><span
            tooltip-placement="left"
            tooltip="Click to copy link to clipboard"></span></i>
          <a popover="Link has been copied to clipboard"
             class="related-links-gylph-title" href="#"
             triggers="" #pop="bs-popover"
             (click)="display.copyWalkToClipboard(displayedWalk.walk, pop)"
             [outsideClick]="true"
             placement="bottom">Copy link</a> to this <a [href]="displayedWalk.walkLink " target="_blank">walk</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 round" *ngIf="displayedWalk.latestEventType.showDetails">
    <input type="number" min="1" max="20" *ngIf="false"
           [ngModel]="display.googleMapsConfig.zoomLevel" name="zoomLevel">
    <iframe *ngIf="displayedWalk.walk.postcode" class="map-thumbnail-image" frameborder="0"
            style="border:0;border-radius: 10px;"
            [src]="googleMapsUrl" allowfullscreen></iframe>
    <div class="row thumbnail thumbnail-campaign-settings">
      <div class="map-radio-heading map-radio-group">Show Map:</div>
      <div class="radio-inline map-radio-group map-radio-label" (click)="refreshView()">
        <input id="show-start-point" type="radio"
               [ngModel]="mapDisplay" name="mapDisplay"
               value="show-start-point"/>
        <label for="show-start-point">At start {{displayedWalk.walk.postcode}}</label>
        <input id="show-driving-directions" type="radio"
               [ngModel]="mapDisplay" name="mapDisplay"
               value="show-driving-directions"/>
        <label for="show-driving-directions">Driving from: <input
          class="input-sm text-uppercase input-postcode"
          [ngModel]="fromPostcode" name="fromPostcode"
          (change)="autoSelectMapDisplay()"
          type="text"></label>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 round">
    <div class="event-panel round">
      <h1>Walk Leader</h1>
      <div *ngIf="!displayedWalk.latestEventType.showDetails">
        <div class="col-sm-12">
          <p [textContent]="displayedWalk.latestEventType.description" name="description"></p>
        </div>
      </div>
      <div *ngIf="displayedWalk.latestEventType.showDetails">
        <p *ngIf="displayedWalk.walk.contactEmail"><i
          class="glyphicon glyphicon-envelope glyphicon-icon fa-lg"></i>

          <a *ngIf="loggedIn" [href]="'mailto:' + displayedWalk.walk.contactEmail">
            <span tooltip-placement="left"
                  tooltip="Click to email {{displayedWalk.walk.displayName}} at {{displayedWalk.walk.contactEmail}}">
              {{displayedWalk.walk.displayName}}
            </span>
          </a>
          <span *ngIf="!loggedIn" class="tooltip-link span-margin"
                tooltip-placement="left"
                tooltip-trigger="mouseenter"
                tooltip="Login as an EKWG member and send an email to {{displayedWalk.walk.displayName}}">
            {{displayedWalk.walk.displayName}}</span>
        </p>
        <p *ngIf="displayedWalk.latestEventType.showDetails"><i
          class="glyphicon glyphicon-phone glyphicon-icon fa-lg"></i>
          <a [href]="'tel:' + displayedWalk.walk.contactPhone" name="contactPhone">
                                        <span tooltip-placement="left"
                                              tooltip="Click to ring {{displayedWalk.walk.displayName}} on {{displayedWalk.walk.contactPhone}} (mobile devices only)">
                                            {{displayedWalk.walk.contactPhone}}
                                        </span>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 round">
    <div class="event-panel round">
      <h1>Walk Details</h1>
      <div *ngIf="!displayedWalk.latestEventType.showDetails">
        <div class="col-sm-12">
          <p [textContent]="displayedWalk.latestEventType.description" name="description"></p>
        </div>
      </div>
      <div *ngIf="displayedWalk.latestEventType.showDetails">
        <div class="row">
          <div class="col-sm-6">Postcode:
            <span [textContent]="displayedWalk.walk.location" name="location"></span>
            <a [href]="'http://maps.google.co.uk/maps?q=' + displayedWalk.walk.postcode"
               target="_blank">
                                                <span tooltip-placement="left"
                                                      tooltip="Click to locate postcode {{displayedWalk.walk.postcode}} on Google Maps">
                                                    {{displayedWalk.walk.postcode}}
                                                </span></a>
          </div>
          <div class="col-sm-6">
                                                <span *ngIf="displayedWalk.walk.gridReference">Grid Ref: <a
                                                  [href]="'http://gridreferencefinder.com/?gr=' + displayedWalk.walk.gridReference"
                                                  target="_blank">
                                            <span tooltip-placement="left"
                                                  tooltip="Click to locate grid reference {{displayedWalk.walk.gridReference}} on UK Grid Reference Finder">
                                                {{displayedWalk.walk.gridReference}}
                                            </span></a>
                                                </span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">Distance: {{displayedWalk.walk.distance}}</div>
          <div class="col-sm-6">Grade: {{displayedWalk.walk.grade}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
