<ng-container *ngIf="pageContent">
  <div *ngIf="siteEditService.active()" class="card mb-2">
    <div class="card-body">
      <h4 class="card-title">Page content for {{pageContent.path}} (<small class="text-muted">{{stringUtils.pluraliseWithCount(pageContent?.rows.length, 'row')}}</small>)</h4>
      <div class="dmt-2">
        <div (click)="actions.unsavedMarkdownElements(pageContent) ? null :savePageContent()"
             delay=500 [tooltip]="'Save page changes'" class="badge-button mb-2"
             [ngClass]="{'disabled' : actions.unsavedMarkdownElements(pageContent)}">
          <fa-icon [icon]="faSave"></fa-icon>
          Save page changes
        </div>
        <div (click)="revertPageContent()"
             delay=500 [tooltip]="'Revert page changes'" class="badge-button mb-2">
          <fa-icon [icon]="faUndo"></fa-icon>
          Revert page changes
        </div>
        <div class="custom-control custom-checkbox">
          <input name="editNameEnabled" [(ngModel)]="editNameEnabled"
                 [checked]="editNameEnabled"
                 type="checkbox" class="custom-control-input"
                 id="edit-names">
          <label class="custom-control-label"
                 for="edit-names">Edit Content Names
          </label>
        </div>
      </div>
      <div class="mt-2 mb-3">
        <label class="mr-2" for="path">Path:</label>
        <input id="path" [(ngModel)]="pageContent.path"
               type="text" class="form-control w-75">
      </div>
      <div class="img-thumbnail thumbnail-walk-edit mt-2" *ngFor="let row of pageContent?.rows; let rowIndex = index;">
        <div class="thumbnail-heading">Row {{rowIndex + 1}} ({{stringUtils.pluraliseWithCount(row?.columns.length, 'column')}})</div>
        <div class="form-group form-inline">
          <label [for]="actions.rowColumnIdentifierFor(rowIndex, 0, this.contentPath + '-type')">Row Type:</label>
          <select class="form-control input-sm ml-2"
                  [(ngModel)]="row.type"
                  (ngModelChange)="changeType($event)"
                  [id]="actions.rowColumnIdentifierFor(rowIndex, 0, this.contentPath + '-type')">
            <option *ngFor="let type of enumKeyValuesForPageContentType"
                    [ngValue]="type.value">{{stringUtils.asTitle(type.value)}}</option>
        </select>
        <app-actions-dropdown class="ml-2"
                              [rowIndex]="rowIndex"
                              [pageContent]="pageContent"
                              [row]="row">
        </app-actions-dropdown>
      </div>
      <app-action-buttons *ngIf="actions.isActionButtons(row)"
                          [column]="editNameEnabled"
                          [pageContent]="pageContent"
                          [rowIndex]="rowIndex">
      </app-action-buttons>
      <ng-container *ngIf="actions.isTextRow(row)">
        <div class="row">
          <ng-container *ngFor="let column of row?.columns; let columnIndex = index;">
            <div [class]="'col-sm-' + column.columns">
              <app-markdown-editor (saved)="actions.saveContentTextId($event, rowIndex, column, pageContent)"
                                   [category]="contentPath"
                                   [editNameEnabled]="editNameEnabled"
                                   [clearEnabled]="true"
                                   [description]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, contentDescription)"
                                   [id]="column?.contentTextId"
                                   [initialView]="initialView(column)"
                                   [name]="actions.rowColFor(rowIndex, columnIndex)">
                <div class="input-group mr-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text input-sm">width:</div>
                  </div>
                  <input #input (input)="actions.changeColumnWidthFor(input, column)"
                         [value]="column.columns"
                         autocomplete="columns"
                         class="form-control input-sm column-input" placeholder="Enter number of columns (1-12)"
                         type="number">
                </div>
                <div (click)="editImage(rowIndex, columnIndex)"
                     delay=500 tooltip="edit image" class="badge-button">
                  <fa-icon [icon]="column.imageSource? faPencil : faAdd"></fa-icon>
                  <span>{{column.imageSource ? 'edit' : 'add'}} image</span>
                </div>
                <app-image-cropper
                  *ngIf="editActive(rowIndex, columnIndex)"
                  [preloadImage]="column?.imageSource"
                  (imageChange)="imageChanged(rowIndex, columnIndex, $event)"
                  (quit)="exitImageEdit(rowIndex, columnIndex)"
                  (save)="imagedSaved(column, $event)">
                </app-image-cropper>
                <app-actions-dropdown class="ml-2"
                                      [columnIndex]="columnIndex"
                                      [pageContent]="pageContent"
                                      [row]="row">
                </app-actions-dropdown>
              </app-markdown-editor>
              <div *ngIf="imageSource(rowIndex, columnIndex, column?.imageSource)" class="mt-2 mb-3">
                <app-card-image
                  [unconstrainedHeight]="true"
                  [imageSource]="imageSource(rowIndex, columnIndex, column?.imageSource)"
                  [imageLink]="column.href">
                </app-card-image>
                <label [for]="actions.rowColumnIdentifierFor(rowIndex,columnIndex,'image-source')">Image Source:</label>
                <input [(ngModel)]="column.imageSource"
                       [id]="actions.rowColumnIdentifierFor(rowIndex,columnIndex,'image-source')"
                       type="text" class="form-control">
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!siteEditService.active()">
    <ng-container *ngFor="let row of pageContent?.rows; let rowIndex = index;">
      <ng-container *ngIf="false">{{'row ' + (rowIndex + 1) + ' ' + row.type  }}</ng-container>
      <app-action-buttons *ngIf="actions.isActionButtons(row)"
                          [column]="editNameEnabled"
                          [pageContent]="pageContent"
                          [rowIndex]="rowIndex">
      </app-action-buttons>
      <ng-container *ngIf="actions.isTextRow(row)">
        <div class="row">
          <div *ngFor="let column of row?.columns; let columnIndex = index;"
               [class]="'col-sm-' + column.columns">
            <app-markdown-editor [id]="column?.contentTextId"
                                 [editNameEnabled]="editNameEnabled"
                                 [description]="actions.rowColumnIdentifierFor(rowIndex,columnIndex,contentDescription)"
                                 [category]="contentPath"
                                 [name]="actions.rowColFor(rowIndex, columnIndex)">
            </app-markdown-editor>
            <app-card-image *ngIf="column?.imageSource"
                            [unconstrainedHeight]="true"
                            [imageSource]="column?.imageSource"
                            [imageLink]="column.href">
            </app-card-image>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
<ng-container *ngIf="!actions.pageContentFound(pageContent,queryCompleted)">
  <ng-container *ngIf="siteEditService.active()">
    <div class="col-12 alert {{notifyTarget.alertClass}} mt-3">
      <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
      <strong class="ml-2">{{notifyTarget.alertTitle}}</strong>
      <span class="p-2">{{notifyTarget.alertMessage}}. <a (click)="createContent()" class="rams-text-decoration-pink"
                                                          type="button">Create content</a></span>
    </div>
  </ng-container>
  <ng-container *ngIf="!siteEditService.active()">
    <div class="col-12 alert {{notifyTarget.alertClass}} mt-3">
      <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
      <strong class="ml-2">{{notifyTarget.alertTitle}}</strong>
      <span class="p-2">{{notifyTarget.alertMessage}}. <a [href]="area" class="rams-text-decoration-pink"
                                                         type="button"> Go Back to {{area}} page</a></span>
    </div>
  </ng-container>
</ng-container>
