<ng-container *ngIf="pageContent">
  <ng-container *ngIf="siteEditService.active()">
    <div class="form-inline mt-2">
      <div (click)="actions.unsavedMarkdownElements(pageContent) ? null :savePageContent()"
           delay=500 [tooltip]="'Save page changes'" class="badge-button mb-2"
           [ngClass]="{'disabled' : actions.unsavedMarkdownElements(pageContent)}">
        <fa-icon [icon]="faSave"></fa-icon>
        Save page changes
      </div>
      <div (click)="revertPageContent()"
           delay=500 [tooltip]="'Revert page changes'" class="badge-button mb-2">
        <fa-icon [icon]="faUndo"></fa-icon>
        Revert page changes
      </div>
      <div class="custom-control custom-checkbox">
        <input name="editNameEnabled" [(ngModel)]="editNameEnabled"
               [checked]="editNameEnabled"
               type="checkbox" class="custom-control-input"
               id="edit-names">
        <label class="custom-control-label"
               for="edit-names">Edit Content Names
        </label>
      </div>
    </div>
    <div class="img-thumbnail thumbnail-walk-edit mt-2" *ngFor="let row of pageContent?.rows; let rowIndex = index;">
      <div class="thumbnail-heading">Row {{rowIndex + 1}}</div>
      <div class="form-group form-inline">
        <label [for]="actions.rowColumnIdentifierFor(rowIndex, 0, 'type')">Row Type:</label>
        <select class="form-control input-sm ml-2"
                [(ngModel)]="row.type"
                (ngModelChange)="changeType($event)"
                [id]="actions.rowColumnIdentifierFor(rowIndex, 0, 'type')">
          <option *ngFor="let type of enumKeyValuesFor"
                  [ngValue]="type.value">{{type.value}}</option>
        </select>
        <app-actions-dropdown class="ml-2"
                              [rowIndex]="rowIndex"
                              [pageContent]="pageContent"
                              [row]="row">
        </app-actions-dropdown>
      </div>
      <app-dynamic-carousel *ngIf="row.type==='slides'"
                            [editNameEnabled]="editNameEnabled"
                            [pageContent]="pageContent"
                            [rowIndex]="rowIndex">
      </app-dynamic-carousel>
      <ng-container *ngIf="row.type==='text'">
        <div class="row">
          <div *ngFor="let column of row?.columns; let columnIndex = index;"
               [class]="slideClasses(row?.columns.length)">
            <app-markdown-editor (saved)="actions.saveContentTextId($event, rowIndex, columnIndex, pageContent)"
                                 [category]="contentPath"
                                 [editNameEnabled]="editNameEnabled"
                                 [clearEnabled]="true"
                                 [description]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, contentDescription)"
                                 [id]="column?.contentTextId"
                                 [initialView]="initialView(column)"
                                 [name]="actions.rowColFor(rowIndex, columnIndex)">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text input-sm">width:</div>
                </div>
                <input #input (input)="actions.changeColumnWidthFor(input, column)"
                       [value]="column.columns"
                       autocomplete="columns"
                       class="form-control input-sm column-input" placeholder="Enter number of columns (1-12)"
                       type="number">
              </div>
              <app-actions-dropdown class="ml-2"
                                    [columnIndex]="columnIndex"
                                    [pageContent]="pageContent"
                                    [row]="row">
              </app-actions-dropdown>
            </app-markdown-editor>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="!siteEditService.active()">
    <ng-container *ngFor="let row of pageContent?.rows; let rowIndex = index;">
      <ng-container *ngIf="false">{{'row ' + (rowIndex + 1) + ' ' + row.type  }}</ng-container>
      <app-dynamic-carousel *ngIf="row.type==='slides'"
                            [editNameEnabled]="editNameEnabled"
                            [pageContent]="pageContent"
                            [rowIndex]="rowIndex">
      </app-dynamic-carousel>
      <ng-container *ngIf="row.type==='text'">
        <div class="row">
          <app-markdown-editor *ngFor="let column of row?.columns; let columnIndex = index;"
                               [class]="'col-sm-' + column.columns"
                               [id]="column?.contentTextId"
                               [editNameEnabled]="editNameEnabled"
                               [description]="actions.rowColumnIdentifierFor(rowIndex,columnIndex,contentDescription)"
                               [category]="contentPath"
                               [name]="actions.rowColFor(rowIndex, columnIndex)">
          </app-markdown-editor>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
<ng-container *ngIf="!pageContent">
  <ng-container *ngIf="siteEditService.active()">
    <div class="col-12 alert {{notifyTarget.alertClass}} mt-3">
      <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
      <strong class="ml-2">{{notifyTarget.alertTitle}}</strong>
      <span class="p-2">{{notifyTarget.alertMessage}}. <a (click)="createContent()" class="rams-text-decoration-pink"
                                                         type="button">Create content</a></span>
    </div>
  </ng-container>
  <ng-container *ngIf="!siteEditService.active()">
    <div class="col-12 alert {{notifyTarget.alertClass}} mt-3">
      <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
      <strong class="ml-2">{{notifyTarget.alertTitle}}</strong>
      <span class="p-2">{{notifyTarget.alertMessage}}. <a [href]="area" class="rams-text-decoration-pink"
                                                         type="button"> Go Back to {{area}} page</a></span>
    </div>
  </ng-container>
</ng-container>
