<div class="carousel-wrapper">
<div class="slider-container">
<div class="sc-inner">
  <carousel [noPause]="false" [isAnimated]="true"
            [interval]="slideInterval"
            [showIndicators]="showIndicators"
            [(activeSlide)]="activeSlideIndex"
            (activeSlideChange)="activeSlideChange(false, $event)">
    <app-carousel-story-navigator></app-carousel-story-navigator>
    <slide *ngFor="let slide of viewableSlides; let index = index;">
      <img class="img-responsive center-block" loading="lazy" *ngIf="slide" [src]="slide.image" [alt]="slide.text"
           style="display: block; width: 100%;">
      <div class="carousel-caption">
        <h4>{{slide.text}}</h4>
        <div>
          <a delay="500" class="event-date"
             *ngIf="slide.eventId" tooltipPlacement="right" [tooltip]="eventTooltip(slide)"
             [adaptivePosition]="false" [placement]="'right'" [href]="eventUrl(slide)">
            on {{slide.date | displayDate}}  </a>
        </div>
      </div>
    </slide>
  </carousel>
</div>
</div>
</div>

<div class="row pt-3">
  <div class="col-sm-12">
    <a *ngIf="allowEdits()" [routerLink]="'image-editor/imagesHome'"
       [queryParams]="{story: imageTagDataService.currentTag()?.key}"><span class="badge">
      <fa-icon [icon]="faPencil" class="badge-icon"></fa-icon> edit images</span></a>
    <app-markdown-editor [editCaptionText]="'edit content'" class="green-bullets-no-rule"
                         name="welcome"></app-markdown-editor>
  </div>
</div>
<div class="card-columns">
  <app-facebook></app-facebook>
  <app-instagram></app-instagram>
</div>

<!--             (mouseleave)="hoverEvent(false)" delay="500" [ngClass]="{'badge event-date-badge' : hoverActive}"-->
