@import "~bootstrap"

.carousel-wrapper
  width: 100%
  margin: 0 auto
  background: #eee

  border-bottom: 1px solid #ddd
  float: left

.slider-container
  background: #eee
  border-bottom: 1px solid #ddd
  float: left
  width: 100%

.sc-inner
  position: relative
  margin: 0 auto


.carousel-caption a
  color: white
  font-weight: normal

.cta-instagram
  background: url("../../assets/images/local/instagram.ico") 12px 15px no-repeat #f2f2f2
  background-size: 19px

.instagram-pics li:nth-child(1), .instagram-pics li:nth-child(2)
  width: 50%

.instagram-pics ul
  margin: 0
  padding: 0
  list-style: none

.instagram-pics li
  padding: 3px
  width: 25%
  float: left
  height: 100%

.instagram-pics li img
  display: block
  width: 100%

.instagram-pics li:nth-child(n+3)
  width: 115.5px
  height: 115.5px

.social-media-thumbnail
  padding: 14px 11px 9px 9px
  margin: 12px 0px

.badge
  font-size: 16px

.badge-icon
  color: #656565
  display: inline-block
  text-align: center

.event-date-badge
  position: relative
  font-weight: normal
  color: #fff
  background: #A8B400

.card-columns
  @include media-breakpoint-only(lg)
    column-count: 2

  @include media-breakpoint-only(xl)
    column-count: 2

  @include media-breakpoint-only(sm)
    column-count: 1
