<footer>
  <div class="footer-header"></div>
  <div class="footer-inner">
    <div class="footer-content">
      <div class="footer-col">
        <h4>Find us on</h4>
        <ul>
          <li class="social-icon"><a
            href="https://www.facebook.com/pages/East-Kent-Walking-Group/172849389464649"
            title="Facebook" target="_blank"><img
            src="/images/ramblers/icon-facebook.png" alt="Facebook">East Kent Walking Group on
            Facebook</a>
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Other related sites</h4>
        <ul>
          <li class="external-link">
            <a href="http://www.ramblers.org.uk/go-walking/group-finder/areas/kent/groups/east-kent-walking.aspx"
               title="East Kent Walking Group walks on the National Ramblers Site" target="_blank">East
              Kent
              Walking Group walks on the National Ramblers Site</a></li>
        </ul>
      </div>
      <div class="footer-base">
        <div class="copyright">Ramblers Charity England &amp; Wales No: 1093577 Scotland No: SC039799 ©
          Ramblers&nbsp;{{year}}
        </div>
        <div class="unified-link">Website by <a href="mailto:nick.barrett@ekwg.co.uk"
                                                title="Website by EKWG">EKWG</a></div>
      </div>
    </div>
  </div>
</footer>
