<div ng-class="{'busy': busy}" class="wrapper">
    <div id="page-body" role="main">
        <div class="body-header">

            <div class="breadcrumbs">
                <ul>
                    <li><a href="#/" title="Home">Home</a></li>
                    <li class="last">Committee</li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-8">
                <div ng-if="showAlertMessage()" class="row">
                    <div class="col-sm-12 mb-10">
                        <div class="alert {{alert.class}}"><i
                            class="glyphicon {{alert.icon}}"> </i><strong ng-if="alertTitle">
                            {{alertTitle}}: </strong> {{alertMessage}}
                        </div>
                    </div>
                </div>

                <uib-accordion ng-if="allowSend()" class="accordion accordion-style" close-others="false">

                    <uib-accordion-group is-open="true">
                        <uib-accordion-heading>
                            <div class="accordion-title">
                                <img src="ekwg-legacy/assets/images/ramblers/icon-members.png" alt="members area"> <span
                                ng-bind="'General'"></span>
                                <i class="pull-right fa fa-lg darkred"
                                   ng-class="{'fa fa-minus-circle': general.expanded, 'fa fa-plus-circle': !general.expanded }"></i>
                            </div>
                        </uib-accordion-heading>

                        <div class="col-sm-12">
                            <div class="row">
                                <p class="general-description">This section allows you to access functions that are not
                                    linked to any specific committee files or events.</p>
                                <input type="submit" value="Send Email"
                                       ng-click="sendNotification()"
                                       title="Send Email" class="button-form yellow-confirm">
                                <input type="submit" value="Open Mailchimp"
                                       ng-click="openMailchimp()"
                                       title="Mailchimp" class="button-form blue-confirm">
                                <input type="submit" value="Campaign Settings"
                                       ng-click="openSettings()"
                                       title="Mailchimp" class="button-form green-confirm">
                            </div>
                        </div>
                    </uib-accordion-group>
                    <div ng-repeat-end></div>
                </uib-accordion>
                <uib-accordion class="accordion accordion-style" close-others="false">

                    <div ng-repeat-start="committeeFileYear in committeeFileYears">

                        <uib-accordion-group is-open="committeeFileYear.latestYear">
                            <uib-accordion-heading>
                                <div class="accordion-title">
                                    <img src="ekwg-legacy/assets/images/ramblers/icon-members.png" alt="members area"> <span
                                    ng-bind="committeeFileYear.year + ' Year'"></span>
                                    <i class="pull-right fa fa-lg darkred"
                                       ng-class="{'fa fa-minus-circle': committeeFileYear.latestYear, 'fa fa-plus-circle': !committeeFileYear.latestYear }"></i>
                                </div>
                            </uib-accordion-heading>

                            <input
                                ng-if="allowAddCommitteeFile() && committeeFilesForYear(committeeFileYear.year).length===0"
                                type="submit" value="Add File" ng-click="addCommitteeFile($event)" title="Add new File"
                                class="button-form">

                            <div ng-repeat-start="committeeFile in committeeFiles = committeeFilesForYear(committeeFileYear.year)">

                                <div class="file-item"
                                     ng-mouseover="selectCommitteeFile(committeeFile, committeeFiles)">
                                    <div class="file-download">
                                        <img class="icon" ng-src='ekwg-legacy/assets/images/ramblers/{{ iconFile(committeeFile) }}'
                                             alt='{{ iconFile(committeeFile) }}'/>
                                        <a class="morelink" target='_blank' title="{{fileTitle(committeeFile)}}"
                                           ng-href="{{ fileUrl(committeeFile) }}">Download</a>
                                    </div>
                                    <div class="file-detail">

                                        <h3 ng-bind="committeeFile.fileType"></h3>

                                        <p ng-bind="fileTitle(committeeFile)"></p>

                                        <div ng-if="isActive(committeeFile)" class="row">
                                            <div class="col-sm-12">
                                                <div class="action-button-group">
                                                    <span ng-if="!allowConfirmDelete">
                                                        <input ng-if="allowAddCommitteeFile()" type="submit"
                                                               value="Add File" ng-click="addCommitteeFile($event)"
                                                               title="Add new File" class="button-form">
                                                        <input ng-if="allowEditCommitteeFile(committeeFile)"
                                                               type="submit" value="Edit File"
                                                               ng-click="editCommitteeFile(committeeFile)"
                                                               title="Edit File for approval"
                                                               class="button-form green-confirm">
                                                        <input ng-if="allowEditCommitteeFile(committeeFile)"
                                                               type="submit" value="Send Email"
                                                               ng-click="sendNotification(committeeFile)"
                                                               title="Send Email" class="button-form yellow-confirm">
                                                        <input ng-if="allowDeleteCommitteeFile(committeeFile)"
                                                               type="submit" value="Delete File"
                                                               ng-click="deleteCommitteeFile()" title="Delete File"
                                                               class="button-form button-confirm">
                                                    </span>
                                                    <span ng-if="allowConfirmDelete">
                                                        <input type="submit" value="Confirm Delete of File"
                                                               ng-click="confirmDeleteCommitteeFile()"
                                                               title="Delete File" class="button-form button-confirm">
                                                        <input type="submit" value="Cancel Delete of File"
                                                               ng-click="cancelDeleteCommitteeFile()"
                                                               title="Cancel delete of File"
                                                               class="button-form green-confirm">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat-end></div>

                        </uib-accordion-group>
                    </div>
                    <div ng-repeat-end></div>
                </uib-accordion>

            </div>
            <div class="col-sm-4 auto-fit-column">
                <p><img class="round" alt="join us" src="ekwg-legacy/assets/images/local/ekwg-agm.jpg"></p>

                <div class="row">
                    <div class="right-col-section">
                        <div class="message-box">
                            <h3>
                                Downloading PDFs
                            </h3>

                            <p>Adobe Reader is free software that lets you view and print Adobe Portable Document Format
                                (PDF) files. To access PDF files you need Adobe Reader installed. If you don't have
                                Adobe Reader on your computer, you can
                                <a href="http://get.adobe.com/uk/reader/" title="Adobe website" target="_blank">download
                                    it</a>.<br>
                                <br>
                                If you're having trouble downloading PDFs, you may want to right click on the 'Download'
                                link and choose 'Save link as' and then open the document when it has been saved to your
                                PC.
                            </p>
                        </div>
                    </div>
                </div>
                <p><img class="round" alt="join us" src="ekwg-legacy/assets/images/local/ekwg-agm-2.jpg"></p>
            </div>
        </div>
    </div>
</div>
<ng-include src="'ekwg-legacy/partials/committee/file-detail-dialog.html'"></ng-include>
