<div ng-class="{'busy': busy}" class="modal" id="file-detail-dialog" tabindex="-1" role="dialog" data-backdrop="true" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit <em>Committee</em> File</h4>
            </div>
            <div class="modal-body">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="event-date">File or Event Date</label>

                                <div class="input-group">
                                    <input ng-model="selected.committeeFile.eventDate" type="text" class="form-control input-sm" value="{{selected.committeeFile.eventDate}}"
                                           ng-click="eventDateCalendar.open($event)"
                                           uib-datepicker-popup is-open="eventDateCalendar.opened"
                                           ng-required="true" close-text="Close" id="event-date"/>
                                    <span class="input-group-btn"><button class="btn btn-default btn-sm" ng-click="eventDateCalendar.open($event)">
                                        <i class="glyphicon glyphicon-calendar"></i></button></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="fileType">File Type</label>
                                <select ng-model="selected.committeeFile.fileType" id="fileType" class="form-control input-sm"
                                        ng-options="fileType.description as fileType.description for fileType in fileTypes">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div ng-if="uploadedFile || selected.committeeFile.fileNameData" class="form-group">
                                <label for="file">Description for: </label>
                                <a target="_blank" id="file" ng-href="{{fileUrl(selected.committeeFile)}}">attached file</a>
                                <input ng-model="selected.committeeFile.fileNameData.title" type="text" value="" class="form-control input-sm" id="fileTitle"
                                       placeholder="Enter a title for this file">
                            </div>

                        </div>
                        <div class="col-sm-3">

                            <span class="hidden-input"><input id="hidden-input" type="file" ng-disabled="userEdits.saveInProgress" value="Replace File" ngf-select="onFileSelect($file)" title="Replace this file"></span>

                            <input type="submit" ng-disabled="userEdits.saveInProgress" value="{{attachmentTitle()}}" title="Attach new file"
                                   ng-class="userEdits.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'" ng-click="attachFile()">
                        </div>
                        <div class="col-sm-9">

                            <div ng-if="uploadedFile" class="form-group">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width:{{uploadedFile.progress}}%;">{{uploadedFile.progress}}% uploaded</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="showAlertMessage()" class="row">
                    <div class="col-sm-12 mb-10">
                        <div class="alert {{alert.class}}"><i
                            class="glyphicon {{alert.icon}}"> </i><strong ng-if="alertTitle">
                            {{alertTitle}}: </strong> {{alertMessage}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Save File" ng-disabled="userEdits.saveInProgress" ng-click="saveCommitteeFile()" title="Save File" ng-class="userEdits.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                <input ng-if="!allowConfirmDelete && allowDeleteCommitteeFile()" type="submit" value="Delete File" ng-disabled="userEdits.saveInProgress" ng-click="deleteCommitteeFile()" title="Delete File" ng-class="userEdits.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                <input ng-if="allowConfirmDelete" type="submit" value="Confirm Delete of File" ng-disabled="userEdits.saveInProgress" ng-click="confirmDeleteCommitteeFile()" title="Confirm delete of this File" ng-class="userEdits.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left button-confirm'">
                <input type="submit" value="Cancel Change" ng-disabled="userEdits.saveInProgress" ng-click="cancelFileChange()" title="Cancel File changes and close this dialog" ng-class="userEdits.saveInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
            </div>
        </div>
    </div>
</div>
