<div bsModal class="modal-lg" [ngClass]="{'busy': notifyTarget.busy}">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="cancelSendNotification()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Send <em>Committee</em> Notification</h4>
    </div>
    <div class="modal-body">
      <tabset>
        <tab [heading]="'Recipients & Addressing'">
          <div class="thumbnail thumbnail-admin-edit">
            <div class="row">
              <div class="col-sm-7"><label>Send to:</label>
                <div class="form-group">
                  <div class="radio">
                    <input
                      (click)="clearRecipientsForCampaignOfType('committee')"
                      name="send-to"
                      id="send-to-committee"
                      [disabled]="allCommitteeList().length===0"
                      type="radio"
                      [(ngModel)]="notification.content.destinationType"
                      value="committee"/>
                    <label for="send-to-committee">{{allCommitteeList().length}}
                      Committee Members
                    </label>
                    <a class="ml-4" *ngIf="allCommitteeList().length>0"
                       (click)="editCommitteeRecipients()">(edit)</a>
                  </div>
                  <div class="radio">
                    <input (click)="clearRecipientsForCampaignOfType('general')" id="send-to-general"
                           [disabled]="allGeneralSubscribedList().length===0"
                           name="send-to"
                           type="radio"
                           [(ngModel)]="notification.content.destinationType"
                           value="general"/>
                    <label for="send-to-general">{{allGeneralSubscribedList().length}} General List
                      Members </label>
                    <a class="ml-4" *ngIf="allGeneralSubscribedList().length>0"
                       (click)="editAllEKWGRecipients()">(edit)</a>
                  </div>
                  <div class="radio">
                    <input (click)="clearRecipientsForCampaignOfType('walks')"
                           name="send-to"
                           id="send-to-walks"
                           [disabled]="allWalksSubscribedList().length===0"
                           type="radio"
                           [(ngModel)]="notification.content.destinationType"
                           value="walks"/>
                    <label for="send-to-walks">{{allWalksSubscribedList().length}} Walks List
                      Members
                    </label>
                    <a class="ml-4" *ngIf="allWalksSubscribedList().length>0"
                       (click)="editAllWalksRecipients()">(edit)</a>
                  </div>
                  <div class="radio">
                    <input (click)="clearRecipientsForCampaignOfType('socialEvents')"
                           name="send-to"
                           id="send-to-social"
                           [disabled]="allSocialSubscribedList().length===0"
                           type="radio"
                           [(ngModel)]="notification.content.destinationType"
                           value="socialEvents"/>
                    <label for="send-to-social">{{allSocialSubscribedList().length}}
                      Social List Members
                    </label>
                    <a *ngIf="allSocialSubscribedList().length>0"
                       (click)="editAllSocialRecipients()">(edit)</a>
                  </div>
                  <div class="radio">
                    <input id="custom" type="radio"
                           name="send-to"
                           [(ngModel)]="notification.content.destinationType"
                           value="custom"/>
                    <label for="custom">
                      <span
                        *ngIf="notification.content.selectedMemberIds.length===0">Choose individual recipients</span>
                      <span
                        *ngIf="notification.content.selectedMemberIds.length>0">{{this.notification.content.selectedMemberIds.length}}
                        recipient(s) chosen from {{this.notification.content.list}} list</span>
                    </label>
                    <a (click)="clearRecipientsForCampaignOfType()"> (clear)</a>
                  </div>
                </div>
              </div>
              <div class="col col-sm-5"><label>Address as:</label>
                <div class="form-group">
                  <div class="radio">
                    <input id="addressee-first-name" type="radio"
                           name="address-as"
                           [(ngModel)]="notification.content.addresseeType" value="Hi *|FNAME|*,"/>
                    <label for="addressee-first-name">Hi <i>first name</i> </label>
                  </div>
                  <div class="radio">
                    <input id="addressee-all" type="radio"
                           name="address-as"
                           [(ngModel)]="notification.content.addresseeType"
                           value="Hi all,"/>
                    <label for="addressee-all">Hi all</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="notification.content.destinationType==='custom'">
              <div class="col-sm-12">
                <div class="form-group" triggers="" #tooltip2="bs-tooltip" placement="bottom"
                     [tooltip]="helpMembers()">
                  <ng-select #select [items]="selectableRecipients"
                             bindLabel="memberInformation"
                             name="member-selector"
                             bindValue="id"
                             placeholder="Select one or more members"
                             [disabled]="notifyTarget.busy"
                             [dropdownPosition]="'bottom'"
                             [groupBy]="groupBy"
                             [groupValue]="groupValue"
                             [multiple]="true"
                             [closeOnSelect]="true"
                             (change)="onChange()"
                             [(ngModel)]="notification.content.selectedMemberIds">
                    <ng-template ng-optgroup-tmp let-item="item">
                      <span class="group-header">{{item.name}} members</span>
                      <span class="ml-1 badge badge-secondary badge-group"> {{item.total}} </span>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab [heading]="'Edit Content'">
          <div class="thumbnail thumbnail-admin-edit">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="campaign">Replicate Based On:</label>
                  <select *ngIf="campaigns" [(ngModel)]="notification.content.campaignId"
                          id="campaign"
                          class="form-control input-sm"
                          (ngModelChange)="campaignIdChanged()">
                    <option *ngFor="let campaign of campaigns.data" [ngValue]="campaign.id"
                            [textContent]="campaign.title"></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="notification-title">Email title:</label>
                  <input [(ngModel)]="notification.content.title.value" type="text" class="form-control input-sm"
                         id="notification-title"
                         placeholder="This will appear as the email title to the recipient">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="content-text">Email text: <small>(no need to prefix 'Hi ...' as it's done
                    automatically)</small>
                  </label>
                  <textarea markdown [(ngModel)]="notification.content.text.value" type="text"
                            class="form-control input-sm" rows="5"
                            id="content-text"
                            placeholder="Enter free text to be included of the notification here"></textarea>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="committeeFile">
              <div class="col col-sm-12"><label>Include download information for:</label>
                <div class="checkbox-group">
                  <label
                    [ngClass]="{'ui-state-active': notification.content.includeDownloadInformation}"
                    for="include-download-information">{{committeeFile.fileType}} -
                    {{display.fileTitle(committeeFile)}}
                    <input [(ngModel)]="notification.content.includeDownloadInformation"
                           type="checkbox" id="include-download-information">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab [heading]="'Auto-Include Events'">
          <div class="thumbnail thumbnail-admin-edit">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="from-date">Include Events From:</label>
                  <app-date-picker id="from-date"
                                   [size]="'md round'"
                                   (dateChange)="onFromDateChange($event)"
                                   [value]="this.notification.groupEventsFilter.fromDate">
                  </app-date-picker>
                </div>
                <div class="form-group">
                  <label for="to-date">Include Events To:</label>
                  <app-date-picker id="to-date"
                                   [size]="'md round'"
                                   (dateChange)="onToDateChange($event)"
                                   [value]="this.notification.groupEventsFilter.toDate">
                  </app-date-picker>
                </div>
              </div>
              <div class="col-sm-4">
                <label>Include Information:</label>
                <div class="checkbox-group">
                  <label [ngClass]="{'ui-state-active': notification.groupEventsFilter.includeDescription}"
                         for="user-events-show-description">Description:
                    <input [(ngModel)]="notification.groupEventsFilter.includeDescription"
                           (ngModelChange)="populateGroupEvents()"
                           type="checkbox" id="user-events-show-description">
                  </label>
                </div>
                <div class="checkbox-group">
                  <label [ngClass]="{'ui-state-active': notification.groupEventsFilter.includeLocation}"
                         for="user-events-show-location">Location:
                    <input [(ngModel)]="notification.groupEventsFilter.includeLocation"
                           (ngModelChange)="populateGroupEvents()"
                           type="checkbox" id="user-events-show-location">
                  </label>
                </div>
                <div class="checkbox-group">
                  <label [ngClass]="{'ui-state-active': notification.groupEventsFilter.includeContact}"
                         for="user-events-show-contact">Contact:
                    <input [(ngModel)]="notification.groupEventsFilter.includeContact"
                           (ngModelChange)="populateGroupEvents()"
                           type="checkbox" id="user-events-show-contact">
                  </label>
                </div>
              </div>
              <div class="col-sm-4">
                <label>Include Event Types:</label>
                <div class="checkbox-group">
                  <label [ngClass]="{'ui-state-active': notification.groupEventsFilter.includeWalks}"
                         for="user-events-include-walks">Walks:
                    <input [(ngModel)]="notification.groupEventsFilter.includeWalks"
                           (ngModelChange)="populateGroupEvents()"
                           type="checkbox" id="user-events-include-walks">
                  </label>
                </div>
                <div class="checkbox-group">
                  <label [ngClass]="{'ui-state-active': notification.groupEventsFilter.includeSocialEvents}"
                         for="user-events-include-social-events">Social Events:
                    <input [(ngModel)]="notification.groupEventsFilter.includeSocialEvents"
                           (ngModelChange)="populateGroupEvents()"
                           type="checkbox" id="user-events-include-social-events">
                  </label>
                </div>
                <div class="checkbox-group">
                  <label [ngClass]="{'ui-state-active': notification.groupEventsFilter.includeCommitteeEvents}"
                         for="user-events-include-committee-events">Committee Events:
                    <input [(ngModel)]="notification.groupEventsFilter.includeCommitteeEvents"
                           (ngModelChange)="populateGroupEvents()"
                           type="checkbox" id="user-events-include-committee-events"/>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-sm-12">
                <ul class="group-events-ul">
                  <li class="mb-12" *ngIf="notification.groupEvents.length>0"
                      [ngClass]="notification.groupEventsFilter.selectAll ? 'group-events-checkbox-on' : 'group-events-checkbox-off'"
                      (click)="selectAllGroupEvents()">
                    <strong>Select/Deselect All</strong>, or use the individual checkboxes below to include/exclude any
                    of the following {{notification.groupEvents.length}} events:
                  </li>
                  <li [ngClass]="event.selected ? 'group-events-checkbox-on' : 'group-events-checkbox-off'"
                      *ngFor="let event of notification.groupEvents"
                      (click)="changeGroupEventSelection(event)">
                    <p style="font-size: 14px;font-weight: bold">
                      <span [textContent]="event.eventDate | displayDate"></span>
                      <span *ngIf="event.eventTime"> •
                              <span [textContent]="event.eventTime"></span>
                            </span>
                      •
                      <span [textContent]="event?.eventType?.description"></span>
                      •
                      <app-notification-url [area]="event?.eventType.area"
                                            [id]="event?.id"
                                            [text]="event?.title"
                                            target="_blank"></app-notification-url>
                      <span *ngIf="event.distance"> •
                              <span [textContent]="event.distance"></span>
                            </span>
                    </p>
                    <div style="font-size: 14px;font-weight: bold">
                            <span *ngIf="notification.groupEventsFilter.includeContact && event.contactName">Contact:
                              <a [href]="'mailto:' + event.contactEmail"
                                 [textContent]="event.contactName || event.contactEmail">
                            </a>
                              <span *ngIf="event.contactPhone"> ({{event.contactPhone}})</span>
                            </span>
                      <span *ngIf="notification.groupEventsFilter.includeLocation && event.postcode"> • Location: <a
                        [href]="'http://maps.google.co.uk/maps?q=' + event.postcode"
                        target="_blank">
                              <span [textContent]="event.postcode"></span>
                            </a></span>
                    </div>

                    <p markdown [data]="event.description" style="padding: 8px 0px 0px 0px"
                       *ngIf="notification.groupEventsFilter.includeDescription">
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </tab>
        <tab [heading]="'Signing Off'">
          <div class="thumbnail thumbnail-admin-edit">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="checkbox-group">
                    <label for="include-signoff-text"
                           [ngClass]="{'ui-state-active': notification.content.signoffText.include}">
                      Include Signoff text:
                      <input [(ngModel)]="notification.content.signoffText.include" type="checkbox"
                             id="include-signoff-text">
                    </label>
                  </div>
                  <textarea [disabled]="!notification.content.signoffText.include"
                            [(ngModel)]="notification.content.signoffText.value" type="text"
                            class="form-control input-sm" rows="3"
                            id="signoff-text"
                            placeholder="Enter any signoff text to be included of the notification here"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-sm-12">
                <div class="form-group">
                  <div class="checkbox-group">
                    <label [ngClass]="{'ui-state-active': notification.content.signoffAs.include}"
                           for="include-signoff-as">Signoff as:
                      <input [(ngModel)]="notification.content.signoffAs.include"
                             type="checkbox"
                             id="include-signoff-as">
                    </label>
                  </div>
                  <select [(ngModel)]="notification.content.signoffAs.value"
                          id="signoff-as"
                          [disabled]="!notification.content.signoffAs.include"
                          class="form-control input-sm">
                    <option *ngFor="let role of roles.signoff"
                            [ngValue]="role.type"
                            [textContent]="role.nameAndDescription"></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab [heading]="'Preview'">
          <div class="thumbnail thumbnail-admin-edit">
            <div class="form-horizontal">
              <div id="preview" class="print-preview">
                <ng-template app-committee-notification-template></ng-template>
                <h2 class="mb-3">{{notification.content.title.value}}</h2>
                <app-committee-notification-details [committeeFile]="committeeFile" [members]="members"
                                                    [notification]="notification">
                </app-committee-notification-details>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
      <div *ngIf="notifyTarget.showAlert" class="row">
        <div class="col-sm-12 mb-10">
          <div class="alert {{notifyTarget.alert.class}}"><i
            class="glyphicon {{notifyTarget.alert.icon}}"> </i><strong *ngIf="notifyTarget.alertTitle">
            {{notifyTarget.alertTitle}}: </strong> {{notifyTarget.alertMessage}}
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input type="submit" value="Confirm Send" (click)="confirmSendNotification()"
             [disabled]="notReady()"
             title="Confirm sending of notification email"
             [ngClass]="notReady() ? 'disabled-button-form button-form-left': 'button-form button-confirm green-confirm button-form-left'">
      <input type="submit" value="Complete in Mailchimp" (click)="completeInMailchimp()"
             [disabled]="notReady()"
             title="Complete editing and sending of Mailchimp"
             [ngClass]="notReady() ? 'disabled-button-form button-form-left': 'button-form button-confirm blue-confirm button-form-left'">
      <input type="submit" value="Cancel Send" (click)="cancelSendNotification()"
             title="Cancel sending of notification email"
             class="button-form button-confirm button-form-left">
    </div>
  </div>
</div>
