<div class="card shadow clickable h-100 mb-4">
  <app-card-image
    [icon]="iconService.iconForName(column.icon)"
    [imageSource]="imageSourceOrPreview()"
    [imageLink]="column.href"></app-card-image>
  <div class="card-body">
    <app-image-cropper
      *ngIf="editActive"
      [preloadImage]="column?.imageSource"
      (imageChange)="imageChanged($event)"
      (quit)="exitImageEdit()"
      (save)="imagedSaved($event)">
    </app-image-cropper>
    <h4 class="card-title">
      <a class="rams-text-decoration-pink" [href]="column.href"
         target="_self">{{column.title}}</a>
    </h4>
    <div *ngIf="siteEditService.active()" class="card-title">
      <div class="form-group">
        <label class="form-label"
               [for]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'title')">Title</label>
        <input [(ngModel)]="column.title"
               [id]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'title')"
               class="form-control input-sm" placeholder="Enter slide title"
               type="text">
      </div>
      <div class="form-group">
        <label class="form-label"
               [for]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'href')">Link</label>
        <input [(ngModel)]="column.href"
               [typeahead]="siteLinks"
               [id]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'href')"
               class="form-control input-sm" placeholder="Enter href value">
      </div>
      <div class="form-group">
        <div class="custom-control custom-radio custom-control-inline">
          <input [id]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'use-image')"
                 type="radio"
                 class="custom-control-input"
                 [name]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'image-type')"
                 [ngModel]="imageType"
                 (change)="changeImageType('image')"
                 value="image"/>
          <label class="custom-control-label"
                 [for]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'use-image')">Use Image</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input [id]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'use-icon')"
                 type="radio"
                 [name]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'image-type')"
                 class="custom-control-input"
                 [ngModel]="imageType"
                 (change)="changeImageType('icon')"
                 value="icon"/>
          <label class="custom-control-label" [for]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'use-icon')">Use
            Icon</label>
        </div>
      </div>
      <div *ngIf="imageType==='icon'" class="form-group">
        <label class="form-label"
               [for]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'icon')">Icon</label>
        <input [(ngModel)]="column.icon"
               [typeahead]="iconService.iconKeys"
               [id]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'icon')"
               class="form-control input-sm" placeholder="Enter icon value">
      </div>
      <div *ngIf="imageType==='image'" class="form-group">
        <label class="form-label"
               [for]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'imageSource')">Image Source</label>
        <input [(ngModel)]="column.imageSource"
               [id]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'imageSource')"
               class="form-control input-sm" placeholder="Enter image source value"
               type="text">
      </div>
      <div class="form-group">
        <label [for]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'access-level')">Access</label>
        <select [(ngModel)]="column.accessLevel" [id]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'access-level')"
                class="form-control input-sm">
          <option *ngFor="let accessLevel of memberResourcesReferenceData.accessLevels()"
                  [textContent]="accessLevel.description"
                  [ngValue]="accessLevel.id">
        </select>
      </div>
    </div>
    <app-markdown-editor class="card-text"
                         (saved)="actions.saveContentTextId($event, rowIndex, column, pageContent)"
                         [actionCaptionSuffix]="'text'"
                         [clearEnabled]="true"
                         [editNameEnabled]="editNameEnabled"
                         [category]="contentPath"
                         [description]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, relativePath)"
                         [id]="column?.contentTextId"
                         [name]="actions.rowColFor(rowIndex, columnIndex)">

      <div *ngIf="!editActive"
           (click)="editImage()"
           delay=500 tooltip="edit image" class="badge-button">
        <fa-icon [icon]="faPencil"></fa-icon>
        <span>edit image</span>
      </div>
      <app-actions-dropdown [columnIndex]="column"
                            [pageContent]="pageContent"
                            [row]="row">
      </app-actions-dropdown>
    </app-markdown-editor>
  </div>
</div>
