<div class="login-panel">
  <div class="vertical-center">
    <ul>
      <li class="pull-right">
        <a class="active pointer" (click)="loginOrLogout()"
           [textContent]="memberLoginStatus()"
           title="{{memberLoginStatus()}}"></a>
        <span *ngIf="!memberLoggedIn()"> • <a
          class="active" [routerLink]="forgotPasswordUrl()"
          href="">Forgot Password</a></span>
      </li>
    </ul>
    <app-site-edit class="row" *ngIf="allowEdits()"></app-site-edit>
  </div>
</div>
