.login-panel
  display: flex
  flex-direction: column
  justify-content: center
  height: 90px
  float: right

ul
  float: right
  list-style: none
  font-size: 14px
  padding: 8px 0 8px 30px
  margin: 0

  li
    list-style: none
    float: left
    padding: 6px 6px 2px 32px

    &.last
      border: none
    background: url("../assets/images/ramblers/icon-members.png") no-repeat left top

    a
      color: #fff
      font-weight: bold

      &:hover
        color: #A8B400

.vertical-center
  display: flex
  justify-content: center
  flex-direction: column


.pointer
  color: #fff
  font-weight: bold
  cursor: pointer
  &:hover
    color: #A8B400
