@import "../assets/styles/colours"

.header-caption
  float: left
  margin-left: 35px
  padding-top: 33px

  em
    font-family: 'BitterBold', sans-serif
    font-size: 22px
    color: $ramblers-colour-cloudy
    font-style: normal

    span
      color: $ramblers-colour-mintcake
