<div [ngClass]="{'busy': notifyTarget.busy}" id="forgot-password-dialog" tabindex="-1" role="dialog"
     data-backdrop="false" aria-labelledby="modal-label">
  <div class="modal-header">
    <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">I've forgotten my <em>EKWG</em> password!</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col col-sm-12">
        <p>If you are unable to login due to a forgotten or expired password, we can send you an
          email containing a secure link that will allow you to reset your
          existing password yourself, and then choose another one.</p>
        <p>In order to do this, please enter the following information so that we can identify you
          as one of our members:</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-12">
        <div class="form-group">
          <label for="credential-one">{{credentialOneLabel}}</label>
          <input [disabled]="notifyTarget.busy" [(ngModel)]="credentialOne"
                 type="text"
                 class="form-control input-sm" id="credential-one"
                 placeholder="Enter the username that was given to you in your original EWKG welcome email or email address">
        </div>
        <div class="form-group">
          <label for="credential-two">{{credentialTwoLabel}}</label>
          <input [disabled]="notifyTarget.busy" [(ngModel)]="credentialTwo"
                 type="text"
                 class="form-control input-sm" id="credential-two"
                 placeholder="Enter your Ramblers membership number or home postcode">
        </div>
        <div *ngIf="notifyTarget.showAlert" class="row mb-12">
          <div class="col col-sm-12">
            <div class="alert {{notifyTarget.alertClass}}"><i
              class="glyphicon {{notifyTarget.alert.icon}}"> </i><strong *ngIf="notifyTarget.alertTitle">
              {{notifyTarget.alertTitle}}: </strong> {{notifyTarget.alertMessage}}
              <span *ngIf="notifyTarget.showContactUs"> contact our <app-contact-us class="alert-link" role="membership"
                                                                                    text="Membership Administrator"></app-contact-us>.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <form class="row col-sm-12">
      <input *ngIf="submittable()" [disabled]="notifyTarget.busy || !submittable()" type="submit"
             value="Submit"
             (click)="submit()" title="Submit"
             [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
      <input type="reset" [disabled]="notifyTarget.busy" value="Close"
             (click)="close()"
             title="Close forgotten password request"
             [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
    </form>
  </div>
</div>
