<accordion-group [isOpen]="open" (isOpenChange)="toggle($event)" class="accordion-group">
  <div accordion-heading class="accordion-title">
    <img src="assets/images/ramblers/icon-gowalking.png" class="accordion-image"
         alt="{{groupTitle}}" accordion-group>{{groupTitle}}
    <div accordion-heading class="pull-right darkred">
      <i [ngClass]="open? 'pull-right fa fa-lg fa-minus-circle accordion-state-image':'pull-right fa fa-lg fa-plus-circle accordion-state-image'"></i>
    </div>
  </div>
  <ng-content></ng-content>
</accordion-group>
