<div class="row mb-n3">
  <div class="mb-3 col-md-6">
    <div class="card shadow clickable h-100">
      <div class="card-body"><h4>Resize</h4>
        <div class="card-text">
          <div *ngIf="showAlertMessage()" class="row">
            <div class="col-md-12 mb-10">
              <div class="alert {{notifyTarget.alert.class}}">
                <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
                <strong *ngIf="notifyTarget.alertTitle">
                  {{notifyTarget.alertTitle}}: </strong> {{notifyTarget.alertMessage}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="submit" [disabled]="notifyTarget.busy"
                     value="Choose File"
                     (click)="browseToFile(fileElement)"
                     [ngClass]="{'disabled-button-form': notifyTarget.busy}">
              <input #fileElement class="d-none" type="file" ng2FileSelect (onFileSelected)="onFileSelect($event)"
                     [uploader]="uploader">
            </div>
            <div class="col">
              <div ng2FileDrop [ngClass]="{'file-over': hasFileOver}"
                   (fileOver)="fileOver($event)"
                   (onFileDrop)="fileDropped($event)"
                   [uploader]="uploader"
                   class="drop-zone flex-grow-1">Or drop file here
              </div>
            </div>
            <div class="w-100"></div>

            <div class="col">
              <button (click)="rotateLeft()">Rotate left</button>
            </div>
            <div class="col">
              <button (click)="rotateRight()">Rotate right</button>
            </div>
            <div class="w-100"></div>

            <div class="col">
              <button (click)="flipHorizontal()">Flip horizontal</button>
            </div>
            <div class="col">
              <button (click)="flipVertical()">Flip vertical</button>
            </div>
            <div class="w-100"></div>

            <div class="col">
              <button
                (click)="toggleContainWithinAspectRatio()">{{containWithinAspectRatio ? 'Fill Aspect Ratio' : 'Contain Within Aspect Ratio'}}</button>
            </div>
            <div class="col">
              <button (click)="resetImage()">Reset image</button>
            </div>
            <div class="w-100"></div>

            <div class="col">
              <button (click)="zoomOut()">Zoom -</button>
            </div>
            <div class="col">
              <button (click)="zoomIn()">Zoom +</button>
            </div>
            <div class="w-100 mb-2"></div>

            <div class="col">
              <label for="resizeToWidth">Resize to width:</label>
            </div>
            <div class="col">
              <input id="resizeToWidth" [(ngModel)]="resizeToWidth"
                     (ngModelChange)="resizeToWidthChanged($event)"
                     placeholder="Resize to width" type="number"
                     class="form-control input-sm flex-grow-1"/>
            </div>

            <div class="col">
              <label for="rotation">Rotation:</label>
            </div>
            <div class="col">
              <input id="rotation" [(ngModel)]="rotation" placeholder="Rotation" type="number"
                     (keyup)="updateRotation()"
                     class="form-control input-sm flex-grow-1"/>
            </div>
            <div class="w-100"></div>

            <div class="col">
              <div>Original Size: {{originalSize}}</div>
            </div>
            <div class="col">
              <div>Cropped Size: {{croppedSize}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3 col-md-6">
    <div class="card shadow h-100">
      <div class="card-body"><h4>Image</h4>
        <div>
          <image-cropper
            [allowMoveImage]="true"
            [imageFile]="imageFile"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="false"
            [containWithinAspectRatio]="containWithinAspectRatio"
            [aspectRatio]="4 / 3"
            [onlyScaleDown]="false"
            [roundCropper]="false"
            [canvasRotation]="canvasRotation"
            [transform]="transform"
            [resizeToWidth]="resizeToWidth"
            (resize)="resized($event)"
            [alignImage]="'left'"
            [style.display]="showCropper ? null : 'none'"
            [format]="format"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded($event)"
            (cropperReady)="cropperReady($event)"
            (loadImageFailed)="loadImageFailed()">
          </image-cropper>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3 col-md-6 d-none">
    <div class="card shadow clickable h-100">
      <div class="card-body"><h4
        class="card-title"><a
        href="https://www.ramblers.org.uk/go-walking/find-a-walk-or-route.aspx"
        target="_blank" class="rams-text-decoration-pink external">Preview</a></h4>
      </div>
      <img [src]="croppedImage"/>
    </div>
  </div>
</div>


