<app-page [ngClass]="{'busy': notifyTarget.busy}" lastBreadcrumb="home" pageTitle="Committee">
  <div class="row">
    <div class="col-sm-8">
      <div *ngIf="showAlertMessage()" class="row">
        <div class="col-sm-12 mb-10">
          <div class="alert {{notifyTarget.alertClass}}"><i
            class="glyphicon {{notifyTarget.alert.icon}}"> </i><strong *ngIf="notifyTarget.alertTitle">
            {{notifyTarget.alertTitle}}: </strong> {{notifyTarget.alertMessage}}
          </div>
        </div>
      </div>
      <accordion [isAnimated]="true" class="accordion-style" [closeOthers]="false">
        <app-committee-general [confirm]="confirm"></app-committee-general>
        <app-committee-history [confirm]="confirm"></app-committee-history>
      </accordion>
    </div>
    <div class="col-sm-4 auto-fit-column">
      <app-committee-right-column></app-committee-right-column>
    </div>
  </div>
</app-page>
