<app-page>
  <div class="container">
    <h1>Contact Us</h1>
    <div class="body-content">
      <app-contact-us format="list" heading="EKWG Committee">
        <input type="submit" value="Edit Committee"
               title="Edit Committee" class="button-form green-confirm button-contact-us">
      </app-contact-us>
    </div>

    <h1>Other Links</h1>

    <div class="body-content">
      <h2>Ramblers</h2>
      <ul class="list-arrows">
        <li>
          Please take time to browse the Ramblers' website at <a href="http://www.ramblers.org.uk/">
          www.ramblers.org.uk</a>.
        </li>
        <li>You may also be interested in other local groups by using <a
          href="http://www.ramblers.org.uk/groupfinder">Find a group</a>.
        </li>

      </ul>
    </div>


    <h2>Partners</h2>
    <div>
      <ul class="list-arrows">
        <li>Do remember that as a member of the Ramblers you qualify for
          discretionary discount at the following retailers:
        </li>
      </ul>
    </div>
    <div class="partner-pics">
      <ul>
        <li><a href="http://www.cotswoldoutdoor.com" target="_blank" title="Cotswold Outdoor">
          <img class="round" src="/assets/images/ramblers/logo-cotswold-outdoor.jpg" alt="Cotswold Outdoor"
               width="120"></a>
        </li>
        <li class=""><a href="http://www.millets.co.uk" target="_blank" title="Millets">
          <img class="round" src="/assets/images/ramblers/logo-millets.png" alt="Millets"></a></li>
        <li><a href="http://www.blacks.co.uk" target="_blank" title="Blacks">
          <img class="round" src="/assets/images/ramblers/logo-blacks.png" alt="Blacks"></a></li>
        <li><a
          href="https://www.ramblers.org.uk/news/news/2014/march/walking-holiday-offers-from-hf-holidays.aspx"
          target="_blank"><img class="round" src="/assets/images/ramblers/logo-hf-holidays.jpg"
                               alt="HF Holidays"
                               title="HF Holidays"></a></li>
      </ul>
    </div>
  </div>
</app-page>
