<app-page lastBreadcrumb="walks" pageTitle="Information">
      <div class="body-content">
        <div class="row">
          <div class="col-sm-12">
            <app-markdown-editor class="event-description" name="walksInformation"
                                 description="walks information"></app-markdown-editor>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <app-markdown-editor name="walksInformationSummary"
                                 description="walks summary"></app-markdown-editor>
          </div>
          <div class="col-sm-3">
            <app-markdown-editor name="walksInformationThumbnail"
                                 description="walks thumbnail"></app-markdown-editor>
          </div>
        </div>
      </div>
</app-page>
