<div>
  <p [textContent]="notification?.addresseeType"></p>
  <p markdown [data]="notification.editable.text"></p>
  <div *ngIf="notification?.includeDownloadInformation">
    <p>
      <b>File type:</b>
      <span [textContent]="committeeFile.fileType"></span>
      <br>
      <b>Description:</b>
      <span [textContent]="display.fileTitle(committeeFile)"></span>
    </p>
    <p>If you want to download this attachment you can click <a [href]="display.fileUrl(committeeFile)">here</a>,
      alternatively
      you can   view or download it from our EKWG
      <a href="committee">Committee page</a>.
    </p>
  </div>
  <div *ngIf="notification?.groupEvents()?.length>0" class="row">
    <h4><strong style="font-size:14px">Up and coming events</strong></h4>
    <div class="col col-sm-12">
      <div>
        <span *ngFor="let event of notification.groupEvents()">
          <p style="font-size: 14px;font-weight: bold">
            <span
              [textContent]="event.eventDate | displayDate"></span>
            <span *ngIf="event.eventTime"> •
              <span [textContent]="event.eventTime"></span>
            </span>
            •
            <span [textContent]="event.eventType"></span>
            •
            <notification-url area="{{event.area}}"
                              type="{{event.type}}"
                              id="{{event.id}}"
                              text="{{event.title}}"
                              target="_blank"></notification-url>
            <span *ngIf="event.distance"> •
              <span [textContent]="event.distance"></span>
            </span>
          </p>
          <div style="font-size: 14px;font-weight: bold">
            <span *ngIf="userEdits.groupEvents.includeContact && event.contactName">Contact: <a
              [href]="'mailto:' + event.contactEmail">
              <span [textContent]="event.contactName || event.contactEmail"></span>
            </a>
              <span *ngIf="event.contactPhone"> ({{event.contactPhone}})</span>
            </span>
            <span *ngIf="userEdits.groupEvents.includeLocation && event.postcode"> • Location: <a
              [href]="'http://maps.google.co.uk/maps?q=' + event.postcode"
              target="_blank">
              <span
                [textContent]="event.postcode"></span>
            </a></span>
          </div>
          <p markdown [data]="event.description" style="padding: 0px 0px 0px 0px"
             *ngIf="userEdits.groupEvents.includeDescription"></p>
        </span>
      </div>
    </div>
  </div>
  <p *ngIf="notification?.includeSignoffText" [textContent]="notification?.signoffText()"></p>
  <app-contact-us *ngIf="notification?.signoffAs.value" format="list"
                  [role]="notification?.signoffAs.value"></app-contact-us>
</div>
