<div bsModal class="modal-lg" [ngClass]="{'busy': notifyTarget.busy}">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">{{editMode}} <em>Expense Item</em></h4>
    </div>
    <div class="modal-body">
      <div class="thumbnail">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="expense-date">Expense Date</label>
              <div class="input-group">
                <input [ngModel]="expenseDate"
                       (ngModelChange)="onExpenseDateChange($event)"
                       [disabled]="!editable"
                       placeholder="enter date"
                       #dp="bsDatepicker"
                       bsDatepicker [bsConfig]="{  isAnimated: true, dateInputFormat: 'ddd DD-MMM-YYYY',
                               containerClass: 'theme-ramblers'}"
                       type="text" class="form-control input-sm"
                       id="expense-date"/>
                <div class="input-group-btn">
                  <button class="btn btn-default btn-sm"
                          [disabled]="!editable"
                          (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen"><i
                    class="glyphicon glyphicon-calendar"></i></button>
                </div>
              </div>

            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="expenseType">Expense Type</label>
              <select [compareWith]="expenseTypeComparer" [(ngModel)]="expenseItem.expenseType"
                      (ngModelChange)="expenseTypeChange($event)" id="expenseType"
                      class="form-control input-sm"
                      [disabled]="!editable">
                <option *ngFor="let expenseType of display.expenseTypes trackBy expenseTypeTracker"
                        [ngValue]="expenseType"
                        [textContent]="expenseType.name">
                </option>
              </select>
            </div>
          </div>
        </div>
        <div *ngIf="expenseItem.expenseType.travel">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="from">From</label>
                <input [disabled]="!editable" [(ngModel)]="expenseItem.travel.from" type="text"
                       (ngModelChange)="setExpenseItemFields()" class="form-control input-sm" id="from"
                       placeholder="Enter from location here">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="to">To</label>
                <input [disabled]="!editable" [(ngModel)]="expenseItem.travel.to" type="text"
                       (ngModelChange)="setExpenseItemFields()" class="form-control input-sm" id="to"
                       placeholder="Enter to location here">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <br>

              <div class="form-group checkbox-group">
                <label [ngClass]="{'ui-state-active': expenseItem.travel.returnJourney}" for="is-return">Return
                  Journey </label>
                <input [disabled]="!editable" [(ngModel)]="expenseItem.travel.returnJourney"
                       (ngModelChange)="setExpenseItemFields()" type="checkbox" id="is-return">
              </div>
            </div>

            <div class="col-sm-6">

              <label for="miles">Distance</label>

              <div class="input-group">
                <input [disabled]="!editable" [(ngModel)]="expenseItem.travel.miles" type="text"
                       (ngModelChange)="setExpenseItemFields()"
                       class="form-control input-sm" id="miles"
                       placeholder="Enter miles here">
                <span class="input-group-addon">miles</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <div class="form-group">
              <label for="description">Expense Description</label>
              <input *ngIf="!expenseItem.expenseType.travel"
                     [disabled]="!editable || expenseItem.expenseType.travel"
                     (ngModelChange)="setExpenseItemFields()" [(ngModel)]="expenseItem.description"
                     type="text" class="form-control input-sm" id="description"
                     placeholder="Enter expense description here">
            </div>
            <div class="form-group">
              <a *ngIf="expenseItem.expenseType.travel" target="_blank" id="map-url"
                 [href]="'https://www.google.co.uk/maps/dir/' + expenseItem.travel.from + '/' + expenseItem.travel.to"
                 [textContent]="'Show ' + expenseItem.description + ' on google maps'"></a>
            </div>
          </div>

          <div class="col-sm-3">
            <label for="cost">Cost</label>

            <div class="input-group">
              <span class="input-group-addon">£</span>
              <input [disabled]="!editable || expenseItem.expenseType.travel"
                     placeholder="Enter cost here" [(ngModel)]="expenseItem.cost" id="cost"
                     type="text" class="form-control input-sm"
                     aria-label="Amount">
            </div>
          </div>
        </div>

        <div *ngIf="!expenseItem.expenseType.travel">
          <input type="submit" [disabled]="notifyTarget.busy"
                 value="Browse for receipt"
                 (click)="browseToReceipt()"
                 class="button-form mb-10 w-100"
                 [ngClass]="{'disabled-button-form': notifyTarget.busy }">
          <input *ngIf="expenseItem.receipt" [disabled]="notifyTarget.busy" type="submit"
                 value="Remove receipt" (click)="removeReceipt()" title="Remove Receipt"
                 [ngClass]="notifyTarget.busy ? 'disabled-button-form': 'button-form'">
          <span class="hidden-input">
            <input id="browse-to-file" name="receipt"
                   type="file" value="Upload"
                   ng2FileSelect (onFileSelected)="onFileSelect($event)" [uploader]="uploader"></span>
          <div ng2FileDrop [ngClass]="{'file-over': hasFileOver}"
               (fileOver)="fileOver($event)"
               (onFileDrop)="fileDropped($event)"
               [uploader]="uploader"
               class="well drop-zone">
            Or drop file here
          </div>
          <div class="progress" *ngIf="notifyTarget.busy">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
              uploading {{uploader.progress}}%
            </div>
          </div>
          <div *ngIf="uploadedFile || expenseItem.receipt" class="form-group">
            <label for="receipt">Description for attached receipt: </label>
            <a target="_blank" id="receipt" [href]="display.receiptUrl(expenseItem)"
               [textContent]="display.receiptTitle(expenseItem)"></a>
            <input *ngIf="display.allowAddExpenseItem(expenseClaim)" [(ngModel)]="expenseItem.receipt.title"
                   type="text"
                   class="form-control input-sm" id="receiptTitle"
                   placeholder="Enter a title for this receipt">
          </div>
          <div *ngIf="display.allowAddExpenseItem(expenseClaim)" class="form-group">
            <span class="hidden-input">
              <input id="hidden-input" type="file" value="Replace"
                     (select)="onFileSelect($event)" title="Replace this image">
            </span>
          </div>
        </div>
      </div>
      <div class="row mb-12">
        <div class="col-sm-12">
          <div *ngIf="notifyTarget.showAlert">
            <div class="alert {{notifyTarget.alertClass}}">
              <i class="glyphicon {{notifyTarget.alert.icon}}"> </i> <strong
              *ngIf="notifyTarget.alertTitle">{{notifyTarget.alertTitle}}: </strong> {{notifyTarget.alertMessage}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input *ngIf="display.allowEditExpenseItem(expenseClaim) || display.allowAddExpenseItem(expenseClaim)"
             [disabled]="notifyTarget.busy"
             type="submit" value="Save Expense Item" (click)="saveExpenseClaim()"
             title="Save expense item"
             [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
      <input *ngIf="confirm.noneOutstanding() && display.allowDeleteExpenseItem(expenseClaim)"
             [disabled]="notifyTarget.busy" type="submit"
             value="Delete Expense Item" (click)="confirm.toggleDelete()" title="Delete expense Item"
             [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
      <input *ngIf="confirm.deleteConfirmOutstanding() && display.allowDeleteExpenseItem(expenseClaim)"
             [disabled]="notifyTarget.busy"
             type="submit" value="Confirm Delete of Expense Item"
             (click)="display.saveExpenseItem(editMode, confirm, notify, expenseClaim, expenseItem, expenseItemIndex)"
             title="Confirm delete of this expense item"
             [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-left': 'button-form button-confirm'">
      <input type="submit" value="Cancel Change" (click)="cancelExpenseChange()"
             [disabled]="notifyTarget.busy" title="Cancel Expense Claim changes and close this dialog"
             [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
    </div>
  </div>
</div>

