<div [ngClass]="{'busy': busy}">
    <div class="modal" id="return-dialog" tabindex="-1" role="dialog" data-backdrop="true" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Return <em>Expense Claim</em></h4>
                </div>
                <div class="modal-body">
                    <div class="thumbnail">
                        <div class="green-bullets-no-rule">
                            <ul>You are about to return the Expense Claim for <strong [textContent]="expenseClaimCreatedEvent().memberId | memberIdToFullName : members"></strong>
                                <li>Please enter a reason for the return below.</li>
                                <li>An email will then be sent to them informing them of this reason.</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="return-reason">Return Reason</label>

                                    <textarea [(ngModel)]="returnReason" type="text" class="form-control input-sm" rows="3"
                                              id="return-reason"
                                              placeholder="Enter return reason here"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Confirm Return" [disabled]="selected.saveInProgress" (click)="confirmReturnExpenseClaim(returnReason)" title="Confirm return of this Expense Claim" [ngClass]="selected.saveInProgress ? 'disabled-button-form button-form-left': 'button-form amber-confirm button-form-left'">
                    <input type="submit" value="Cancel Return" [disabled]="selected.saveInProgress" (click)="cancelReturnExpenseClaim()" title="Don't return this Expense Claim, just close this form" [ngClass]="selected.saveInProgress ? 'disabled-button-form button-form-left': 'button-form green-confirm button-form-left'">
                </div>
            </div>
        </div>
    </div>
</div>