<div class="carousel-wrapper">
  <div class="slider-container">
    <div class="sc-inner">
      <carousel (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)" [isAnimated]="true"
                [interval]="slideDisplayInterval" [showIndicators]="false"
                (activeSlideChange)="activeSlideChange($event)">
        <slide *ngFor="let slide of loadedSlides; let index = index; trackBy: slideTracker" active="slide.active">
          <img [src]="slide.image" [alt]="slide.text" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h4>{{slide.text}}</h4>
            <small *ngIf="slide.eventId">taken on <a
              href="walk url">date of walk</a></small>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="no-header-padding" role="main">
    <div class="row">
      <div class="col-sm-12">
        <a *ngIf="allowEdits()" href="image-editor/imagesHome" title="Edit images"
           class="button-form button-form-right round">Edit images</a>
        <app-markdown-editor class="green-bullets-no-rule" name="welcome"></app-markdown-editor>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 thumbnail social-media-thumbnail round">
        <div class="cta-button cta-facebook-blue round">
          <a href="https://www.facebook.com/pages/East-Kent-Walking-Group/172849389464649"
             title="Visit Our Facebook Page"> Facebook</a>
        </div>

        <div class="body-content">
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Feastkentwalking%2F&tabs=timeline&width=460&height=586&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=643977439755625"
            width="460" height="586" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
      <div class="col-sm-6 thumbnail social-media-thumbnail round">
        <div class="cta-button cta-instagram round">
          <div class="row">
            <div class="col-sm-6">
              <a href="https://www.instagram.com/eastkentwalking/">
                <img style="height: 27px; margin-left: 5px;"
                     src="assets/images/local/instagram.png"></a>
            </div>
            <div class="col-sm-6">
              <a style="color: #333" href="https://www.instagram.com/eastkentwalking/">eastkentwalking</a>
            </div>
          </div>
        </div>
        <div class="instagram-pics">
          <ul>
            <li *ngFor="let media of feeds.instagram.recentMedia">
              <a [href]="media.permalink" target="_blank">
                <img [src]="media?.media_url" [alt]="media?.caption"
                     [title]="media?.caption"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-footer">
</div>
