<div ng-controller="WalkNotificationsController" style="font-size:12px">
    <p>Thanks again for offering to lead the walk on <strong ng-bind="walk.walkDate | displayDate" class="nowrap"></strong>!</p>
    <p>This email is a notification that at <strong ng-bind="event.date | displayDateAndTime" class="nowrap"></strong>,
        <strong ng-bind="event.memberId | memberIdToFullName : members"></strong>
        made the following changes to your walk:
    </p>
    <ng-include src="'ekwg-legacy/partials/walks/notifications/common/walk-changes-table.html'"></ng-include>
    <p ng-if="validateWalk.walkValidations.length > 0"><strong>Note:</strong> Before I can publish your walk on our walks programme, I need more information from you as
        <span ng-bind="validateWalk.walkValidations | asWalkValidationsList"></span>.</p>
    <p ng-if="event.reason" ng-bind="event.reason"></p>
    <ng-include src="'ekwg-legacy/partials/walks/notifications/common/footer.html'"></ng-include>
</div>
