<div ng-controller="WalkNotificationsController" style="font-size:12px">
    <p>This email is to notify you that at <strong ng-bind="event.date | displayDateAndTime" class="nowrap"></strong>,
        <strong ng-bind="event.memberId | memberIdToFullName : members"></strong>
        updated the walk on <strong ng-bind="walk.walkDate | displayDate" class="nowrap"></strong>
        to <strong ng-bind="event.eventType | asWalkEventType: 'description'"></strong>.
    </p>
    <div ng-if="dataAuditDelta.dataChanged">
        <p>Here are the details that have been completed so far:</p>
        <ng-include src="'ekwg-legacy/partials/walks/notifications/common/walk-changes-table.html'"></ng-include>
    </div>
    <p ng-if="validateWalk.walkValidations.length > 0"><strong>Note:</strong> The Walk can't be approved yet because <span ng-bind="validateWalk.walkValidations | asWalkValidationsList"></span>.</p>
    <ng-include src="'ekwg-legacy/partials/walks/notifications/common/footer.html'"></ng-include>
</div>
