<ul class="list-group list-group-horizontal text-left">
  <li>
    <a class="login-text" ramblers-list (click)="loginOrLogout()">
      <img *ngIf="memberLoggedIn()" class="home-logo"
           src="/images/ramblers/icons/ramblers_icon_11_home_rgb.png"
           [alt]="memberLoginStatus()">
      <img *ngIf="!memberLoggedIn()" class="home-logo"
           src="/images/ramblers/icons/ramblers_icon_2_arrow_forward_rgb.png"
           [alt]="memberLoginStatus()">
      {{memberLoginStatus()}}
    </a></li>
  <li *ngIf="!memberLoggedIn()"><a class="login-text">
    <img *ngIf="!memberLoggedIn()" class="home-logo" src="/images/ramblers/icons/ramblers_icon_25_rain_rgb.png"
         alt="Forgot Password"><span
    class="pointer" (click)="forgotPassword()">Forgot Password</span>
  </a></li>
  <li>
    <app-site-edit class="form-inline" *ngIf="allowEdits()"></app-site-edit>
  </li>
</ul>

