/* You can add global styles to this file, and also import other style files */
//@import "~@ng-select/ng-select/themes/default.theme.css"
@import "app/assets/styles/ramblers.select.theme.sass"
@import "app/assets/styles/carousel.sass"

.drop-zone
  border: dotted 3px lightgray
  margin-bottom: 15px
  margin-top: 9px

.file-over
  border: dotted 3px green
  min-height: 100px

.hidden-input
  display: block
  visibility: hidden
  width: 0
  height: 0
