<app-page>
  <div class="row">
    <div class="col-sm-12">
      <tabset class="custom-tabset" *ngIf="config">
        <tab heading="Group Details">
          <div class="img-thumbnail thumbnail-admin-edit">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Web Url</label>
                  <input [(ngModel)]="config.system.group.href"
                         type="text" value="" class="form-control input-sm"
                         placeholder="Enter a link">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Long Name</label>
                  <input [(ngModel)]="config.system.group.longName"
                         type="text" value="" class="form-control input-sm"
                         placeholder="Enter a title for group short name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Short Name</label>
                  <input [(ngModel)]="config.system.group.shortName"
                         type="text" value="" class="form-control input-sm"
                         placeholder="Enter a title for group short name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Ramblers Group Code</label>
                  <input [(ngModel)]="config.system.group.groupCode"
                         type="text" value="" class="form-control input-sm"
                         placeholder="Enter the Ramblers group code">
                </div>
              </div>
            </div>
            <div class="row img-thumbnail thumbnail-2">
              <div class="thumbnail-heading">Pages on Site ({{config.system.group.pages.length}})</div>
              <div class="col-sm-12">
                <app-links-edit [links]="config.system.group.pages"></app-links-edit>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Logos">
          <div class="img-thumbnail thumbnail-admin-edit">
            <div class="row img-thumbnail thumbnail-2">
              <div class="thumbnail-heading">Logos ({{config.system?.logos?.images?.length || 0}})</div>
              <div class="col-sm-12">
                <div class="badge-button mb-2" (click)="createNewLogo()"
                     delay=500 tooltip="Add new link">
                  <fa-icon [icon]="faAdd"></fa-icon>
                  <span>add logo</span>
                </div>
              </div>
              <div class="col-sm-12" *ngFor="let image of config.system?.logos?.images">
                <app-system-logo-edit [rootFolder]="config.system.logos.rootFolder"
                                      [headerLogoDefault]="headerLogoDefault(image)"
                                      [images]="config.system?.logos?.images"
                                      [image]="image"
                (headerLogoChanged)="headerLogoChanged($event)"></app-system-logo-edit>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Website Header">
          <div class="img-thumbnail thumbnail-admin-edit">
            <div class="row img-thumbnail thumbnail-2">
              <div class="thumbnail-heading">Header Buttons ({{config.system.header.navigationButtons.length}})</div>
              <div class="col-sm-12">
                <app-links-edit [links]="config.system.header.navigationButtons"></app-links-edit>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Website Footer">
          <div class="img-thumbnail thumbnail-admin-edit">
            <div class="row img-thumbnail thumbnail-2">
              <div class="thumbnail-heading">Column 1: External Urls</div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="facebook-group-url">Facebook Group Url</label>
                  <input [(ngModel)]="config.system.externalUrls.facebook.groupUrl"
                         type="text" value="" class="form-control input-sm" id="facebook-group-url"
                         placeholder="Enter a group url for Facebook">
                </div>
                <div class="form-group">
                  <label for="facebook-pages-url">Facebook Pages Url (optional)</label>
                  <input [(ngModel)]="config.system.externalUrls.facebook.pagesUrl"
                         type="text" value="" class="form-control input-sm" id="facebook-pages-url"
                         placeholder="Enter a pages url for Facebook">
                </div>
                <div class="form-group">
                  <label for="facebook-appId">Facebook App Id</label>
                  <input [(ngModel)]="config.system.externalUrls.facebook.appId"
                         type="text" value="" class="form-control input-sm" id="facebook-appId"
                         placeholder="Enter an app id for Facebook">
                </div>
                <div class="custom-control custom-checkbox">
                  <input [(ngModel)]="config.system.externalUrls.facebook.showFeed"
                         type="checkbox" class="custom-control-input" id="facebook-show-feed">
                  <label class="custom-control-label"
                         for="facebook-show-feed">Show Facebook Feed
                  </label>
                </div>
                <div class="form-group">
                  <label for="meetup-href">Meetup</label>
                  <input [(ngModel)]="config.system.externalUrls.meetup"
                         type="text" value="" class="form-control input-sm" id="meetup-href"
                         placeholder="Enter a group url for Meetup">
                </div>
                <div class="form-group">
                  <label for="youtube-href">Youtube</label>
                  <input [(ngModel)]="config.system.externalUrls.youtube"
                         type="text" value="" class="form-control input-sm" id="youtube-href"
                         placeholder="Enter a group url for Youtube">
                </div>
                <div class="form-group">
                  <label for="twitter-href">Twitter</label>
                  <input [(ngModel)]="config.system.externalUrls.twitter"
                         type="text" value="" class="form-control input-sm" id="twitter-href"
                         placeholder="Enter a group url for Twitter">
                </div>
                <div class="form-group">
                  <label for="instagram-href">Instagram</label>
                  <input [(ngModel)]="config.system.externalUrls.instagram.groupUrl"
                         type="text" value="" class="form-control input-sm" id="instagram-href"
                         placeholder="Enter a group url for Instagram">
                </div>
                <div class="custom-control custom-checkbox">
                  <input [(ngModel)]="config.system.externalUrls.instagram.showFeed"
                         type="checkbox" class="custom-control-input" id="instagram-show-feed">
                  <label class="custom-control-label"
                         for="instagram-show-feed">Show Instagram Feed
                  </label>
                </div>
              </div>
            </div>
            <div class="row img-thumbnail thumbnail-2">
              <div class="thumbnail-heading">Column 2: Quick Links ({{config.system.footer.quickLinks.length}})</div>
              <div class="col-sm-12">
                <app-links-edit [links]="config.system.footer.quickLinks"></app-links-edit>
              </div>
            </div>
            <div class="row img-thumbnail thumbnail-2">
              <div class="thumbnail-heading">Column 3: Legals ({{config.system.footer.legals.length}})</div>
              <div class="col-sm-12">
                <app-links-edit [links]="config.system.footer.legals"></app-links-edit>
              </div>
            </div>
            <div class="row img-thumbnail thumbnail-2">
              <div class="thumbnail-heading">Column 4: Download Links</div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="area-long-name">Apple</label>
                  <input [(ngModel)]="config.system.footer.appDownloads.apple"
                         id="area-long-name"
                         class="form-control input-sm">
                </div>
                <div class="form-group">
                  <label for="area-short-name">Google</label>
                  <input [(ngModel)]="config.system.footer.appDownloads.google"
                         id="area-short-name"
                         class="form-control input-sm">
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
      <div *ngIf="notifyTarget.showAlert" class="row">
        <div class="col-sm-12 mb-10">
          <div class="alert {{notifyTarget.alert.class}}">
            <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
            <strong *ngIf="notifyTarget.alertTitle">
              {{notifyTarget.alertTitle}}: </strong> {{notifyTarget.alertMessage}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <input type="submit" value="Save" (click)="save()"
             title="Save notification settings"
             class="button-form button-confirm green-confirm button-form-left">
      <input type="submit" value="Cancel" (click)="cancel()"
             title="Cancel without saving"
             class="button-form button-confirm button-form-left">
    </div>
  </div>
</app-page>
