<div ng-class="{'busy': notify.busy}" class="modal" id="reset-password-dialog" tabindex="-1" role="dialog" data-backdrop="true" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Reset my <em>EKWG</em> password</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-sm-12">
                            <div class="form-group">
                                <label for="reset-password-user-name">User Name</label>
                                <input ng-disabled="true" ng-model="memberCredentials.userName" type="text" class="form-control input-sm" id="reset-password-user-name" placeholder="Enter username">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-6">
                            <div class="form-group">
                                <label for="new-reset-password">New Password</label>
                                <input ng-model="memberCredentials.newPassword" type="password" class="form-control input-sm" id="new-reset-password" placeholder="Enter new password">
                            </div>
                        </div>
                        <div class="col col-sm-6">
                            <div class="form-group">
                                <label for="new-reset-password-confirm">Confirm New Password</label>
                                <input ng-model="memberCredentials.newPasswordConfirm" type="password" class="form-control input-sm" id="new-reset-password-confirm"
                                       placeholder="Confirm new password">
                            </div>
                        </div>
                    </div>
                    <div ng-if="notify.showAlert" class="row">
                        <div class="col col-sm-12">
                            <div class="alert {{notify.alertClass}}"><i
                                class="glyphicon {{notify.alert.icon}}"> </i><strong ng-if="notify.alertTitle">
                                {{notify.alertTitle}}: </strong> {{notify.alertMessage}} <span
                                ng-if="notify.showContactUs">  contact our
                                <contact-us class="alert-link" role="membership"
                                            text="Membership Administrator"></contact-us>.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row col-sm-12">
                        <input type="submit" ng-disabled="!actions.submittable()" value="Confirm Reset" ng-click="actions.resetPassword()" title="Confirm Reset" ng-class="notify.busy ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                        <input type="reset" value="Cancel" ng-click="actions.close()" title="Cancel reset passwprd" ng-class="notify.busy ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
