  <app-accordion-group *ngIf="allowAdminEdits"
                       title="Walk Admin Tasks" initiallyOpen="false">
    <div class="row thumbnail walk-admin-thumbnail">
      <div class="col-sm-2">
        <input type="submit" value="Ramblers export"
               (click)="selectWalksForExport()"
               title="Select walks to export in Ramblers format" class="button-form yellow-confirm  mb-6">
      </div>
      <div class="col-sm-10 green-bullets-no-rule">
        <app-markdown-editor name="ramblers-export-help" description="Ramblers export help"></app-markdown-editor>
      </div>
    </div>
    <div class="row thumbnail walk-admin-thumbnail">
      <div class="col-sm-2">
        <input type="submit" value="Add more walk slots"
               (click)="addWalkSlots()"
               title="Add more available slots on the walks programme" class="button-form green-confirm  mb-6">
      </div>
      <div class="col-sm-10 green-bullets-no-rule">
        <app-markdown-editor name="add-walks-slots-help" description="Add walk slots help"></app-markdown-editor>
      </div>
    </div>
    <div class="row thumbnail walk-admin-thumbnail">
      <div class="col-sm-2">
        <input type="submit" value="Meetup settings"
               (click)="meetupSettings()"
               title="Add more available slots on the walks programme" class="button-form green-confirm  mb-6">
      </div>
      <div class="col-sm-10 green-bullets-no-rule">
        <app-markdown-editor name="add-walks-slots-help" description="Add walk slots help"></app-markdown-editor>
      </div>
    </div>
  </app-accordion-group>
