<app-accordion-group *ngIf="allowAdminEdits" groupTitle="Walk Admin Tasks" initiallyOpen="false">
  <div class="row">
    <div class="col-sm-4 item-panel">
      <div (click)="selectWalksForExport()" class="item-icon">
        <i class="fas fa-file-export fa-3x ramblers"></i>
        <h5>Ramblers export</h5>
      </div>
      <p class="green-bullets-no-rule">
        <app-markdown-editor name="ramblers-export-help" description="Ramblers export help"></app-markdown-editor>
      </p>
    </div>
    <div class="col-sm-4 item-panel">
      <div (click)="addWalkSlots()" class="item-icon">
        <i class="far fa-calendar-plus fa-3x calendar"></i>
        <h5>Add walk slots</h5>
      </div>
      <p class="green-bullets-no-rule">
        <app-markdown-editor name="add-walks-slots-help" description="Add walk slots help"></app-markdown-editor>
      </p>
    </div>
    <div class="col-sm-4 item-panel">
      <div (click)="meetupSettings()" class="item-icon">
        <i class="fab fa-meetup fa-3x meetup"></i>
        <h5>Meetup settings</h5>
      </div>
      <p class="green-bullets-no-rule">
        <app-markdown-editor name="meetup-settings-help" description="Meetup settings help"></app-markdown-editor>
      </p>
    </div>
  </div>
</app-accordion-group>
