<app-accordion-group *ngIf="display.allowSend()" groupTitle="General" initiallyOpen="true"
                     [icon]="'assets/images/ramblers/icon-members.png'">
  <div class="col-sm-12">
    <div class="row">
      <p class="general-description">This section allows you to access functions that are not
        linked to any specific committee files or events.</p>
      <input type="submit" value="Send Email"
             (click)="display.sendNotification()"
             title="Send Email" class="button-form yellow-confirm">
      <input type="submit" value="Open Mailchimp"
             (click)="openMailchimp()"
             title="Mailchimp" class="button-form blue-confirm">
      <input type="submit" value="Campaign Settings"
             (click)="openSettings()"
             title="Mailchimp" class="button-form green-confirm">
    </div>
  </div>
</app-accordion-group>
