<uib-accordion-group is-open="memberAdminOpen">
    <uib-accordion-heading>
        <div class="accordion-title" ng-click="showArea('member-admin')">
            <img src="assets/images/ramblers/icon-members.png"
                 alt="members area">
            Member Admin <i class="pull-right fa fa-lg darkred"
                            ng-class="{'fa fa-minus-circle': memberAdminOpen, 'fa fa-plus-circle': !memberAdminOpen}"></i>
        </div>
    </uib-accordion-heading>

    <uib-tabset>
        <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
            {{tab.content}}
        </uib-tab>
    </uib-tabset>
    <div class="admin-frame round">
        <div class="admin-header-background round">
            <div class="admin-header-container">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="spaced-label" for="quick-search">Quick Search:</label>
                        <input ng-click="refreshMemberAudit()" id="quick-search"
                               ng-model="filters.members.quickSearch" class="form-control input-sm round"
                               type="text" placeholder="Enter search term">
                    </div>
                    <div class="form-group">
                        <label class="spaced-label" for="filter-members">Filter:</label>
                        <select class="form-control input-sm"
                                ng-model="filters.members.filterSelection"
                                ng-options="filter.filter as filter.title for filter in filters.members.filterBy"
                                class="form-control input-sm spaced-controls" id="filter-members">
                        </select>

                    </div>
                    <div class="form-group">
                        <p class="search-results round">Showing {{filteredMembers.length}} member(s)</p>
                    </div>
                    <div ng-if="allowEdits">
                        <div class="form-group admin-header-buttons">
                            <input ng-disabled="display.saveInProgress" type="submit" value="Add New Member"
                                   ng-click="addMember()" title="Add New Member"
                                   ng-class="display.saveInProgress ? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab'">
                            <input ng-disabled="display.saveInProgress" type="submit" value="Send Emails"
                                   ng-click="showSendEmailsDialog()" title="Send Emails"
                                   ng-class="display.saveInProgress ? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab'">
                            <input ng-disabled="display.saveInProgress" type="submit" value="Update Mailchimp Lists"
                                   ng-click="updateMailchimpLists()" title="Update Mailchimp Lists"
                                   ng-class="display.saveInProgress ? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab'">
                            <div ng-if="notify.showAlert">
                                <div class="alert {{notify.alertClass}}"><i
                                    class="glyphicon {{notify.alert.icon}}"> </i><strong ng-if="notify.alertTitle">
                                    {{notify.alertTitle}}: </strong> {{notify.alertMessage}}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <table class="round tbl-green-g table-responsive table-striped table-hover table-condensed">
                <thead>
                <tr class="white-anchor">
                    <th>Action</th>
                    <th>
                        <div ng-click="sortMembersBy('firstName')">Member Name
                            <span class="sorting-header" ng-if="showMembersColumn('firstName')"
                                  ng-bind="filters.members.sortDirection"></span>
                        </div>
                    </th>
                    <th>
                        <div ng-click="sortMembersBy('mobileNumber')">Mobile Number
                            <span class="sorting-header" ng-if="showMembersColumn('mobileNumber')"
                                  ng-bind="filters.members.sortDirection"></span>
                        </div>
                    </th>
                    <th>
                        <div ng-click="sortMembersBy('createdDate')">Created Date
                            <span class="sorting-header" ng-if="showMembersColumn('createdDate')"
                                  ng-bind="filters.members.sortDirection"></span>
                        </div>
                    </th>
                    <th>
                        <div ng-click="sortMembersBy('membershipExpiryDate')">Expiry Date
                            <span class="sorting-header" ng-if="showMembersColumn('membershipExpiryDate')"
                                  ng-bind="filters.members.sortDirection"></span>
                        </div>
                    </th>
                    <th>
                        <div ng-click="sortMembersBy('receivedInLastBulkLoad')">Last Bulk Load
                            <span class="sorting-header" ng-if="showMembersColumn('receivedInLastBulkLoad')"
                                  ng-bind="filters.members.sortDirection"></span>
                        </div>
                    </th>
                    <th>
                        <div ng-click="sortMembersBy('groupMember')">Group Member
                            <span class="sorting-header" ng-if="showMembersColumn('groupMember')"
                                  ng-bind="filters.members.sortDirection"></span>
                        </div>
                    </th>
                    <th>
                        <div ng-click="sortMembersBy('socialMember')">Social Member
                            <span class="sorting-header" ng-if="showMembersColumn('socialMember')"
                                  ng-bind="filters.members.sortDirection"></span>
                        </div>
                    </th>
                    <th>
                        <div ng-click="sortMembersBy('mailchimpLists.walks.subscribed')">Walks emails
                            <span class="sorting-header" ng-if="showMembersColumn('mailchimpLists.walks.subscribed')"
                                  ng-bind="filters.members.sortDirection"></span>
                        </div>
                    </th>
                    <th>
                        <div ng-click="sortMembersBy('mailchimpLists.socialEvents.subscribed')">Social emails
                            <span class="sorting-header"
                                  ng-if="showMembersColumn('mailchimpLists.socialEvents.subscribed')"
                                  ng-bind="filters.members.sortDirection"></span>
                        </div>
                    </th>
                    <th>
                        <div ng-click="sortMembersBy('mailchimpLists.general.subscribed')">General emails
                            <span class="sorting-header"
                                  ng-if="showMembersColumn('mailchimpLists.general.subscribed')"
                                  ng-bind="filters.members.sortDirection"></span>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="member in filteredMembers = (members | filter:filters.members.quickSearch | filter:filters.members.filterSelection | orderBy : filters.members.orderByField : filters.members.reverseSort)">
                    <td>
                        <input ng-click="editMember(member)" type="submit" value="edit"
                               ng-disabled="display.saveInProgress" ng-if="allowEdits"
                               ng-class="display.saveInProgress ? 'disabled-button-form': 'button-form'">
                    </td>
                    <td><a ng-href="mailto:{{member.email}}">
                        <span tooltip-placement="right"
                              uib-tooltip="Click to email {{member | fullNameWithAlias}} at {{member.email}}">{{member | fullNameWithAlias}}</span></a>
                    </td>
                    <td>
                        <a ng-href="tel:{{member.mobileNumber}}">
                                            <span tooltip-placement="right"
                                                  uib-tooltip="Click to ring {{member | fullNameWithAlias}} on {{member.mobileNumber}} (mobile devices only)">{{member.mobileNumber}}</span></a>
                    </td>
                    <td class="nowrap">{{member.createdDate | displayDate}}</td>
                    <td class="nowrap">{{member.membershipExpiryDate | displayDate}}</td>
                    <td ng-class="member.receivedInLastBulkLoad ? 'checkbox-on' : 'checkbox-off'"></td>
                    <td ng-class="member.groupMember ? 'checkbox-on' : 'checkbox-off'"></td>
                    <td ng-class="member.socialMember ? 'checkbox-on' : 'checkbox-off'"></td>
                    <td ng-class="member.mailchimpLists.walks.subscribed ? 'checkbox-on' : 'checkbox-off'"></td>
                    <td ng-class="member.mailchimpLists.socialEvents.subscribed ? 'checkbox-on' : 'checkbox-off'"></td>
                    <td ng-class="member.mailchimpLists.general.subscribed ? 'checkbox-on' : 'checkbox-off'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</uib-accordion-group>
<ng-include ng-controller="ExpensesController" src="'partials/expenses/expenses.html'"></ng-include>
<uib-accordion-group is-open="memberBulkLoadOpen">
    <uib-accordion-heading>
        <div class="accordion-title" ng-click="showArea('member-bulk-load')">
            <img src="assets/images/ramblers/icon-members.png"
                 alt="members area">
            Member Bulk Load <i class="pull-right fa fa-lg darkred"
                                ng-class="memberBulkLoadOpen ? 'fa fa-minus-circle': 'fa fa-plus-circle'"></i></div>
    </uib-accordion-heading>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <p>EKWG member data can be loaded into the site 'in bulk' from the monthly update files that are
                    supplied by the Ramblers to Des.
                    Please note that this must be supplied in CSV format and can optionally by zipped. You can tell if
                    it's the right format as it should
                    have a filename of <b>KT50_MemberList.csv, KT50_new.zip, KT50_new.csv</b> or <b>KT50_reports_{{currentMemberBulkLoadDisplayDate()}}.zip</b>.
                </p>

                <div class="green-bullets-no-rule">
                    <ul>To load the members, follow these steps:
                        <li> Click the <b>Bulk Upload Ramblers Data</b> button below then navigate to the spreadsheet on
                            your computer and then click <b>Open</b>.
                        </li>
                        <li>The data will be loaded automatically. If the member does not match an existing member based
                            on their membership number, a new member will be created with the
                            following fields populated: membership number,
                            forename, surname, postcode, private email, telephone, expiry date.
                        </li>
                        <li>If the member does match based on the membership number, the expiry date will be updated.
                            Other fields will only be updated if they are blank.
                        </li>
                    </ul>
                </div>
                <div class="form-group" ng-if="members.length>0">
                    <span class="hidden-input"><input id="select-bulk-load-file" name="bulkUploadRamblersDataFile"
                                                      type="file" value="Replace"
                                                      ngf-select="bulkUploadRamblersDataOpenFile($file)"></span>
                </div>
                <div ng-if="false" class="form-group">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:{{uploadedFile.progress}}%;">
                            {{uploadedFile.progress}}% uploaded
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="admin-frame round">
        <div class="admin-header-background round">
            <div class="admin-header-container">
                <div ng-hide="filters.uploadSession.selected" class="row">
                    <div class="col-sm-12 text-center mt-12">
                        <h3>Retrieving Bulk Load data <i class="fa fa-spinner fa-spin"
                                                         style="font-size:24px"></i></h3>
                    </div>
                </div>
                <form ng-if="filters.uploadSession.selected" class="form-inline" role="form">
                    <div class="form-group">
                        <input ng-click="refreshMemberUpdateAudit()" ng-model="filters.members.quickSearch"
                               class="form-control input-sm round"
                               type="text" placeholder="Quick Search">
                    </div>
                    <div class="form-group">
                        <input type="submit" ng-disabled="display.saveInProgress" value="Bulk Upload Ramblers Data"
                               ng-click="bulkUploadRamblersDataStart()" title="Bulk Upload Ramblers Data"
                               ng-class="display.saveInProgress ? 'disabled-button-form': 'button-form'">
                        <input ng-if="false" type="submit" ng-disabled="display.saveInProgress"
                               value="Refresh List below"
                               ng-click="refreshMemberUpdateAudit()" title="Refresh List below"
                               ng-class="display.saveInProgress ? 'disabled-button-form': 'button-form'">
                        <input ng-if="false" type="submit" ng-disabled="display.saveInProgress"
                               value="Delete Displayed Audit"
                               ng-click="deleteMemberUpdateAudit(filteredMemberUpdateAudit)"
                               title="Delete Displayed Audit"
                               ng-class="display.saveInProgress ? 'disabled-button-form': 'button-form'">

                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="spaced-label" for="filter-members">Uploaded at:</label>
                            <select class="form-control input-sm"
                                    ng-model="filters.uploadSession.selected"
                                    ng-change="uploadSessionChanged()"
                                    ng-options="uploadSession as uploadSession.createdDate | displayDateAndTime for uploadSession in uploadSessions"
                                    class="form-control input-sm spaced-controls" id="filter-upload-sessions">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="spaced-label" for="filter-by-audit-status">Status:</label>
                        <select class="form-control input-sm"
                                ng-model="filters.memberUpdateAudit.query"
                                ng-change="uploadSessionChanged()"
                                id="filter-by-audit-status"
                                ng-options="uploadSessionStatus as uploadSessionStatus.title for uploadSessionStatus in uploadSessionStatuses"
                                class="form-control input-sm pull-right">
                        </select>
                    </div>
                    <div class="form-group admin-header-buttons">
                        <div ng-if="notify.showAlert">
                            <div class="alert {{notify.alertClass}}"><i class="glyphicon {{notify.alert.icon}}"> </i>
                                <strong ng-if="notify.alertTitle"> {{notify.alertTitle}}: </strong>
                                {{notify.alertMessage}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <uib-tabset ng-if="filters.uploadSession.selected">
                <uib-tab>
                    <uib-tab-heading
                        ng-bind="(filters.uploadSession.selected.members.length||0) + ' Members uploaded'"></uib-tab-heading>
                    <table class="round tbl-green-g table-responsive table-striped table-hover table-condensed">
                        <thead>
                        <tr class="white-anchor">
                            <th colspan="2">File upload information</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <tr ng-if="filters.uploadSession.selected.files.archive">
                            <td>Zip file:</td>
                            <td>
                                <notification-url
                                    name="{{filters.uploadSession.selected.files.archive}}"></notification-url>
                            </td>
                        </tr>
                        <tr ng-if="filters.uploadSession.selected.files.data">
                            <td>Data file:</td>
                            <td>
                                <notification-url name="{{filters.uploadSession.selected.files.data}}"
                                                  id="data-file"></notification-url>
                            </td>
                        </tr>
                        <tr>
                            <td>Uploaded by:</td>
                            <td ng-bind="filters.uploadSession.selected.createdBy | memberIdToFullName : members : '(none)'"></td>
                        </tr>
                        <tr>
                            <td>Uploaded on:</td>
                            <td ng-bind="filters.uploadSession.selected.createdDate | displayDateAndTime"></td>
                        </tr>
                        </tbody>
                    </table>

                    <table
                        class="round tbl-green-g table-responsive table-striped table-hover table-condensed">
                        <thead>
                        <tr class="white-anchor">
                            <th>Status</th>
                            <th>Message</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="audit in filters.uploadSession.selected.auditLog">
                            <td><i class="glyphicon {{toGlyphicon(audit.status)}}"></i></td>
                            <td ng-bind="audit.message"></td>
                        </tr>
                        </tbody>
                    </table>
                    <table
                        class="round tbl-green-g table-responsive table-striped table-hover table-condensed">
                        <thead>
                        <tr class="white-anchor">
                            <th>
                                <div ng-click="sortMembersUploadedBy('membershipNumber')">Membership
                                    Number
                                    <span class="sorting-header"
                                          ng-if="showMembersUploadedColumn('membershipNumber')"
                                          ng-bind="filters.membersUploaded.sortDirection"></span>
                                </div>
                            </th>
                            <th>
                                <div ng-click="sortMembersUploadedBy('mobileNumber')">Mobile Number
                                    <span class="sorting-header"
                                          ng-if="showMembersUploadedColumn('mobileNumber')"
                                          ng-bind="filters.membersUploaded.sortDirection"></span>
                                </div>
                            </th>
                            <th>
                                <div ng-click="sortMembersUploadedBy('email')">Email
                                    <span class="sorting-header"
                                          ng-if="showMembersUploadedColumn('email')"
                                          ng-bind="filters.membersUploaded.sortDirection"></span>
                                </div>
                            </th>
                            <th>
                                <div ng-click="sortMembersUploadedBy('firstName')">First Name
                                    <span class="sorting-header"
                                          ng-if="showMembersUploadedColumn('firstName')"
                                          ng-bind="filters.membersUploaded.sortDirection"></span>
                                </div>
                            </th>
                            <th>
                                <div ng-click="sortMembersUploadedBy('lastName')">Last Number
                                    <span class="sorting-header"
                                          ng-if="showMembersUploadedColumn('lastName')"
                                          ng-bind="filters.membersUploaded.sortDirection"></span>
                                </div>
                            </th>
                            <th>
                                <div ng-click="sortMembersUploadedBy('postcode')">Postcode
                                    <span class="sorting-header"
                                          ng-if="showMembersUploadedColumn('postcode')"
                                          ng-bind="filters.membersUploaded.sortDirection"></span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="member in filters.uploadSession.selected.members | filter:filters.members.quickSearch | orderBy : filters.membersUploaded.orderByField : filters.membersUploaded.reverseSort">
                            <td>{{member.membershipNumber}}</td>
                            <td>{{member.mobileNumber}}</td>
                            <td>{{member.email}}</td>
                            <td>{{member.firstName}}</td>
                            <td>{{member.lastName}}</td>
                            <td>{{member.postcode}}</td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading ng-bind="memberUpdateAuditSummary()"></uib-tab-heading>
                    <table class="round tbl-green-g table-responsive table-striped table-hover table-condensed">
                        <thead>
                        <tr class="white-anchor">
                            <th>
                                <div ng-click="sortMemberUpdateAuditBy('updateTime')">Update Time
                                    <span class="sorting-header" ng-if="showMemberUpdateAuditColumn('updateTime')"
                                          ng-bind="filters.memberUpdateAudit.sortDirection"></span>
                                </div>
                            </th>
                            <th>
                                <div ng-click="sortMemberUpdateAuditBy('memberAction')">Status
                                    <span class="sorting-header" ng-if="showMemberUpdateAuditColumn('memberAction')"
                                          ng-bind="filters.memberUpdateAudit.sortDirection"></span>
                                </div>
                            </th>
                            <th>
                                <div ng-click="sortMemberUpdateAuditBy('rowNumber')">Row Number
                                    <span class="sorting-header" ng-if="showMemberUpdateAuditColumn('rowNumber')"
                                          ng-bind="filters.memberUpdateAudit.sortDirection"></span>
                                </div>
                            </th>
                            <th>
                                <div
                                    ng-click="sortMemberUpdateAuditBy('member')">Member Name
                                    <span class="sorting-header" ng-if="showMemberUpdateAuditColumn('member')"
                                          ng-bind="filters.memberUpdateAudit.sortDirection"></span>
                                </div>
                            </th>
                            <th>
                                <div ng-click="sortMemberUpdateAuditBy('changes')"> Changes
                                    <span class="sorting-header" ng-if="showMemberUpdateAuditColumn('changes')"
                                          ng-bind="filters.memberUpdateAudit.sortDirection"></span>
                                </div>
                            </th>
                            <th>
                                <div ng-click="sortMemberUpdateAuditBy('auditMessage')">Audit Message
                                    <span class="sorting-header"
                                          ng-if="showMemberUpdateAuditColumn('auditMessage')"
                                          ng-bind="filters.memberUpdateAudit.sortDirection"></span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="memberUpdateAudit in filteredMemberUpdateAudit = (memberUpdateAudit | filter:filters.members.quickSearch | filter:filters.memberUpdateAudit.filterSelection | orderBy : filters.memberUpdateAudit.orderByField : filters.memberUpdateAudit.reverseSort)">
                            <td class="text-nowrap">{{memberUpdateAudit.updateTime | lastLoggedInDateDisplayed}}</td>
                            <td><i class="glyphicon {{toGlyphicon(memberUpdateAudit.memberAction)}}"></i></td>
                            <td>{{memberUpdateAudit.rowNumber}}</td>
                            <td>{{memberUpdateAudit.memberId | memberIdToFullName : members : '(none)': true}}</td>
                            <td>{{memberUpdateAudit.changes}}</td>
                            <td>{{memberUpdateAudit.auditMessage}}
                                <span ng-if="memberUpdateAudit.auditErrorMessage">
                            <strong>Error Message: </strong>
                        <span ng-bind="memberUpdateAudit.auditErrorMessage"></span>
                        <br>
                        <input type="submit" ng-disabled="display.saveInProgress"
                               value="Reattempt creation of {{memberUpdateAudit.member | fullName}}"
                               ng-click="createMemberFromAudit(memberUpdateAudit.member)"
                               title="Reattempt creation of {{memberUpdateAudit.member | fullName}}"
                               ng-class="display.saveInProgress ? 'disabled-button-form': 'button-form'">
                        </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>

</uib-accordion-group>
<uib-accordion-group is-open="memberAuditOpen">
    <uib-accordion-heading>
        <div class="accordion-title" ng-click="showArea('member-audit')">
            <img src="assets/images/ramblers/icon-members.png" alt="members area">
            Member Login Audit <i class="pull-right fa fa-lg darkred"
                                  ng-class="memberAuditOpen ? 'fa fa-minus-circle' : 'fa fa-plus-circle'"></i>
        </div>
    </uib-accordion-heading>
    <uib-tabset>
        <uib-tab ng-repeat="tab in memberAuditTabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
            {{tab.content}}
        </uib-tab>
    </uib-tabset>
    <div class="admin-frame round-except-top-left">
        <div class="admin-header-background round">
            <div class="admin-header-container">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input ng-click="refreshMemberAudit()" ng-model="filters.members.quickSearch"
                               class="form-control input-sm round"
                               type="text" placeholder="Quick Search">
                    </div>
                    <div class="form-group">
                        <select ng-model="filters.members.orderByDateDescending" class="form-control input-sm">
                            <option value="false">Order By Date Ascending</option>
                            <option selected="selected" value="true">Order By Date Descending</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div ng-if="allowEdits" class="cta-add-new round">
                            <a href="" ng-click="deleteMemberAudit(filteredMemberAudit)" data-toggle="modal"
                               title="Clear">Delete Displayed Audit</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <p class="audit-search-results round">Showing {{filteredMemberAudit.length}} member audit
                                record(s)</p>
                        </div>
                    </div>
                </form>
            </div>
            <table class="round tbl-green-g table-responsive table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>User Name</th>
                    <th>Full Name</th>
                    <th>Login Successful</th>
                    <th>Login Response</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="memberAudit in filteredMemberAudit = (memberAudit | filter:filters.members.quickSearch | orderBy: 'loginTime':filters.members.orderByDateDescending)">
                    <td class="nowrap">{{memberAudit.loginTime | lastLoggedInDateDisplayed}}</td>
                    <td>{{memberAudit.userName}}</td>
                    <td>{{memberAudit.member | fullNameWithAlias}}</td>
                    <td ng-class="memberAudit.loginResponse.memberLoggedIn ? 'checkbox-on' : 'checkbox-off'"></td>
                    <td>{{memberAudit.loginResponse.alertMessage}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</uib-accordion-group>
<ng-include src="'partials/admin/member-admin-dialog.html'"></ng-include>
