<app-page [ngClass]="{'busy': notifyTarget.busy}" lastBreadcrumb="admin" pageTitle="Personal details">
  <div class="row thumbnail">
    <div class="col-sm-3">
      <div class="item-panel-heading">
        <i class="far fa-id-card fa-5x ramblers"></i>
        <h5>Change password</h5>
        <h6>And change login user name</h6>
      </div>
    </div>
    <div class="col col-sm-9">
      <div class="row" *ngIf="member">
        <div class="col col-sm-12">
          <div class="form-group">
            <label for="prof-login-user-name">Login User Name</label>
            <input [(ngModel)]="enteredMemberCredentials.userName" type="text" class="form-control input-sm"
                   autocomplete="username"
                   id="prof-login-user-name"
                   placeholder="Enter login user name here">
          </div>
        </div>
        <div class="col col-sm-12">
          <div class="form-group">
            <label for="prof-new-password">New Password</label>
            <input [(ngModel)]="enteredMemberCredentials.newPassword" type="password"
                   autocomplete="new-password"
                   class="form-control input-sm" id="prof-new-password" placeholder="Enter new password">
          </div>
        </div>
        <div class="col col-sm-12">
          <div class="form-group">
            <label for="prof-new-password-confirm">Confirm New Password</label>
            <input [(ngModel)]="enteredMemberCredentials.newPasswordConfirm" type="password"
                   autocomplete="new-password"
                   class="form-control input-sm" id="prof-new-password-confirm"
                   placeholder="Confirm new password">
          </div>
        </div>
        <div class="col col-sm-12">
          <input type="submit" [disabled]="false" value="Back to admin" (click)="profileService.backToAdmin()"
                 class="button-form button-form-left">
          <input type="submit" [disabled]="false" value="Save Changes" (click)="saveLoginDetails()"
                 [ngClass]="member && !notifyTarget.busy? 'button-form button-form-left': 'disabled-button-form button-form-left'">
          <input type="submit" value="Undo Changes" (click)="undoLoginDetails()"
                 [ngClass]="member && !notifyTarget.busy? 'button-form button-form-left': 'disabled-button-form button-form-left'">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-12">
        <div class="alert {{notifyTarget.alertClass}} mt-12" *ngIf="notifyTarget.showAlert"><i
          class="glyphicon {{notifyTarget.alert.icon}}"> </i><strong *ngIf="notifyTarget.alertTitle">
          {{notifyTarget.alertTitle}}: </strong> {{notifyTarget.alertMessage}}
          <span *ngIf="notifyTarget.showContactUs"> contact our <app-contact-us class="alert-link" role="membership"
                                                                                text="Membership Administrator"></app-contact-us>
          </span>
        </div>
      </div>
    </div>
  </div>
</app-page>
