<div ng-class="{'busy': notify.busy}" class="modal" id="reset-password-failed-dialog" tabindex="-1" role="dialog" data-backdrop="true"
     aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Reset my <em>EKWG</em> password</h4>
                </div>
                <div class="modal-body">
                    <div ng-if="notify.showAlert" class="row">
                        <div class="col-sm-12">
                            <div class="alert {{notify.alertClass}}"><i
                                class="glyphicon {{notify.alert.icon}}"> </i><strong ng-if="notify.alertTitle">
                                {{notify.alertTitle}}: </strong> {{notify.alertMessage}}<span
                                ng-if="notify.showContactUs">, or contact our
                                <contact-us class="alert-link" role="membership"
                                            text="Membership Administrator"></contact-us>.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row col-sm-12">
                        <input type="reset" value="Close" ng-click="actions.close()" title="close"
                               ng-class="notify.busy ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                        <input type="reset" value="Restart Forgot Password" ng-click="actions.forgotPassword()"
                               title="I've forgotten my password" ng-class="notify.busy ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
