<div class="form-group">
  <label *ngIf="label" [for]="id">{{label}}:</label>
  <div *ngIf="dateValue" [ngClass]="size ? 'input-group input-group-' + size: 'input-group input-group-sm'">
    <input [ngModel]="dateValue.date"
           [id]="id"
           (ngModelChange)="onModelChange($event)"
           placeholder="enter date"
           #dp="bsDatepicker"
           bsDatepicker [bsConfig]="{  isAnimated: true, dateInputFormat: 'ddd DD-MMM-YYYY',
                               containerClass: 'theme-ramblers'}"
           type="text" class="form-control" [ngClass]="size ? 'input-' + size: 'input-sm'"/>
    <div class="input-group-btn">
      <button class="btn btn-default" [ngClass]="size ? 'btn-md-' + size: 'btn-sm'"
              (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen"><i
        class="glyphicon glyphicon-calendar"></i>
      </button>
    </div>
  </div>
</div>
