@import "../assets/styles/colours"

.accordion-image
  width: 30px
  padding-right: 5px

.accordion-title
  color: $ramblers-colour-legacy-red
  font-weight: bold
  padding-top: 2px
  display: inline-flex

.accordion-state-image
  color: $ramblers-colour-legacy-red
  padding-top: 6px
